Repository rh0108/ethereum-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PaulRBerg, @zac-williamson, @thomas-waite

test(protocol): test blockTimeStamp permissioning system permissioning based tests, move various metaData based constants to the same location, update imports
  packages/aztec.js/src/note/utils.js
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
  packages/protocol/contracts/test/ERC1724/ZkAssetTest.sol
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/validators/swap/abiEncoder.js
  packages/protocol/test/ACE/validators/swap/index.js
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/ERC1724/ZkAssetMintable.js
  packages/protocol/test/helpers/ERC1724.js
  packages/protocol/test/libs/MetaDataUtils.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): test blockTimeStamp permissioning system permissioning based tests, move various metaData based constants to the same location, update imports
  packages/aztec.js/src/note/utils.js
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
  packages/protocol/contracts/test/ERC1724/ZkAssetTest.sol
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/validators/swap/abiEncoder.js
  packages/protocol/test/ACE/validators/swap/index.js
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/ERC1724/ZkAssetMintable.js
  packages/protocol/test/helpers/ERC1724.js
  packages/protocol/test/libs/MetaDataUtils.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(extension): saving note access as batch + tests
  packages/extension/src/background/database/models/noteAccess/index.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/access/__tests__/createBulkNotes.spec.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/access/__tests__/createUpdateBulkNotes.spec.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/access/createBulkNoteAccess.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/access/index.js
  packages/extension/src/utils/asyncFlatMap.js
Owners: none

refactor(extension): saving note access as batch + tests
  packages/extension/src/background/database/models/noteAccess/index.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/access/__tests__/createBulkNotes.spec.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/access/__tests__/createUpdateBulkNotes.spec.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/access/createBulkNoteAccess.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/access/index.js
  packages/extension/src/utils/asyncFlatMap.js
Owners: none

refactor(protocol): implement PR feedback fix superfluous mapping, add some explanatory comments, update tests
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
  packages/protocol/contracts/interfaces/IZkAsset.sol
  packages/protocol/contracts/libs/MetaDataUtils.sol
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/libs/MetaDataUtils.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(protocol): implement PR feedback fix superfluous mapping, add some explanatory comments, update tests
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
  packages/protocol/contracts/interfaces/IZkAsset.sol
  packages/protocol/contracts/libs/MetaDataUtils.sol
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/libs/MetaDataUtils.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): add extra 0 address check
  packages/protocol/contracts/ACE/noteRegistry/proxies/AdminUpgradeabilityProxy.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): add extra 0 address check
  packages/protocol/contracts/ACE/noteRegistry/proxies/AdminUpgradeabilityProxy.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(protocol): remove check in updateNoteMetaData()
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
  packages/protocol/test/ERC1724/ZkAsset.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat: add publicRange proof
  packages/aztec.js/src/proof/index.js
  packages/aztec.js/src/proof/publicRange/helpers.js
  packages/aztec.js/src/proof/publicRange/index.js
  packages/aztec.js/src/proof/publicRange/verifier.js
  packages/aztec.js/src/proof/types.js
  packages/aztec.js/test/proof/publicRange/index.js
  packages/aztec.js/test/proof/publicRange/verifier.js
  packages/dev-utils/src/proofs.js
  packages/protocol/contracts/ACE/validators/publicRange/PublicRange.sol
  packages/protocol/contracts/ACE/validators/publicRange/PublicRangeABIEncoder.sol
  packages/protocol/contracts/interfaces/IAZTEC.sol
  packages/protocol/contracts/interfaces/PublicRangeInterface.sol
  packages/protocol/contracts/test/ACE/validators/publicRange/PublicRangeABIEncoderTest.sol
  packages/protocol/migrations/8_deploy_public_range.js
  packages/protocol/test/ACE/validators/publicRange/abiEncoder.js
  packages/protocol/test/ACE/validators/publicRange/index.js
  packages/protocol/test/helpers/proof.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): set deterministic ganache accounts credit to Charlie Cowan - @charlie-g-cowan - work taken feat-wallet-develop branch
  .circleci/config.yml
  packages/protocol/.env.example
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
  packages/protocol/scripts/test.sh
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/helpers/ERC1724.js
  packages/protocol/truffle-config.js
Owners: @PaulRBerg, @zac-williamson, @thomas-waite

feat(protocol): set deterministic ganache accounts credit to Charlie Cowan - @charlie-g-cowan - work taken feat-wallet-develop branch
  .circleci/config.yml
  packages/protocol/.env.example
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
  packages/protocol/scripts/test.sh
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/helpers/ERC1724.js
  packages/protocol/truffle-config.js
Owners: @PaulRBerg, @zac-williamson, @thomas-waite

refactor(protocol): implement PR feedback explicit check in MetaDataUtils.sol that addressPos is in bounds fix circleci config.yml file, update tests
  .circleci/config.yml
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
  packages/protocol/contracts/libs/MetaDataUtils.sol
  packages/protocol/contracts/test/ERC1724/ZkAssetTest.sol
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/ERC1724/ZkAssetMintable.js
  packages/protocol/test/libs/MetaDataUtils.js
Owners: @PaulRBerg, @zac-williamson, @thomas-waite

refactor(protocol): implement PR feedback explicit check in MetaDataUtils.sol that addressPos is in bounds fix circleci config.yml file, update tests
  .circleci/config.yml
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
  packages/protocol/contracts/libs/MetaDataUtils.sol
  packages/protocol/contracts/test/ERC1724/ZkAssetTest.sol
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/ERC1724/ZkAssetMintable.js
  packages/protocol/test/libs/MetaDataUtils.js
Owners: @PaulRBerg, @zac-williamson, @thomas-waite

refactor(extension): refactored saving assets with batches
  packages/extension/src/background/database/index.js
  packages/extension/src/background/database/utils/clearDb.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/helpers/SyncManager.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/addAsset/createOrUpdateAsset.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/addAsset/index.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/asset/__tests__/createBulkAssetss.spec.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/asset/createBulkAssets.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/asset/index.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/access/__tests__/createUpdateBulkNotes.spec.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/note/__tests__/createBulkNotes.spec.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/note/__tests__/createNote.spec.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/note/__tests__/updateBulkNotes.spec.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/note/__tests__/updateNote.spec.js
Owners: none

refactor(extension): refactored saving assets with batches
  packages/extension/src/background/database/index.js
  packages/extension/src/background/database/utils/clearDb.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/helpers/SyncManager.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/addAsset/createOrUpdateAsset.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/addAsset/index.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/asset/__tests__/createBulkAssetss.spec.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/asset/createBulkAssets.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/asset/index.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/access/__tests__/createUpdateBulkNotes.spec.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/note/__tests__/createBulkNotes.spec.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/note/__tests__/createNote.spec.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/note/__tests__/updateBulkNotes.spec.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/note/__tests__/updateNote.spec.js
Owners: none

refactor(extension): refactored account saving with batches
  packages/extension/src/background/database/models/account/index.js
  packages/extension/src/background/services/eventsSyncServices/AccountSyncService/helpers/SyncManager.js
  packages/extension/src/background/services/eventsSyncServices/AccountSyncService/utils/account/__tests__/createBulkAccounts.spec.js
  packages/extension/src/background/services/eventsSyncServices/AccountSyncService/utils/account/createBulkAccounts.js
  packages/extension/src/background/services/eventsSyncServices/AccountSyncService/utils/account/index.js
  packages/extension/src/background/services/eventsSyncServices/AccountSyncService/utils/addAccount/createOrUpdateAccount.js
  packages/extension/src/background/services/eventsSyncServices/AccountSyncService/utils/addAccount/index.js
Owners: none

refactor(extension): refactored account saving with batches
  packages/extension/src/background/database/models/account/index.js
  packages/extension/src/background/services/eventsSyncServices/AccountSyncService/helpers/SyncManager.js
  packages/extension/src/background/services/eventsSyncServices/AccountSyncService/utils/account/__tests__/createBulkAccounts.spec.js
  packages/extension/src/background/services/eventsSyncServices/AccountSyncService/utils/account/createBulkAccounts.js
  packages/extension/src/background/services/eventsSyncServices/AccountSyncService/utils/account/index.js
  packages/extension/src/background/services/eventsSyncServices/AccountSyncService/utils/addAccount/createOrUpdateAccount.js
  packages/extension/src/background/services/eventsSyncServices/AccountSyncService/utils/addAccount/index.js
Owners: none

refactor(extension): merging 3 sync services into one + minor
  packages/extension/src/background/database/helpers/Model/index.js
  packages/extension/src/background/database/helpers/Model/latest.js
  packages/extension/src/background/database/helpers/__tests__/latest.spec.js
  packages/extension/src/background/services/EventService/helpers/AssetsSyncManager.js
  packages/extension/src/background/services/EventService/helpers/NotesSyncManager.js
  packages/extension/src/background/services/EventService/index.js
  packages/extension/src/background/services/EventService/utils/__tests__/BenchmarkNoteSyncServiceTestnet.spec.js
  packages/extension/src/background/services/EventService/utils/__tests__/BenchmarkTopicsNumber.spec.js
  packages/extension/src/background/services/EventService/utils/__tests__/NoteSyncService.spec.js
  packages/extension/src/background/services/EventService/utils/__tests__/helpers/AuthService.js
  packages/extension/src/background/services/EventService/utils/access/__tests__/createUpdateBulkNotes.spec.js
  packages/extension/src/background/services/EventService/utils/access/createBulkNoteAccess.js
  packages/extension/src/background/services/EventService/utils/access/index.js
  packages/extension/src/background/services/EventService/utils/account/__tests__/createBulkAccounts.spec.js
  packages/extension/src/background/services/EventService/utils/account/createBulkAccounts.js
  packages/extension/src/background/services/EventService/utils/account/index.js
  packages/extension/src/background/services/EventService/utils/asset/__tests__/createBulkAssetss.spec.js
  packages/extension/src/background/services/EventService/utils/asset/createBulkAssets.js
  packages/extension/src/background/services/EventService/utils/asset/index.js
  packages/extension/src/background/services/EventService/utils/fetchAccount.js
  packages/extension/src/background/services/EventService/utils/fetchAssets.js
  packages/extension/src/background/services/EventService/utils/fetchNotes.js
  packages/extension/src/background/services/EventService/utils/helpers/associatedNotesWithOwner.js
  packages/extension/src/background/services/EventService/utils/helpers/decodeNoteLogs.js
  packages/extension/src/background/services/EventService/utils/note/__tests__/createBulkNotes.spec.js
  packages/extension/src/background/services/EventService/utils/note/__tests__/createNote.spec.js
  packages/extension/src/background/services/EventService/utils/note/__tests__/updateBulkNotes.spec.js
  packages/extension/src/background/services/EventService/utils/note/__tests__/updateNote.spec.js
  packages/extension/src/background/services/EventService/utils/note/createBulkNotes.js
  packages/extension/src/background/services/EventService/utils/note/createNote.js
  packages/extension/src/background/services/EventService/utils/note/index.js
  packages/extension/src/background/services/EventService/utils/note/updateBulkNotes.js
  packages/extension/src/background/services/EventService/utils/note/updateNote.js
  packages/extension/src/background/services/EventService/utils/saveNotes.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/__tests__/AssetsSyncService.spec.js
Owners: none

refactor(extension): merging 3 sync services into one + minor
  packages/extension/src/background/database/helpers/Model/index.js
  packages/extension/src/background/database/helpers/Model/latest.js
  packages/extension/src/background/database/helpers/__tests__/latest.spec.js
  packages/extension/src/background/services/EventService/helpers/AssetsSyncManager.js
  packages/extension/src/background/services/EventService/helpers/NotesSyncManager.js
  packages/extension/src/background/services/EventService/index.js
  packages/extension/src/background/services/EventService/utils/__tests__/BenchmarkNoteSyncServiceTestnet.spec.js
  packages/extension/src/background/services/EventService/utils/__tests__/BenchmarkTopicsNumber.spec.js
  packages/extension/src/background/services/EventService/utils/__tests__/NoteSyncService.spec.js
  packages/extension/src/background/services/EventService/utils/__tests__/helpers/AuthService.js
  packages/extension/src/background/services/EventService/utils/access/__tests__/createUpdateBulkNotes.spec.js
  packages/extension/src/background/services/EventService/utils/access/createBulkNoteAccess.js
  packages/extension/src/background/services/EventService/utils/access/index.js
  packages/extension/src/background/services/EventService/utils/account/__tests__/createBulkAccounts.spec.js
  packages/extension/src/background/services/EventService/utils/account/createBulkAccounts.js
  packages/extension/src/background/services/EventService/utils/account/index.js
  packages/extension/src/background/services/EventService/utils/asset/__tests__/createBulkAssetss.spec.js
  packages/extension/src/background/services/EventService/utils/asset/createBulkAssets.js
  packages/extension/src/background/services/EventService/utils/asset/index.js
  packages/extension/src/background/services/EventService/utils/fetchAccount.js
  packages/extension/src/background/services/EventService/utils/fetchAssets.js
  packages/extension/src/background/services/EventService/utils/fetchNotes.js
  packages/extension/src/background/services/EventService/utils/helpers/associatedNotesWithOwner.js
  packages/extension/src/background/services/EventService/utils/helpers/decodeNoteLogs.js
  packages/extension/src/background/services/EventService/utils/note/__tests__/createBulkNotes.spec.js
  packages/extension/src/background/services/EventService/utils/note/__tests__/createNote.spec.js
  packages/extension/src/background/services/EventService/utils/note/__tests__/updateBulkNotes.spec.js
  packages/extension/src/background/services/EventService/utils/note/__tests__/updateNote.spec.js
  packages/extension/src/background/services/EventService/utils/note/createBulkNotes.js
  packages/extension/src/background/services/EventService/utils/note/createNote.js
  packages/extension/src/background/services/EventService/utils/note/index.js
  packages/extension/src/background/services/EventService/utils/note/updateBulkNotes.js
  packages/extension/src/background/services/EventService/utils/note/updateNote.js
  packages/extension/src/background/services/EventService/utils/saveNotes.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/__tests__/AssetsSyncService.spec.js
Owners: none

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/ACE.json
  packages/contract-artifacts/artifacts/AdminUpgradeabilityProxy.json
  packages/contract-artifacts/artifacts/Behaviour201907.json
  packages/contract-artifacts/artifacts/BehaviourAdjustable201907.json
  packages/contract-artifacts/artifacts/BehaviourBase201907.json
  packages/contract-artifacts/artifacts/FactoryAdjustable201907.json
  packages/contract-artifacts/artifacts/FactoryBase201907.json
  packages/contract-artifacts/artifacts/IZkAsset.json
  packages/contract-artifacts/artifacts/MetaDataUtils.json
  packages/contract-artifacts/artifacts/TestFactory.json
  packages/contract-artifacts/artifacts/ZkAsset.json
  packages/contract-artifacts/artifacts/ZkAssetAdjustable.json
  packages/contract-artifacts/artifacts/ZkAssetBase.json
  packages/contract-artifacts/artifacts/ZkAssetBurnable.json
  packages/contract-artifacts/artifacts/ZkAssetBurnableBase.json
  packages/contract-artifacts/artifacts/ZkAssetDetailed.json
  packages/contract-artifacts/artifacts/ZkAssetMintable.json
  packages/contract-artifacts/artifacts/ZkAssetMintableBase.json
  packages/contract-artifacts/artifacts/ZkAssetOwnable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnableBase.json
Owners: @PaulRBerg

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/ACE.json
  packages/contract-artifacts/artifacts/AdminUpgradeabilityProxy.json
  packages/contract-artifacts/artifacts/Behaviour201907.json
  packages/contract-artifacts/artifacts/BehaviourAdjustable201907.json
  packages/contract-artifacts/artifacts/BehaviourBase201907.json
  packages/contract-artifacts/artifacts/FactoryAdjustable201907.json
  packages/contract-artifacts/artifacts/FactoryBase201907.json
  packages/contract-artifacts/artifacts/IZkAsset.json
  packages/contract-artifacts/artifacts/MetaDataUtils.json
  packages/contract-artifacts/artifacts/TestFactory.json
  packages/contract-artifacts/artifacts/ZkAsset.json
  packages/contract-artifacts/artifacts/ZkAssetAdjustable.json
  packages/contract-artifacts/artifacts/ZkAssetBase.json
  packages/contract-artifacts/artifacts/ZkAssetBurnable.json
  packages/contract-artifacts/artifacts/ZkAssetBurnableBase.json
  packages/contract-artifacts/artifacts/ZkAssetDetailed.json
  packages/contract-artifacts/artifacts/ZkAssetMintable.json
  packages/contract-artifacts/artifacts/ZkAssetMintableBase.json
  packages/contract-artifacts/artifacts/ZkAssetOwnable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnableBase.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

fix(extension): fixed import for fetchAztecAccount + tests
  packages/extension/src/background/services/EventService/index.js
  packages/extension/src/background/services/EventService/utils/__tests__/EventService.spec.js
  packages/extension/src/background/services/EventService/utils/account/__tests__/createAccount.spec.js
  packages/extension/src/background/services/EventService/utils/account/createAccount.js
  packages/extension/src/background/services/EventService/utils/account/index.js
  packages/extension/src/background/services/EventService/utils/fetchAccount.js
Owners: none

fix(extension): fixed import for fetchAztecAccount + tests
  packages/extension/src/background/services/EventService/index.js
  packages/extension/src/background/services/EventService/utils/__tests__/EventService.spec.js
  packages/extension/src/background/services/EventService/utils/account/__tests__/createAccount.spec.js
  packages/extension/src/background/services/EventService/utils/account/createAccount.js
  packages/extension/src/background/services/EventService/utils/account/index.js
  packages/extension/src/background/services/EventService/utils/fetchAccount.js
Owners: none

feat(extension): added support many networks in eventService
  packages/extension/src/background/database/helpers/Model/add.js
  packages/extension/src/background/database/helpers/Model/bulkAdd.js
  packages/extension/src/background/database/helpers/Model/bulkPut.js
  packages/extension/src/background/database/helpers/Model/get.js
  packages/extension/src/background/database/helpers/Model/index.js
  packages/extension/src/background/database/helpers/Model/latest.js
  packages/extension/src/background/database/helpers/Model/put.js
  packages/extension/src/background/database/helpers/Model/query.js
  packages/extension/src/background/database/index.js
  packages/extension/src/background/database/models/note/index.js
  packages/extension/src/background/database/utils/clearDb.js
  packages/extension/src/background/services/EventService/helpers/AssetsSyncManager.js
  packages/extension/src/background/services/EventService/index.js
  packages/extension/src/background/services/EventService/utils/__tests__/EventService.spec.js
  packages/extension/src/background/services/EventService/utils/fetchNotes.js
  packages/extension/src/background/services/EventService/utils/helpers/decodeNoteLogs.js
Owners: none

feat(extension): added support many networks in eventService
  packages/extension/src/background/database/helpers/Model/add.js
  packages/extension/src/background/database/helpers/Model/bulkAdd.js
  packages/extension/src/background/database/helpers/Model/bulkPut.js
  packages/extension/src/background/database/helpers/Model/get.js
  packages/extension/src/background/database/helpers/Model/index.js
  packages/extension/src/background/database/helpers/Model/latest.js
  packages/extension/src/background/database/helpers/Model/put.js
  packages/extension/src/background/database/helpers/Model/query.js
  packages/extension/src/background/database/index.js
  packages/extension/src/background/database/models/note/index.js
  packages/extension/src/background/database/utils/clearDb.js
  packages/extension/src/background/services/EventService/helpers/AssetsSyncManager.js
  packages/extension/src/background/services/EventService/index.js
  packages/extension/src/background/services/EventService/utils/__tests__/EventService.spec.js
  packages/extension/src/background/services/EventService/utils/fetchNotes.js
  packages/extension/src/background/services/EventService/utils/helpers/decodeNoteLogs.js
Owners: none

fix(extension): fixed imports
  packages/extension/src/background/database/index.js
  packages/extension/src/background/services/EventService/helpers/NotesSyncManager.js
  packages/extension/src/background/services/EventService/utils/saveNotes.js
Owners: none

fix(extension): fixed imports
  packages/extension/src/background/database/index.js
  packages/extension/src/background/services/EventService/helpers/NotesSyncManager.js
  packages/extension/src/background/services/EventService/utils/saveNotes.js
Owners: none

build(bn128): update module clean script to remove /dist
  packages/bn128/package.json
Owners: none

build(bn128): update module clean script to remove /dist
  packages/bn128/package.json
Owners: none

refactor(extension): added input params `networkId` to funcs
  packages/extension/src/background/services/EventService/helpers/AssetsSyncManager.js
  packages/extension/src/background/services/EventService/helpers/NotesSyncManager.js
  packages/extension/src/background/services/EventService/utils/__tests__/shouldBeRefactored/SyncManager.spec.js
  packages/extension/src/background/services/EventService/utils/fetchAccount.js
  packages/extension/src/background/services/EventService/utils/fetchAssets.js
  packages/extension/src/background/services/EventService/utils/note/createBulkNotes.js
  packages/extension/src/background/services/EventService/utils/note/createNote.js
  packages/extension/src/background/services/EventService/utils/note/index.js
  packages/extension/src/background/services/EventService/utils/note/updateBulkNotes.js
  packages/extension/src/background/services/EventService/utils/note/updateNote.js
  packages/extension/src/background/services/EventService/utils/saveNotes.js
Owners: none

refactor(extension): added input params `networkId` to funcs
  packages/extension/src/background/services/EventService/helpers/AssetsSyncManager.js
  packages/extension/src/background/services/EventService/helpers/NotesSyncManager.js
  packages/extension/src/background/services/EventService/utils/__tests__/shouldBeRefactored/SyncManager.spec.js
  packages/extension/src/background/services/EventService/utils/fetchAccount.js
  packages/extension/src/background/services/EventService/utils/fetchAssets.js
  packages/extension/src/background/services/EventService/utils/note/createBulkNotes.js
  packages/extension/src/background/services/EventService/utils/note/createNote.js
  packages/extension/src/background/services/EventService/utils/note/index.js
  packages/extension/src/background/services/EventService/utils/note/updateBulkNotes.js
  packages/extension/src/background/services/EventService/utils/note/updateNote.js
  packages/extension/src/background/services/EventService/utils/saveNotes.js
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

.circleci                       @PaulRBerg
packages/aztec.js               @zac-williamson @PaulRBerg @thomas-waite
packages/contract-addresses     @PaulRBerg
packages/contract-artifacts     @PaulRBerg
packages/dev-utils              @PaulRBerg @thomas-waite
packages/monorepo-scripts       @PaulRBerg
packages/protocol               @zac-williamson @PaulRBerg @thomas-waite
packages/huff                   @zac-williamson
packages/weierstrudel           @zac-williamson
