Repository rh0108/ethereum-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PaulRBerg, @zac-williamson, @thomas-waite

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/ZkAssetMintable.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(extension): ensure popup is always ontop
  packages/extension/src/background/tasks/acceptConnection.js
  packages/extension/src/background/tasks/init.js
Owners: none

feat(extension): ensure popup is always ontop
  packages/extension/src/background/tasks/acceptConnection.js
  packages/extension/src/background/tasks/init.js
Owners: none

fix(extension): fix registerAddress api
  packages/extension/src/background/services/AuthService/index.js
  packages/extension/src/background/services/GraphQLService/resolvers/index.js
  packages/extension/src/client/index.js
Owners: none

fix(extension): fix registerAddress api
  packages/extension/src/background/services/AuthService/index.js
  packages/extension/src/background/services/GraphQLService/resolvers/index.js
  packages/extension/src/client/index.js
Owners: none

feat(extension): add testing createNoteFromBalance api
  packages/extension/package.json
  packages/extension/src/background/services/AuthService/index.js
  packages/extension/src/background/services/GraphQLService/resolvers/createNoteFromBalance.js
  packages/extension/src/background/services/GraphQLService/resolvers/index.js
  packages/extension/src/background/services/GraphQLService/typeDefs.js
  packages/extension/src/background/services/SyncService/helpers/SyncManager.js
  packages/extension/src/client/apis/asset.js
  packages/extension/src/client/index.js
  packages/extension/src/config/error.js
  packages/extension/src/config/noteStatus.js
  packages/extension/src/utils/__tests__/viewingKey.spec.js
  packages/extension/src/utils/viewingKey/constructor.js
  packages/extension/src/utils/viewingKey/index.js
  packages/extension/src/utils/viewingKey/toString.js
Owners: none

feat(extension): add testing createNoteFromBalance api
  packages/extension/package.json
  packages/extension/src/background/services/AuthService/index.js
  packages/extension/src/background/services/GraphQLService/resolvers/createNoteFromBalance.js
  packages/extension/src/background/services/GraphQLService/resolvers/index.js
  packages/extension/src/background/services/GraphQLService/typeDefs.js
  packages/extension/src/background/services/SyncService/helpers/SyncManager.js
  packages/extension/src/client/apis/asset.js
  packages/extension/src/client/index.js
  packages/extension/src/config/error.js
  packages/extension/src/config/noteStatus.js
  packages/extension/src/utils/__tests__/viewingKey.spec.js
  packages/extension/src/utils/viewingKey/constructor.js
  packages/extension/src/utils/viewingKey/index.js
  packages/extension/src/utils/viewingKey/toString.js
Owners: none

fix(extension): point aztec.js to monopero to avoid unsafe-eval error
  packages/extension/babel.config.js
Owners: none

fix(extension): point aztec.js to monopero to avoid unsafe-eval error
  packages/extension/babel.config.js
Owners: none

feat(extension): adjust key sizes constants to match real values
  packages/extension/src/config/constants.js
  packages/extension/src/utils/__tests__/metadata.spec.js
  packages/extension/src/utils/metadata/constructor.js
  packages/extension/src/utils/metadata/toString.js
Owners: none

feat(extension): adjust key sizes constants to match real values
  packages/extension/src/config/constants.js
  packages/extension/src/utils/__tests__/metadata.spec.js
  packages/extension/src/utils/metadata/constructor.js
  packages/extension/src/utils/metadata/toString.js
Owners: none

feat(graph): adjust viewing key size
  packages/graph/mappings/ZKAsset.ts
  packages/graph/tests/ZkAsset.spec.js
Owners: none

feat(graph): adjust viewing key size
  packages/graph/mappings/ZKAsset.ts
  packages/graph/tests/ZkAsset.spec.js
Owners: none

fix(extension): resolve data when it contains normal error
  packages/extension/src/background/tasks/acceptConnection.js
  packages/extension/src/content/utils/fetchFromBackgroundScript.js
Owners: none

fix(extension): resolve data when it contains normal error
  packages/extension/src/background/tasks/acceptConnection.js
  packages/extension/src/content/utils/fetchFromBackgroundScript.js
Owners: none

fix(extension): fix typo
  packages/extension/src/background/services/GraphQLService/resolvers/index.js
Owners: none

fix(extension): fix typo
  packages/extension/src/background/services/GraphQLService/resolvers/index.js
Owners: none

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

fix(extension): check if errorData is empty before getting its key
  packages/extension/src/background/tasks/acceptConnection.js
Owners: none

fix(extension): check if errorData is empty before getting its key
  packages/extension/src/background/tasks/acceptConnection.js
Owners: none

feat(extension): pause the sync process when getting an error
  packages/extension/src/background/services/SyncService/helpers/SyncManager.js
  packages/extension/src/background/services/SyncService/utils/fetchNoteFromServer.js
  packages/extension/src/utils/Query.js
Owners: none

feat(extension): pause the sync process when getting an error
  packages/extension/src/background/services/SyncService/helpers/SyncManager.js
  packages/extension/src/background/services/SyncService/utils/fetchNoteFromServer.js
  packages/extension/src/utils/Query.js
Owners: none

fix(aztec.js): added comment noting dependency chain for entropy
  packages/aztec.js/src/note/utils.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(aztec.js): added comment noting dependency chain for entropy
  packages/aztec.js/src/note/utils.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(graph): specify the version of graph-node docker image
  packages/graph/docker-compose.yml
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

.circleci                       @PaulRBerg
packages/aztec.js               @zac-williamson @PaulRBerg @thomas-waite
packages/contract-addresses     @PaulRBerg
packages/contract-artifacts     @PaulRBerg
packages/dev-utils              @PaulRBerg @thomas-waite
packages/monorepo-scripts       @PaulRBerg
packages/protocol               @zac-williamson @PaulRBerg @thomas-waite
packages/huff                   @zac-williamson
packages/weierstrudel           @zac-williamson
