Repository rh0108/ethereum-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PaulRBerg, @zac-williamson, @thomas-waite

docs(protocol): update docs and eslint fixes
  packages/aztec.js/src/proof/joinSplit/index.js
  packages/aztec.js/src/signer/index.js
  packages/aztec.js/test/signer/index.js
  packages/protocol/contracts/libs/LibEIP712.sol
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/libs/LibEIP712.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

docs(protocol): update docs and eslint fixes
  packages/aztec.js/src/proof/joinSplit/index.js
  packages/aztec.js/src/signer/index.js
  packages/aztec.js/test/signer/index.js
  packages/protocol/contracts/libs/LibEIP712.sol
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/libs/LibEIP712.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test: migrate tests to updated signing methods
  packages/aztec.js/test/signer/index.js
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/ERC1724/ZkAssetAdjustable.js
  packages/protocol/test/libs/LibEIP712.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor: create signMultipleNotesForConfidentialTransfer() function
  packages/aztec.js/src/proof/joinSplit/index.js
  packages/aztec.js/src/signer/index.js
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/libs/LibEIP712.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor: create signMultipleNotesForConfidentialTransfer() function
  packages/aztec.js/src/proof/joinSplit/index.js
  packages/aztec.js/src/signer/index.js
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/libs/LibEIP712.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test: migrate tests to updated signing methods
  packages/aztec.js/test/signer/index.js
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/ERC1724/ZkAssetAdjustable.js
  packages/protocol/test/libs/LibEIP712.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): fix LibEIP712.sol tests
  packages/protocol/test/libs/LibEIP712.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): fix LibEIP712.sol tests
  packages/protocol/test/libs/LibEIP712.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

build: add factory contracts into artifact gen and build deployment
  packages/contract-artifacts/src/index.js
  packages/monorepo-scripts/addresses/update.js
Owners: @PaulRBerg

build: add factory contracts into artifact gen and build deployment
  packages/contract-artifacts/src/index.js
  packages/monorepo-scripts/addresses/update.js
Owners: @PaulRBerg

feat(extension): correctly refresh the accounts
  packages/extension/src/client/Aztec/index.js
Owners: none

feat(extension): correctly refresh the accounts
  packages/extension/src/client/Aztec/index.js
Owners: none

fix(aztec.js): fix equality condition check in privateRange construction
  packages/aztec.js/src/proof/privateRange/index.js
  packages/aztec.js/test/proof/privateRange/verifier.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(aztec.js): fix equality condition check in privateRange construction
  packages/aztec.js/src/proof/privateRange/index.js
  packages/aztec.js/test/proof/privateRange/verifier.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): fix sense check breaking test
  packages/aztec.js/src/proof/privateRange/index.js
  packages/protocol/test/ACE/validators/privateRange/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): fix sense check breaking test
  packages/aztec.js/src/proof/privateRange/index.js
  packages/protocol/test/ACE/validators/privateRange/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): make zkAsset templates enforce flags appropriate to type and derive _canConvert implicitly from linked token address
  packages/protocol/contracts/ERC1724/base/ZkAssetOwnableBase.sol
  packages/protocol/contracts/ZkAsset/ZkAssetBase.sol
  packages/protocol/contracts/ZkAsset/ZkAssetMintable.sol
  packages/protocol/contracts/ZkAsset/ZkAssetOwnableBase.sol
  packages/protocol/test/ZkAsset/ZkAsset.js
  packages/protocol/test/ZkAsset/ZkAssetBurnable.js
  packages/protocol/test/ZkAsset/ZkAssetMintable.js
  packages/protocol/test/ZkAsset/ZkAssetOwnable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): make zkAssetOwnable inherit from OpenZepplin Ownable
  package-lock.json
  packages/aztec.js/package-lock.json
  packages/contract-addresses/package-lock.json
  packages/contract-artifacts/package-lock.json
  packages/dev-utils/package-lock.json
  packages/huff/package-lock.json
  packages/protocol/contracts/ERC1724/base/ZkAssetOwnableBase.sol
  packages/protocol/contracts/ZkAsset/ZkAssetMintable.sol
  packages/protocol/package-lock.json
  packages/protocol/test/ZkAsset/ZkAssetBurnable.js
  packages/protocol/test/ZkAsset/ZkAssetMintable.js
  packages/protocol/test/ZkAsset/ZkAssetOwnable.js
  packages/weierstrudel/package-lock.json
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): make zkAssetOwnable inherit from OpenZepplin Ownable
  package-lock.json
  packages/aztec.js/package-lock.json
  packages/contract-addresses/package-lock.json
  packages/contract-artifacts/package-lock.json
  packages/dev-utils/package-lock.json
  packages/huff/package-lock.json
  packages/protocol/contracts/ERC1724/base/ZkAssetOwnableBase.sol
  packages/protocol/contracts/ZkAsset/ZkAssetMintable.sol
  packages/protocol/package-lock.json
  packages/protocol/test/ZkAsset/ZkAssetBurnable.js
  packages/protocol/test/ZkAsset/ZkAssetMintable.js
  packages/protocol/test/ZkAsset/ZkAssetOwnable.js
  packages/weierstrudel/package-lock.json
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): make zkAsset templates enforce flags appropriate to type and derive _canConvert implicitly from linked token address
  packages/protocol/contracts/ERC1724/base/ZkAssetOwnableBase.sol
  packages/protocol/contracts/ZkAsset/ZkAssetBase.sol
  packages/protocol/contracts/ZkAsset/ZkAssetMintable.sol
  packages/protocol/contracts/ZkAsset/ZkAssetOwnableBase.sol
  packages/protocol/test/ZkAsset/ZkAsset.js
  packages/protocol/test/ZkAsset/ZkAssetBurnable.js
  packages/protocol/test/ZkAsset/ZkAssetMintable.js
  packages/protocol/test/ZkAsset/ZkAssetOwnable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(protocol): Move zkAsset templates to relevant folders
  packages/protocol/contracts/ZkAsset/ZkAssetMintable.sol
  packages/protocol/contracts/ZkAsset/base/ZkAssetBase.sol
  packages/protocol/contracts/ZkAsset/base/ZkAssetOwnableBase.sol
  packages/protocol/test/ZkAsset/ZkAssetOwnable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(protocol): Move zkAsset templates to relevant folders
  packages/protocol/contracts/ZkAsset/ZkAssetMintable.sol
  packages/protocol/contracts/ZkAsset/base/ZkAssetBase.sol
  packages/protocol/contracts/ZkAsset/base/ZkAssetOwnableBase.sol
  packages/protocol/test/ZkAsset/ZkAssetOwnable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(protocol): update docstring
  packages/protocol/contracts/ZkAsset/ZkAssetMintable.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(protocol): update docstring
  packages/protocol/contracts/ZkAsset/ZkAssetMintable.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): Add upgraded 0x multisigwithtimelock with tests
  .gitignore
  packages/protocol/contracts/ACE/ACEOwner.sol
  packages/protocol/contracts/MultiSig/MultiSigWallet.sol
  packages/protocol/contracts/MultiSig/MultiSigWalletWithTimeLock.sol
  packages/protocol/contracts/test/TestRejectEther.sol
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/ACEOwner.js
  packages/protocol/test/MultiSig/MultiSigWalletWithTimeLock.js
  packages/protocol/test/timeTravel.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): Add upgraded 0x multisigwithtimelock with tests
  .gitignore
  packages/protocol/contracts/ACE/ACEOwner.sol
  packages/protocol/contracts/MultiSig/MultiSigWallet.sol
  packages/protocol/contracts/MultiSig/MultiSigWalletWithTimeLock.sol
  packages/protocol/contracts/test/TestRejectEther.sol
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/ACEOwner.js
  packages/protocol/test/MultiSig/MultiSigWalletWithTimeLock.js
  packages/protocol/test/timeTravel.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): add ability to disable proofs without waiting on timelock
  packages/protocol/contracts/ACE/ACEOwner.sol
  packages/protocol/test/ACE/ACEOwner.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): fix bug with getValidatorAddress where fn always returned address even if proof disabled
  packages/protocol/contracts/ACE/ACE.sol
  packages/protocol/test/ACE/ACE.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): add ability to disable proofs without waiting on timelock
  packages/protocol/contracts/ACE/ACEOwner.sol
  packages/protocol/test/ACE/ACEOwner.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): remove .only
  packages/protocol/test/MultiSig/MultiSigWalletWithTimeLock.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): remove .only
  packages/protocol/test/MultiSig/MultiSigWalletWithTimeLock.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): fix bug with getValidatorAddress where fn always returned address even if proof disabled
  packages/protocol/contracts/ACE/ACE.sol
  packages/protocol/test/ACE/ACE.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

chore: remove package-lock.json files
  packages/aztec.js/package-lock.json
  packages/contract-addresses/package-lock.json
  packages/contract-artifacts/package-lock.json
  packages/dev-utils/package-lock.json
  packages/huff/package-lock.json
  packages/weierstrudel/package-lock.json
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

chore: remove package-lock.json files
  packages/aztec.js/package-lock.json
  packages/contract-addresses/package-lock.json
  packages/contract-artifacts/package-lock.json
  packages/dev-utils/package-lock.json
  packages/huff/package-lock.json
  packages/weierstrudel/package-lock.json
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(protocol): eslint fixes, doc corrections, remove package-lock
  package-lock.json
  packages/protocol/contracts/ACE/ACE.sol
  packages/protocol/package-lock.json
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/MultiSig/MultiSigWalletWithTimeLock.js
  packages/protocol/test/timeTravel.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(protocol): eslint fixes, doc corrections, remove package-lock
  package-lock.json
  packages/protocol/contracts/ACE/ACE.sol
  packages/protocol/package-lock.json
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/MultiSig/MultiSigWalletWithTimeLock.js
  packages/protocol/test/timeTravel.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): make test of multisig timelock resilient to off by one
  packages/protocol/test/MultiSig/MultiSigWalletWithTimeLock.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): make test of multisig timelock resilient to off by one
  packages/protocol/test/MultiSig/MultiSigWalletWithTimeLock.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): attempt to increase gas to fix coverage exception
  packages/protocol/test/ACE/ACEOwner.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): attempt to increase gas to fix coverage exception
  packages/protocol/test/ACE/ACEOwner.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

.circleci                       @PaulRBerg
packages/aztec.js               @zac-williamson @PaulRBerg @thomas-waite
packages/contract-addresses     @PaulRBerg
packages/contract-artifacts     @PaulRBerg
packages/dev-utils              @PaulRBerg @thomas-waite
packages/monorepo-scripts       @PaulRBerg
packages/protocol               @zac-williamson @PaulRBerg @thomas-waite
packages/huff                   @zac-williamson
packages/weierstrudel           @zac-williamson
