Repository rh0108/ethereum-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PaulRBerg, @zac-williamson, @thomas-waite

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

.circleci                       @PaulRBerg
packages/aztec.js               @zac-williamson @PaulRBerg @thomas-waite
packages/contract-addresses     @PaulRBerg
packages/contract-artifacts     @PaulRBerg
packages/dev-utils              @PaulRBerg @thomas-waite
packages/monorepo-scripts       @PaulRBerg
packages/protocol               @zac-williamson @PaulRBerg @thomas-waite
packages/huff                   @zac-williamson
packages/weierstrudel           @zac-williamson

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

make gitHub's linguist detects solidity code
  .gitattributes
Owners: none

make gitHub's linguist detects solidity code
  .gitattributes
Owners: none

fixed jump table offsets
  packages/huff/src/parser.js
Owners: @zac-williamson

fixed jump table offsets
  packages/huff/src/parser.js
Owners: @zac-williamson

fix: make prettier test pass
  packages/huff/src/parser.js
Owners: @zac-williamson

fix: make prettier test pass
  packages/huff/src/parser.js
Owners: @zac-williamson

feat: add aztecaccountregistry.sol
  packages/extension/contracts/AZTECAccountRegistry.sol
  packages/extension/contracts/AZTECAcountRegistry.sol
  packages/extension/contracts/Migrations.sol
  packages/extension/migrations/1_initial_migrations.js
  packages/extension/migrations/2_AZTEC_ACCOUNT_REGISTRY.js
  packages/extension/package.json
  packages/extension/test/AZTECAccountRegistry.spec.js
  packages/extension/truffle-config.js
Owners: none

feat: add aztecaccountregistry.sol
  packages/extension/contracts/AZTECAccountRegistry.sol
  packages/extension/contracts/AZTECAcountRegistry.sol
  packages/extension/contracts/Migrations.sol
  packages/extension/migrations/1_initial_migrations.js
  packages/extension/migrations/2_AZTEC_ACCOUNT_REGISTRY.js
  packages/extension/package.json
  packages/extension/test/AZTECAccountRegistry.spec.js
  packages/extension/truffle-config.js
Owners: none

feat(extension): intial project scafolding, folder structure
  packages/extension/client/manifest.json
  packages/extension/client/services/GraphQl/index.js
  packages/extension/client/services/GraphQl/resolvers.js
  packages/extension/client/services/GraphQl/schema.graphql
  packages/extension/client/services/GraphQl/schema.js
  packages/extension/client/services/KeyVault/index.js
  packages/extension/client/services/SyncService/index.js
  packages/extension/package.json
  yarn.lock
Owners: none

feat(extension): intial project scafolding, folder structure
  packages/extension/client/manifest.json
  packages/extension/client/services/GraphQl/index.js
  packages/extension/client/services/GraphQl/resolvers.js
  packages/extension/client/services/GraphQl/schema.graphql
  packages/extension/client/services/GraphQl/schema.js
  packages/extension/client/services/KeyVault/index.js
  packages/extension/client/services/SyncService/index.js
  packages/extension/package.json
  yarn.lock
Owners: none

feat(aztec.js): design oop infra for proof construction
  packages/aztec.js/package.json
  packages/aztec.js/src/bn128/index.js
  packages/aztec.js/src/proof-v2/burn/index.js
  packages/aztec.js/src/proof-v2/dividend/index.js
  packages/aztec.js/src/proof-v2/index.js
  packages/aztec.js/src/proof-v2/joinSplit/index.js
  packages/aztec.js/src/proof-v2/joinSplit/verifier.js
  packages/aztec.js/src/proof-v2/mint/index.js
  packages/aztec.js/src/proof-v2/trade/index.js
  packages/aztec.js/src/proof-v2/types.js
  packages/aztec.js/src/proof-v2/utils.js
  packages/aztec.js/src/proof-v2/verifier.js
  packages/aztec.js/src/proof/joinSplit/index.js
  packages/aztec.js/src/proof/proofUtils.js
  packages/aztec.js/src/setup/index.js
  packages/aztec.js/test/helpers/bn128.js
  packages/aztec.js/test/helpers/proof.js
  packages/aztec.js/test/proof-v2/joinSplit/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(aztec.js): design oop infra for proof construction
  packages/aztec.js/package.json
  packages/aztec.js/src/bn128/index.js
  packages/aztec.js/src/proof-v2/burn/index.js
  packages/aztec.js/src/proof-v2/dividend/index.js
  packages/aztec.js/src/proof-v2/index.js
  packages/aztec.js/src/proof-v2/joinSplit/index.js
  packages/aztec.js/src/proof-v2/joinSplit/verifier.js
  packages/aztec.js/src/proof-v2/mint/index.js
  packages/aztec.js/src/proof-v2/trade/index.js
  packages/aztec.js/src/proof-v2/types.js
  packages/aztec.js/src/proof-v2/utils.js
  packages/aztec.js/src/proof-v2/verifier.js
  packages/aztec.js/src/proof/joinSplit/index.js
  packages/aztec.js/src/proof/proofUtils.js
  packages/aztec.js/src/setup/index.js
  packages/aztec.js/test/helpers/bn128.js
  packages/aztec.js/test/helpers/proof.js
  packages/aztec.js/test/proof-v2/joinSplit/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

chore(monorepo-scripts): remove unnecessary dependency on require-dir
  packages/monorepo-scripts/package.json
Owners: @PaulRBerg

chore(monorepo-scripts): remove unnecessary dependency on require-dir
  packages/monorepo-scripts/package.json
Owners: @PaulRBerg

feat(dev-utils): add AztecError class
  packages/dev-utils/src/constants.js
  packages/dev-utils/src/errors.js
Owners: @PaulRBerg, @thomas-waite

feat(dev-utils): add AztecError class
  packages/dev-utils/src/constants.js
  packages/dev-utils/src/errors.js
Owners: @PaulRBerg, @thomas-waite

chore: allow unused _ variables in eslint
  .eslintrc.js
Owners: none

chore: allow unused _ variables in eslint
  .eslintrc.js
Owners: none

chore: update yarn.lock
  yarn.lock
Owners: none

chore: update yarn.lock
  yarn.lock
Owners: none

feat(aztec.js): implement new proof construction api
  packages/aztec.js/src/abiEncoder/encoderFactory.js
  packages/aztec.js/src/abiEncoder/inputCoder.js
  packages/aztec.js/src/bn128/index.js
  packages/aztec.js/src/keccak/index.js
  packages/aztec.js/src/proof-v2/burn/index.js
  packages/aztec.js/src/proof-v2/dividend/index.js
  packages/aztec.js/src/proof-v2/joinSplit/index.js
  packages/aztec.js/src/proof-v2/joinSplit/verifier.js
  packages/aztec.js/src/proof-v2/joinSplitFluid/burn/index.js
  packages/aztec.js/src/proof-v2/joinSplitFluid/index.js
  packages/aztec.js/src/proof-v2/joinSplitFluid/mint/index.js
  packages/aztec.js/src/proof-v2/mint/index.js
  packages/aztec.js/src/proof-v2/proof.js
  packages/aztec.js/src/proof-v2/trade/index.js
  packages/aztec.js/src/proof-v2/utils.js
  packages/aztec.js/src/proof-v2/verifier.js
  packages/aztec.js/test/abiEncoder/encoderFactory.js
  packages/aztec.js/test/abiEncoder/outputCoder.js
  packages/aztec.js/test/helpers/note.js
  packages/aztec.js/test/helpers/proof.js
  packages/aztec.js/test/proof-v2/dividend/index.js
  packages/aztec.js/test/proof-v2/joinSplit/index.js
  packages/aztec.js/test/proof-v2/joinSplit/verifier.js
  packages/aztec.js/test/proof-v2/joinSplitFluid/index.js
  packages/aztec.js/test/proof-v2/joinSplitFluid/verifier.js
  packages/aztec.js/test/proof-v2/trade/index.js
  packages/aztec.js/test/proof/bilateralSwap/proof.js
  packages/aztec.js/test/proof/bilateralSwap/verifier.js
  packages/aztec.js/test/proof/burn/proof.js
  packages/aztec.js/test/proof/burn/verifier.js
  packages/aztec.js/test/proof/dividendComputation/proof.js
  packages/aztec.js/test/proof/dividendComputation/verifier.js
  packages/aztec.js/test/proof/joinSplit/extractor.js
  packages/aztec.js/test/proof/mint/proof.js
  packages/aztec.js/test/proof/mint/verifier.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(aztec.js): implement new proof construction api
  packages/aztec.js/src/abiEncoder/encoderFactory.js
  packages/aztec.js/src/abiEncoder/inputCoder.js
  packages/aztec.js/src/bn128/index.js
  packages/aztec.js/src/keccak/index.js
  packages/aztec.js/src/proof-v2/burn/index.js
  packages/aztec.js/src/proof-v2/dividend/index.js
  packages/aztec.js/src/proof-v2/joinSplit/index.js
  packages/aztec.js/src/proof-v2/joinSplit/verifier.js
  packages/aztec.js/src/proof-v2/joinSplitFluid/burn/index.js
  packages/aztec.js/src/proof-v2/joinSplitFluid/index.js
  packages/aztec.js/src/proof-v2/joinSplitFluid/mint/index.js
  packages/aztec.js/src/proof-v2/mint/index.js
  packages/aztec.js/src/proof-v2/proof.js
  packages/aztec.js/src/proof-v2/trade/index.js
  packages/aztec.js/src/proof-v2/utils.js
  packages/aztec.js/src/proof-v2/verifier.js
  packages/aztec.js/test/abiEncoder/encoderFactory.js
  packages/aztec.js/test/abiEncoder/outputCoder.js
  packages/aztec.js/test/helpers/note.js
  packages/aztec.js/test/helpers/proof.js
  packages/aztec.js/test/proof-v2/dividend/index.js
  packages/aztec.js/test/proof-v2/joinSplit/index.js
  packages/aztec.js/test/proof-v2/joinSplit/verifier.js
  packages/aztec.js/test/proof-v2/joinSplitFluid/index.js
  packages/aztec.js/test/proof-v2/joinSplitFluid/verifier.js
  packages/aztec.js/test/proof-v2/trade/index.js
  packages/aztec.js/test/proof/bilateralSwap/proof.js
  packages/aztec.js/test/proof/bilateralSwap/verifier.js
  packages/aztec.js/test/proof/burn/proof.js
  packages/aztec.js/test/proof/burn/verifier.js
  packages/aztec.js/test/proof/dividendComputation/proof.js
  packages/aztec.js/test/proof/dividendComputation/verifier.js
  packages/aztec.js/test/proof/joinSplit/extractor.js
  packages/aztec.js/test/proof/mint/proof.js
  packages/aztec.js/test/proof/mint/verifier.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): switch to es6 classes for Keccak
  packages/aztec.js/src/keccak/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): switch to es6 classes for Keccak
  packages/aztec.js/src/keccak/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): switch to es6 classes for Note
  packages/aztec.js/src/note/index.js
  packages/aztec.js/test/note/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): switch to es6 classes for Note
  packages/aztec.js/src/note/index.js
  packages/aztec.js/test/note/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

chore(aztec.js): polish jsdoc definitions
  packages/aztec.js/src/abiEncoder/outputCoder.js
  packages/aztec.js/src/keccak/index.js
  packages/aztec.js/src/typeDefs.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

chore(aztec.js): polish jsdoc definitions
  packages/aztec.js/src/abiEncoder/outputCoder.js
  packages/aztec.js/src/keccak/index.js
  packages/aztec.js/src/typeDefs.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(aztec.js): rename a couple test files
  packages/aztec.js/test/bn128/index.js
  packages/aztec.js/test/keccak/index.js
  packages/aztec.js/test/setup/index.js
  packages/aztec.js/test/signer/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(aztec.js): apply prettier
  packages/aztec.js/src/abiEncoder/outputCoder.js
  packages/aztec.js/test/proof/joinSplit/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(aztec.js): apply prettier
  packages/aztec.js/src/abiEncoder/outputCoder.js
  packages/aztec.js/test/proof/joinSplit/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(aztec.js): rename a couple test files
  packages/aztec.js/test/bn128/index.js
  packages/aztec.js/test/keccak/index.js
  packages/aztec.js/test/setup/index.js
  packages/aztec.js/test/signer/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

chore(aztec.js): remove unnecessary function in join split fluid
  packages/aztec.js/src/proof/joinSplitFluid/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

chore(aztec.js): remove unnecessary function in join split fluid
  packages/aztec.js/src/proof/joinSplitFluid/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): add swap and join-split encodeABI methods
  packages/aztec.js/src/abiCoder/decoder.js
  packages/aztec.js/src/abiCoder/encoder.js
  packages/aztec.js/src/abiCoder/index.js
  packages/aztec.js/src/abiEncoder/inputCoder.js
  packages/aztec.js/src/index.js
  packages/aztec.js/src/keccak/index.js
  packages/aztec.js/src/note/index.js
  packages/aztec.js/src/proof/dividend/index.js
  packages/aztec.js/src/proof/dividend/verifier.js
  packages/aztec.js/src/proof/joinSplit/index.js
  packages/aztec.js/src/proof/joinSplit/verifier.js
  packages/aztec.js/src/proof/joinSplitFluid/burn/index.js
  packages/aztec.js/src/proof/joinSplitFluid/index.js
  packages/aztec.js/src/proof/joinSplitFluid/mint/index.js
  packages/aztec.js/src/proof/proof.js
  packages/aztec.js/src/proof/swap/index.js
  packages/aztec.js/src/proof/swap/verifier.js
  packages/aztec.js/test/abiEncoder/encoderFactory.js
  packages/aztec.js/test/keccak/index.js
  packages/aztec.js/test/proof/dividend/verifier.js
  packages/aztec.js/test/proof/joinSplit/index.js
  packages/aztec.js/test/proof/joinSplit/verifier.js
  packages/aztec.js/test/proof/swap/index.js
  packages/aztec.js/test/proof/swap/verifier.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): add swap and join-split encodeABI methods
  packages/aztec.js/src/abiCoder/decoder.js
  packages/aztec.js/src/abiCoder/encoder.js
  packages/aztec.js/src/abiCoder/index.js
  packages/aztec.js/src/abiEncoder/inputCoder.js
  packages/aztec.js/src/index.js
  packages/aztec.js/src/keccak/index.js
  packages/aztec.js/src/note/index.js
  packages/aztec.js/src/proof/dividend/index.js
  packages/aztec.js/src/proof/dividend/verifier.js
  packages/aztec.js/src/proof/joinSplit/index.js
  packages/aztec.js/src/proof/joinSplit/verifier.js
  packages/aztec.js/src/proof/joinSplitFluid/burn/index.js
  packages/aztec.js/src/proof/joinSplitFluid/index.js
  packages/aztec.js/src/proof/joinSplitFluid/mint/index.js
  packages/aztec.js/src/proof/proof.js
  packages/aztec.js/src/proof/swap/index.js
  packages/aztec.js/src/proof/swap/verifier.js
  packages/aztec.js/test/abiEncoder/encoderFactory.js
  packages/aztec.js/test/keccak/index.js
  packages/aztec.js/test/proof/dividend/verifier.js
  packages/aztec.js/test/proof/joinSplit/index.js
  packages/aztec.js/test/proof/joinSplit/verifier.js
  packages/aztec.js/test/proof/swap/index.js
  packages/aztec.js/test/proof/swap/verifier.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(dev-utils): remove unnecessary padLeft and padRight functions
  packages/dev-utils/src/constants.js
  packages/dev-utils/src/proofs.js
  packages/dev-utils/src/utils.js
Owners: @PaulRBerg, @thomas-waite

refactor(dev-utils): remove unnecessary padLeft and padRight functions
  packages/dev-utils/src/constants.js
  packages/dev-utils/src/proofs.js
  packages/dev-utils/src/utils.js
Owners: @PaulRBerg, @thomas-waite

refactor(contract-artifacts): rename BilateralSwap to Swap
  packages/contract-artifacts/src/index.js
Owners: @PaulRBerg
