Repository rh0108/ethereum-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PaulRBerg, @zac-williamson, @thomas-waite

fix(extension): don't show warning when getting undefined data
  packages/extension/src/database/helpers/Model/get.js
Owners: none

feat(extension): show different messages for domain access permission
  packages/extension/src/background/services/AuthService/index.js
  packages/extension/src/background/services/GraphQLService/validators/validateDomainAccess.js
  packages/extension/src/config/error.js
Owners: none

feat(extension): show different messages for domain access permission
  packages/extension/src/background/services/AuthService/index.js
  packages/extension/src/background/services/GraphQLService/validators/validateDomainAccess.js
  packages/extension/src/config/error.js
Owners: none

fix(extension): handle empty address in validateUserAddress
  packages/extension/src/background/services/AuthService/index.js
Owners: none

fix(extension): handle empty address in validateUserAddress
  packages/extension/src/background/services/AuthService/index.js
Owners: none

feat(extension): add enableAsset to client
  packages/extension/src/background/services/AuthService/index.js
  packages/extension/src/background/services/GraphQLService/resolvers/index.js
  packages/extension/src/background/services/GraphQLService/typeDefs.js
  packages/extension/src/client/apis/asset.js
  packages/extension/src/client/apis/note.js
  packages/extension/src/client/auth/index.js
  packages/extension/src/client/index.js
Owners: none

feat(extension): add enableAsset to client
  packages/extension/src/background/services/AuthService/index.js
  packages/extension/src/background/services/GraphQLService/resolvers/index.js
  packages/extension/src/background/services/GraphQLService/typeDefs.js
  packages/extension/src/client/apis/asset.js
  packages/extension/src/client/apis/note.js
  packages/extension/src/client/auth/index.js
  packages/extension/src/client/index.js
Owners: none

feat(extension): use contract address in abi by default
  packages/extension/src/client/Aztec/index.js
  packages/extension/src/client/auth/index.js
Owners: none

feat(extension): use contract address in abi by default
  packages/extension/src/client/Aztec/index.js
  packages/extension/src/client/auth/index.js
Owners: none

fix(protocol): make confidentialTransferFrom() mint/supplement tokens if needed
  packages/protocol/contracts/ERC1724/ZkAssetMintable.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): make confidentialTransferFrom() mint/supplement tokens if needed
  packages/protocol/contracts/ERC1724/ZkAssetMintable.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): add a ZkAssetMintableTest contract to test confidentialTransferFrom()
  packages/protocol/contracts/ZkAsset/ZkAssetMintableTest.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): add a ZkAssetMintableTest contract to test confidentialTransferFrom()
  packages/protocol/contracts/ZkAsset/ZkAssetMintableTest.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): success test to check no minting when not required
  packages/protocol/test/ZkAsset/ZkAssetMintable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): success test to check no minting when not required
  packages/protocol/test/ZkAsset/ZkAssetMintable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): success test to check mint in confidentialTransferFrom()
  packages/protocol/test/ZkAsset/ZkAssetMintable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): success test to check mint in confidentialTransferFrom()
  packages/protocol/test/ZkAsset/ZkAssetMintable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

docs(protocol): update docs for ZkAssetMintable functions
  packages/protocol/contracts/ERC1724/ZkAssetMintable.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

docs(protocol): update docs for ZkAssetMintable functions
  packages/protocol/contracts/ERC1724/ZkAssetMintable.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(protocol): move test contract to test directory
  packages/protocol/contracts/test/ERC1724/ZkAssetMintableTest.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(protocol): move test contract to test directory
  packages/protocol/contracts/test/ERC1724/ZkAssetMintableTest.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): remove pattern of using ZkAssetMintableTest contract
  packages/protocol/test/ZkAsset/ZkAssetMintable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): remove pattern of using ZkAssetMintableTest contract
  packages/protocol/test/ZkAsset/ZkAssetMintable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

docs: doc and eslint fixes
  packages/aztec.js/src/proof/joinSplit/index.js
  packages/protocol/contracts/ERC1724/ZkAssetMintable.sol
  packages/protocol/test/helpers/ERC1724.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): migrate mint confidentialTransferFrom() tests delete old ZkAssetMintable.js test file and migrate the new tests to the new test file
  packages/protocol/test/ERC1724/ZkAssetMintable.js
  packages/protocol/test/ZkAsset/ZkAssetMintable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

docs: doc and eslint fixes
  packages/aztec.js/src/proof/joinSplit/index.js
  packages/protocol/contracts/ERC1724/ZkAssetMintable.sol
  packages/protocol/test/helpers/ERC1724.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): migrate mint confidentialTransferFrom() tests delete old ZkAssetMintable.js test file and migrate the new tests to the new test file
  packages/protocol/test/ERC1724/ZkAssetMintable.js
  packages/protocol/test/ZkAsset/ZkAssetMintable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/ZkAsset.json
  packages/contract-artifacts/artifacts/ZkAssetBase.json
  packages/contract-artifacts/artifacts/ZkAssetBurnable.json
  packages/contract-artifacts/artifacts/ZkAssetDetailed.json
  packages/contract-artifacts/artifacts/ZkAssetMintable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnableBase.json
Owners: @PaulRBerg

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/ZkAsset.json
  packages/contract-artifacts/artifacts/ZkAssetBase.json
  packages/contract-artifacts/artifacts/ZkAssetBurnable.json
  packages/contract-artifacts/artifacts/ZkAssetDetailed.json
  packages/contract-artifacts/artifacts/ZkAssetMintable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnableBase.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

test(protocol): fix rebase problems remove canAdjustSupply and canConvert explicit flag declarations, for ZkAssetMintable.js test when ZkAssets are instantiated eslint and prettier fixes
  packages/protocol/test/ERC1724/ZkAssetMintable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): fix rebase problems remove canAdjustSupply and canConvert explicit flag declarations, for ZkAssetMintable.js test when ZkAssets are instantiated eslint and prettier fixes
  packages/protocol/test/ERC1724/ZkAssetMintable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(extension): enableAsset should accept a string
  packages/extension/src/client/index.js
Owners: none

fix(extension): enableAsset should accept a string
  packages/extension/src/client/index.js
Owners: none

feat(extension): correct error handling to client
  packages/extension/src/background/tasks/acceptConnection.js
  packages/extension/src/content/tasks/listenMessagesFromClient.js
Owners: none

feat(extension): correct error handling to client
  packages/extension/src/background/tasks/acceptConnection.js
  packages/extension/src/content/tasks/listenMessagesFromClient.js
Owners: none

fix(extension): ensure correct return data format to client
  packages/extension/src/background/services/GraphQLService/index.js
  packages/extension/src/background/tasks/acceptConnection.js
  packages/extension/src/content/tasks/listenMessagesFromClient.js
  packages/extension/src/content/utils/fetchFromBackgroundScript.js
Owners: none

fix(extension): ensure correct return data format to client
  packages/extension/src/background/services/GraphQLService/index.js
  packages/extension/src/background/tasks/acceptConnection.js
  packages/extension/src/content/tasks/listenMessagesFromClient.js
  packages/extension/src/content/utils/fetchFromBackgroundScript.js
Owners: none

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/ZkAssetMintable.json
Owners: @PaulRBerg

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

.circleci                       @PaulRBerg
packages/aztec.js               @zac-williamson @PaulRBerg @thomas-waite
packages/contract-addresses     @PaulRBerg
packages/contract-artifacts     @PaulRBerg
packages/dev-utils              @PaulRBerg @thomas-waite
packages/monorepo-scripts       @PaulRBerg
packages/protocol               @zac-williamson @PaulRBerg @thomas-waite
packages/huff                   @zac-williamson
packages/weierstrudel           @zac-williamson
