Repository rh0108/ethereum-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PaulRBerg, @zac-williamson, @thomas-waite

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

.circleci                       @PaulRBerg
packages/aztec.js               @zac-williamson @PaulRBerg @thomas-waite
packages/contract-addresses     @PaulRBerg
packages/contract-artifacts     @PaulRBerg
packages/dev-utils              @PaulRBerg @thomas-waite
packages/monorepo-scripts       @PaulRBerg
packages/protocol               @zac-williamson @PaulRBerg @thomas-waite
packages/huff                   @zac-williamson
packages/weierstrudel           @zac-williamson

refactor(aztec.js): construct utility note internally
  packages/aztec.js/src/proof/privateRange/helpers.js
  packages/aztec.js/src/proof/privateRange/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): construct utility note internally
  packages/aztec.js/src/proof/privateRange/helpers.js
  packages/aztec.js/src/proof/privateRange/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(aztec.js): update tests with internal utility note construction
  packages/aztec.js/test/proof/privateRange/proof.spec.js
  packages/aztec.js/test/proof/privateRange/verifier.spec.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(aztec.js): update tests with internal utility note construction
  packages/aztec.js/test/proof/privateRange/proof.spec.js
  packages/aztec.js/test/proof/privateRange/verifier.spec.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): implement PR feedback
  packages/protocol/test/ACE/validators/privateRange/abiEncoder.js
  packages/protocol/test/ACE/validators/privateRange/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): implement PR feedback
  packages/protocol/test/ACE/validators/privateRange/abiEncoder.js
  packages/protocol/test/ACE/validators/privateRange/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(protocol): implement PR feedback
  packages/protocol/contracts/ACE/validators/privateRange/PrivateRange.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(protocol): implement PR feedback
  packages/protocol/contracts/ACE/validators/privateRange/PrivateRange.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

build(deps-dev): bump jsdoc from 3.5.5 to 3.6.2
  yarn.lock
Owners: none

test: update tests to work with privateRange interface
  packages/aztec.js/test/proof/privateRange/proof.spec.js
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/validators/privateRange/abiEncoder.js
  packages/protocol/test/ACE/validators/privateRange/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test: update tests to work with privateRange interface
  packages/aztec.js/test/proof/privateRange/proof.spec.js
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/validators/privateRange/abiEncoder.js
  packages/protocol/test/ACE/validators/privateRange/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(aztec.js): remove < else if in helper.constructUtilityNote()
  packages/aztec.js/src/proof/privateRange/helpers.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(aztec.js): remove < else if in helper.constructUtilityNote()
  packages/aztec.js/src/proof/privateRange/helpers.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor: add errorType in dev-utils, eslint fixes
  packages/aztec.js/src/abiEncoder/inputCoder.js
  packages/aztec.js/src/proof/privateRange/index.js
  packages/dev-utils/src/constants.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor: add errorType in dev-utils, eslint fixes
  packages/aztec.js/src/abiEncoder/inputCoder.js
  packages/aztec.js/src/proof/privateRange/index.js
  packages/dev-utils/src/constants.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

build(deps): bump web3-utils from 1.0.0-beta.52 to 1.0.0-beta.55
  packages/aztec.js/package.json
  packages/protocol/package.json
  packages/secp256k1/package.json
  packages/typed-data/package.json
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

build(deps-dev): bump web3 from 1.0.0-beta.52 to 1.0.0-beta.55
  packages/protocol/package.json
  yarn.lock
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

build(deps-dev): bump @commitlint/config-lerna-scopes
  package.json
  yarn.lock
Owners: none

build(deps-dev): bump nyc from 13.3.0 to 14.1.1
  packages/aztec.js/package.json
  yarn.lock
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor: add in option of manual utilityNote construction
  packages/aztec.js/src/proof/privateRange/index.js
  packages/protocol/test/ACE/validators/privateRange/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor: add in option of manual utilityNote construction
  packages/aztec.js/src/proof/privateRange/index.js
  packages/protocol/test/ACE/validators/privateRange/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(aztec.js): update docs to explain default+manual utility note flow
  packages/aztec.js/src/proof/privateRange/index.js
  packages/protocol/test/ACE/validators/privateRange/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(aztec.js): update docs to explain default+manual utility note flow
  packages/aztec.js/src/proof/privateRange/index.js
  packages/protocol/test/ACE/validators/privateRange/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/ACE.json
  packages/contract-artifacts/artifacts/IAZTEC.json
  packages/contract-artifacts/artifacts/NoteRegistry.json
  packages/contract-artifacts/artifacts/PrivateRange.json
  packages/contract-artifacts/artifacts/PrivateRangeABIEncoder.json
  packages/contract-artifacts/artifacts/PrivateRangeInterface.json
  packages/contract-artifacts/artifacts/ZkAsset.json
  packages/contract-artifacts/artifacts/ZkAssetBurnable.json
  packages/contract-artifacts/artifacts/ZkAssetDetailed.json
  packages/contract-artifacts/artifacts/ZkAssetMintable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnable.json
Owners: @PaulRBerg

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/ACE.json
  packages/contract-artifacts/artifacts/IAZTEC.json
  packages/contract-artifacts/artifacts/NoteRegistry.json
  packages/contract-artifacts/artifacts/PrivateRange.json
  packages/contract-artifacts/artifacts/PrivateRangeABIEncoder.json
  packages/contract-artifacts/artifacts/PrivateRangeInterface.json
  packages/contract-artifacts/artifacts/ZkAsset.json
  packages/contract-artifacts/artifacts/ZkAssetBurnable.json
  packages/contract-artifacts/artifacts/ZkAssetDetailed.json
  packages/contract-artifacts/artifacts/ZkAssetMintable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnable.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

build(deps-dev): bump truffle from 5.0.14 to 5.0.17
  packages/protocol/package.json
  yarn.lock
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

build(deps-dev): bump truffle from 5.0.14 to 5.0.17
  packages/protocol/package.json
  yarn.lock
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/ACE.json
  packages/contract-artifacts/artifacts/AdjustSupply.json
  packages/contract-artifacts/artifacts/AdjustSupplyABIEncoder.json
  packages/contract-artifacts/artifacts/AdjustSupplyInterface.json
  packages/contract-artifacts/artifacts/BilateralSwap.json
  packages/contract-artifacts/artifacts/BilateralSwapABIEncoder.json
  packages/contract-artifacts/artifacts/BilateralSwapInterface.json
  packages/contract-artifacts/artifacts/DividendComputation.json
  packages/contract-artifacts/artifacts/DividendComputationABIEncoder.json
  packages/contract-artifacts/artifacts/DividendComputationInterface.json
  packages/contract-artifacts/artifacts/ERC20Mintable.json
  packages/contract-artifacts/artifacts/GenericABIEncoder.json
  packages/contract-artifacts/artifacts/IAZTEC.json
  packages/contract-artifacts/artifacts/IZkAsset.json
  packages/contract-artifacts/artifacts/JoinSplit.json
  packages/contract-artifacts/artifacts/JoinSplitABIEncoder.json
  packages/contract-artifacts/artifacts/JoinSplitInterface.json
  packages/contract-artifacts/artifacts/LibEIP712.json
  packages/contract-artifacts/artifacts/NoteRegistry.json
  packages/contract-artifacts/artifacts/NoteUtils.json
  packages/contract-artifacts/artifacts/PrivateRange.json
  packages/contract-artifacts/artifacts/PrivateRangeABIEncoder.json
  packages/contract-artifacts/artifacts/PrivateRangeInterface.json
  packages/contract-artifacts/artifacts/ProofUtils.json
  packages/contract-artifacts/artifacts/SafeMath8.json
  packages/contract-artifacts/artifacts/ZkAsset.json
  packages/contract-artifacts/artifacts/ZkAssetBurnable.json
  packages/contract-artifacts/artifacts/ZkAssetDetailed.json
  packages/contract-artifacts/artifacts/ZkAssetMintable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnable.json
Owners: @PaulRBerg

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/ACE.json
  packages/contract-artifacts/artifacts/AdjustSupply.json
  packages/contract-artifacts/artifacts/AdjustSupplyABIEncoder.json
  packages/contract-artifacts/artifacts/AdjustSupplyInterface.json
  packages/contract-artifacts/artifacts/BilateralSwap.json
  packages/contract-artifacts/artifacts/BilateralSwapABIEncoder.json
  packages/contract-artifacts/artifacts/BilateralSwapInterface.json
  packages/contract-artifacts/artifacts/DividendComputation.json
  packages/contract-artifacts/artifacts/DividendComputationABIEncoder.json
  packages/contract-artifacts/artifacts/DividendComputationInterface.json
  packages/contract-artifacts/artifacts/ERC20Mintable.json
  packages/contract-artifacts/artifacts/GenericABIEncoder.json
  packages/contract-artifacts/artifacts/IAZTEC.json
  packages/contract-artifacts/artifacts/IZkAsset.json
  packages/contract-artifacts/artifacts/JoinSplit.json
  packages/contract-artifacts/artifacts/JoinSplitABIEncoder.json
  packages/contract-artifacts/artifacts/JoinSplitInterface.json
  packages/contract-artifacts/artifacts/LibEIP712.json
  packages/contract-artifacts/artifacts/NoteRegistry.json
  packages/contract-artifacts/artifacts/NoteUtils.json
  packages/contract-artifacts/artifacts/PrivateRange.json
  packages/contract-artifacts/artifacts/PrivateRangeABIEncoder.json
  packages/contract-artifacts/artifacts/PrivateRangeInterface.json
  packages/contract-artifacts/artifacts/ProofUtils.json
  packages/contract-artifacts/artifacts/SafeMath8.json
  packages/contract-artifacts/artifacts/ZkAsset.json
  packages/contract-artifacts/artifacts/ZkAssetBurnable.json
  packages/contract-artifacts/artifacts/ZkAssetDetailed.json
  packages/contract-artifacts/artifacts/ZkAssetMintable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnable.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

build(deps-dev): bump prettier from 1.17.0 to 1.17.1
  yarn.lock
Owners: none

build(deps-dev): bump prettier from 1.17.0 to 1.17.1
  yarn.lock
Owners: none

build(deps-dev): bump @0x/subproviders from 4.0.5 to 4.0.6
  yarn.lock
Owners: none
