Repository rh0108/ethereum-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PaulRBerg, @zac-williamson, @thomas-waite

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

.circleci                       @PaulRBerg
packages/aztec.js               @zac-williamson @PaulRBerg @thomas-waite
packages/contract-addresses     @PaulRBerg
packages/contract-artifacts     @PaulRBerg
packages/dev-utils              @PaulRBerg @thomas-waite
packages/monorepo-scripts       @PaulRBerg
packages/protocol               @zac-williamson @PaulRBerg @thomas-waite
packages/huff                   @zac-williamson
packages/weierstrudel           @zac-williamson

test(protocol): remove .onlys and docstring error
  packages/protocol/contracts/ACE/noteRegistry/Manager.sol
  packages/protocol/test/ACE/NoteRegistry/epochs/epochTests.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): remove .onlys and docstring error
  packages/protocol/contracts/ACE/noteRegistry/Manager.sol
  packages/protocol/test/ACE/NoteRegistry/epochs/epochTests.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(protocol): fix lint errors
  packages/protocol/contracts/ACE/noteRegistry/Manager.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/adjustable/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/adjustable/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/convertible/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/convertible/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/mixed/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/mixed/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/adjustable/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/convertible/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/mixed/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/interfaces/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/interfaces/ProxyAdmin.sol
  packages/protocol/contracts/ACE/noteRegistry/proxies/AdminUpgradeabilityProxy.sol
  packages/protocol/contracts/ACE/noteRegistry/proxies/BaseAdminUpgradeabilityProxy.sol
  packages/protocol/contracts/ACE/noteRegistry/proxies/BaseUpgradeabilityProxy.sol
  packages/protocol/contracts/ACE/noteRegistry/proxies/Proxy.sol
  packages/protocol/contracts/ACE/noteRegistry/proxies/UpgradeabilityProxy.sol
  packages/protocol/migrations/10_deploy_mixedFactory.js
  packages/protocol/migrations/8_deploy_convertibleFactory.js
  packages/protocol/migrations/9_deploy_adjustableFactory.js
  packages/protocol/test/ACE/NoteRegistry/NoteRegistryManager.js
  packages/protocol/test/ACE/NoteRegistry/epochs/201907/NoteRegistry.js
  packages/protocol/test/ACE/NoteRegistry/epochs/201907/NoteRegistryFactory.js
  packages/protocol/test/ACE/NoteRegistry/epochs/201907/Proxy.js
  packages/protocol/test/ACE/NoteRegistry/epochs/epochTests.js
  packages/protocol/test/ERC1724/ZkAssetBurnable.js
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
  packages/protocol/test/helpers/note.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(protocol): fix lint errors
  packages/protocol/contracts/ACE/noteRegistry/Manager.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/adjustable/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/adjustable/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/convertible/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/convertible/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/mixed/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/mixed/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/adjustable/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/convertible/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/mixed/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/interfaces/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/interfaces/ProxyAdmin.sol
  packages/protocol/contracts/ACE/noteRegistry/proxies/AdminUpgradeabilityProxy.sol
  packages/protocol/contracts/ACE/noteRegistry/proxies/BaseAdminUpgradeabilityProxy.sol
  packages/protocol/contracts/ACE/noteRegistry/proxies/BaseUpgradeabilityProxy.sol
  packages/protocol/contracts/ACE/noteRegistry/proxies/Proxy.sol
  packages/protocol/contracts/ACE/noteRegistry/proxies/UpgradeabilityProxy.sol
  packages/protocol/migrations/10_deploy_mixedFactory.js
  packages/protocol/migrations/8_deploy_convertibleFactory.js
  packages/protocol/migrations/9_deploy_adjustableFactory.js
  packages/protocol/test/ACE/NoteRegistry/NoteRegistryManager.js
  packages/protocol/test/ACE/NoteRegistry/epochs/201907/NoteRegistry.js
  packages/protocol/test/ACE/NoteRegistry/epochs/201907/NoteRegistryFactory.js
  packages/protocol/test/ACE/NoteRegistry/epochs/201907/Proxy.js
  packages/protocol/test/ACE/NoteRegistry/epochs/epochTests.js
  packages/protocol/test/ERC1724/ZkAssetBurnable.js
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
  packages/protocol/test/helpers/note.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(protocol): align lint exceptions to prettier
  packages/aztec.js/src/note/utils.js
  packages/aztec.js/test/proof/joinSplit/index.js
  packages/protocol/test/ACE/ACEOwner.js
  packages/protocol/test/ACE/NoteRegistry.js
  packages/protocol/test/ERC1724/ZkAsset.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(protocol): fix lint issues + move customMetadata
  packages/aztec.js/src/note/utils.js
  packages/aztec.js/test/metaData/index.js
  packages/aztec.js/test/proof/joinSplit/index.js
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/ERC1724/ZkAssetAdjustable.js
  packages/protocol/test/ERC1724/ZkAssetMintable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(protocol): align lint exceptions to prettier
  packages/aztec.js/src/note/utils.js
  packages/aztec.js/test/proof/joinSplit/index.js
  packages/protocol/test/ACE/ACEOwner.js
  packages/protocol/test/ACE/NoteRegistry.js
  packages/protocol/test/ERC1724/ZkAsset.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(protocol): fix lint issues + move customMetadata
  packages/aztec.js/src/note/utils.js
  packages/aztec.js/test/metaData/index.js
  packages/aztec.js/test/proof/joinSplit/index.js
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/ERC1724/ZkAssetAdjustable.js
  packages/protocol/test/ERC1724/ZkAssetMintable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): fix naming + asyncness to play nice with coverage tool
  packages/contract-artifacts/src/index.js
  packages/protocol/contracts/ACE/ACE.sol
  packages/protocol/contracts/ACE/ACEOwner.sol
  packages/protocol/contracts/ACE/noteRegistry/NoteRegistryManager.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/Behaviour201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/adjustable/BehaviourAdjustable201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/adjustable/FactoryAdjustable201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/convertible/BehaviourConvertible201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/convertible/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/convertible/FactoryConvertible201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/mixed/BehaviourMixed201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/mixed/FactoryMixed201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/adjustable/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/adjustable/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/convertible/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/convertible/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/mixed/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/interfaces/NoteRegistryBehaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/interfaces/NoteRegistryFactory.sol
  packages/protocol/test/ACE/NoteRegistry/epochs/epochTests.js
Owners: @PaulRBerg, @zac-williamson, @thomas-waite

test(protocol): fix naming + asyncness to play nice with coverage tool
  packages/contract-artifacts/src/index.js
  packages/protocol/contracts/ACE/ACE.sol
  packages/protocol/contracts/ACE/ACEOwner.sol
  packages/protocol/contracts/ACE/noteRegistry/NoteRegistryManager.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/Behaviour201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/adjustable/BehaviourAdjustable201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/adjustable/FactoryAdjustable201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/convertible/BehaviourConvertible201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/convertible/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/convertible/FactoryConvertible201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/mixed/BehaviourMixed201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/mixed/FactoryMixed201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/adjustable/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/adjustable/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/convertible/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/convertible/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/mixed/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/interfaces/NoteRegistryBehaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/interfaces/NoteRegistryFactory.sol
  packages/protocol/test/ACE/NoteRegistry/epochs/epochTests.js
Owners: @PaulRBerg, @zac-williamson, @thomas-waite

style(protocol): fix line size + whitespace lint
  packages/protocol/contracts/ACE/ACE.sol
  packages/protocol/test/ACE/NoteRegistry/epochs/epochTests.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(protocol): fix line size + whitespace lint
  packages/protocol/contracts/ACE/ACE.sol
  packages/protocol/test/ACE/NoteRegistry/epochs/epochTests.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

Update README.md
  README.md
Owners: none

fix(protocol): wrong if statement in recoverSignature
  packages/protocol/contracts/libs/LibEIP712.sol
  packages/protocol/test/libs/LibEIP712.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

Update README.md
  README.md
Owners: none

fix(protocol): wrong if statement in recoverSignature
  packages/protocol/contracts/libs/LibEIP712.sol
  packages/protocol/test/libs/LibEIP712.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

build(monorepo-scripts): update contract deployment names
  packages/monorepo-scripts/addresses/update.js
  packages/monorepo-scripts/artifacts/build.js
Owners: @PaulRBerg

build(monorepo-scripts): update contract deployment names
  packages/monorepo-scripts/addresses/update.js
  packages/monorepo-scripts/artifacts/build.js
Owners: @PaulRBerg

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/ACE.json
  packages/contract-artifacts/artifacts/ACEOwner.json
  packages/contract-artifacts/artifacts/Address.json
  packages/contract-artifacts/artifacts/AdminUpgradeabilityProxy.json
  packages/contract-artifacts/artifacts/BaseAdminUpgradeabilityProxy.json
  packages/contract-artifacts/artifacts/BaseUpgradeabilityProxy.json
  packages/contract-artifacts/artifacts/Behaviour201907.json
  packages/contract-artifacts/artifacts/BehaviourAdjustable201907.json
  packages/contract-artifacts/artifacts/BehaviourConvertible201907.json
  packages/contract-artifacts/artifacts/BehaviourMixed201907.json
  packages/contract-artifacts/artifacts/Dividend.json
  packages/contract-artifacts/artifacts/FactoryAdjustable201907.json
  packages/contract-artifacts/artifacts/FactoryConvertible201907.json
  packages/contract-artifacts/artifacts/FactoryMixed201907.json
  packages/contract-artifacts/artifacts/JoinSplitFluid.json
  packages/contract-artifacts/artifacts/JoinSplitFluidInterface.json
  packages/contract-artifacts/artifacts/LibEIP712.json
  packages/contract-artifacts/artifacts/MultiSigWallet.json
  packages/contract-artifacts/artifacts/MultiSigWalletWithTimeLock.json
  packages/contract-artifacts/artifacts/NoteRegistryBehaviour.json
  packages/contract-artifacts/artifacts/NoteRegistryFactory.json
  packages/contract-artifacts/artifacts/NoteRegistryManager.json
  packages/contract-artifacts/artifacts/Proxy.json
  packages/contract-artifacts/artifacts/ProxyAdmin.json
  packages/contract-artifacts/artifacts/TestRejectEther.json
  packages/contract-artifacts/artifacts/UpgradeabilityProxy.json
  packages/contract-artifacts/artifacts/VersioningUtils.json
  packages/contract-artifacts/artifacts/ZkAsset.json
  packages/contract-artifacts/artifacts/ZkAssetAdjustable.json
  packages/contract-artifacts/artifacts/ZkAssetBase.json
  packages/contract-artifacts/artifacts/ZkAssetBurnable.json
  packages/contract-artifacts/artifacts/ZkAssetDetailed.json
  packages/contract-artifacts/artifacts/ZkAssetMintable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnableBase.json
Owners: @PaulRBerg

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/ACE.json
  packages/contract-artifacts/artifacts/ACEOwner.json
  packages/contract-artifacts/artifacts/Address.json
  packages/contract-artifacts/artifacts/AdminUpgradeabilityProxy.json
  packages/contract-artifacts/artifacts/BaseAdminUpgradeabilityProxy.json
  packages/contract-artifacts/artifacts/BaseUpgradeabilityProxy.json
  packages/contract-artifacts/artifacts/Behaviour201907.json
  packages/contract-artifacts/artifacts/BehaviourAdjustable201907.json
  packages/contract-artifacts/artifacts/BehaviourConvertible201907.json
  packages/contract-artifacts/artifacts/BehaviourMixed201907.json
  packages/contract-artifacts/artifacts/Dividend.json
  packages/contract-artifacts/artifacts/FactoryAdjustable201907.json
  packages/contract-artifacts/artifacts/FactoryConvertible201907.json
  packages/contract-artifacts/artifacts/FactoryMixed201907.json
  packages/contract-artifacts/artifacts/JoinSplitFluid.json
  packages/contract-artifacts/artifacts/JoinSplitFluidInterface.json
  packages/contract-artifacts/artifacts/LibEIP712.json
  packages/contract-artifacts/artifacts/MultiSigWallet.json
  packages/contract-artifacts/artifacts/MultiSigWalletWithTimeLock.json
  packages/contract-artifacts/artifacts/NoteRegistryBehaviour.json
  packages/contract-artifacts/artifacts/NoteRegistryFactory.json
  packages/contract-artifacts/artifacts/NoteRegistryManager.json
  packages/contract-artifacts/artifacts/Proxy.json
  packages/contract-artifacts/artifacts/ProxyAdmin.json
  packages/contract-artifacts/artifacts/TestRejectEther.json
  packages/contract-artifacts/artifacts/UpgradeabilityProxy.json
  packages/contract-artifacts/artifacts/VersioningUtils.json
  packages/contract-artifacts/artifacts/ZkAsset.json
  packages/contract-artifacts/artifacts/ZkAssetAdjustable.json
  packages/contract-artifacts/artifacts/ZkAssetBase.json
  packages/contract-artifacts/artifacts/ZkAssetBurnable.json
  packages/contract-artifacts/artifacts/ZkAssetDetailed.json
  packages/contract-artifacts/artifacts/ZkAssetMintable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnableBase.json
Owners: @PaulRBerg

feat(aztec.js): add metaData field to note schema refactor setMetaData() function add exportMetaData() function
  packages/aztec.js/src/note/index.js
  packages/aztec.js/test/note/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(aztec.js): add metaData field to note schema refactor setMetaData() function add exportMetaData() function
  packages/aztec.js/src/note/index.js
  packages/aztec.js/test/note/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(aztec.js): fix metaData length calc in exportMetaData()
  packages/aztec.js/src/index.js
  packages/aztec.js/src/note/index.js
  packages/aztec.js/test/encoder/inputCoder.js
  packages/aztec.js/test/note/index.js
  packages/protocol/test/ACE/validators/joinSplit/abiEncoder.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(aztec.js): fix metaData length calc in exportMetaData()
  packages/aztec.js/src/index.js
  packages/aztec.js/src/note/index.js
  packages/aztec.js/test/encoder/inputCoder.js
  packages/aztec.js/test/note/index.js
  packages/protocol/test/ACE/validators/joinSplit/abiEncoder.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(aztec.js): migrate zkAsset tests to refactored metaData management
  packages/aztec.js/src/encoder/inputCoder.js
  packages/aztec.js/src/encoder/outputCoder.js
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/validators/swap/abiEncoder.js
  packages/protocol/test/ACE/validators/swap/index.js
  packages/protocol/test/ERC1724/ZkAsset.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(aztec.js): migrate zkAsset tests to refactored metaData management
  packages/aztec.js/src/encoder/inputCoder.js
  packages/aztec.js/src/encoder/outputCoder.js
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/validators/swap/abiEncoder.js
  packages/protocol/test/ACE/validators/swap/index.js
  packages/protocol/test/ERC1724/ZkAsset.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(dev-utils): add META_DATA_TEST constant to dev-utils package
  packages/dev-utils/src/constants.js
Owners: @PaulRBerg, @thomas-waite

feat(dev-utils): add META_DATA_TEST constant to dev-utils package
  packages/dev-utils/src/constants.js
Owners: @PaulRBerg, @thomas-waite

feat(protocol): permissioning and noteAccess for updateNoteMetaData()
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
  packages/protocol/contracts/interfaces/IZkAsset.sol
  packages/protocol/contracts/test/ERC1724/ZkAssetTest.sol
  packages/protocol/test/ERC1724/ZkAsset.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): permissioning and noteAccess for updateNoteMetaData()
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
  packages/protocol/contracts/interfaces/IZkAsset.sol
  packages/protocol/contracts/test/ERC1724/ZkAssetTest.sol
  packages/protocol/test/ERC1724/ZkAsset.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): proof of concept MetaDataUtils library eslint and prettier fixes
  packages/aztec.js/src/encoder/inputCoder.js
  packages/aztec.js/src/encoder/outputCoder.js
  packages/aztec.js/src/note/index.js
  packages/aztec.js/src/proof/joinSplitFluid/index.js
  packages/aztec.js/test/encoder/inputCoder.js
  packages/aztec.js/test/note/index.js
  packages/aztec.js/test/proof/joinSplit/index.js
  packages/dev-utils/src/constants.js
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
  packages/protocol/contracts/libs/MetaDataUtils.sol
  packages/protocol/test/ACE/ACE.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): proof of concept MetaDataUtils library eslint and prettier fixes
  packages/aztec.js/src/encoder/inputCoder.js
  packages/aztec.js/src/encoder/outputCoder.js
  packages/aztec.js/src/note/index.js
  packages/aztec.js/src/proof/joinSplitFluid/index.js
  packages/aztec.js/test/encoder/inputCoder.js
  packages/aztec.js/test/note/index.js
  packages/aztec.js/test/proof/joinSplit/index.js
  packages/dev-utils/src/constants.js
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
  packages/protocol/contracts/libs/MetaDataUtils.sol
  packages/protocol/test/ACE/ACE.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix: fix rebase problems
  packages/aztec.js/src/note/utils.js
  packages/dev-utils/src/constants.js
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ERC1724/ZkAsset.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix: fix rebase problems
  packages/aztec.js/src/note/utils.js
  packages/dev-utils/src/constants.js
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ERC1724/ZkAsset.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(extension): fix metadata encoding length
  packages/extension/src/config/constants.js
  packages/extension/src/utils/note/createNote.js
  packages/graph/mappings/ZKAsset.ts
Owners: none

feat(extension): merge wip refactor metadata
  packages/extension/src/client/apis/createNoteFromBalance/prove.js
  packages/extension/src/client/apis/deposit/prove.js
  packages/extension/src/client/apis/deposit/send.js
  packages/extension/src/client/apis/swap/approve.js
  packages/extension/src/client/apis/swap/prove.js
  packages/extension/src/client/apis/swap/send.js
  packages/extension/src/client/demo/ownable.js
  packages/extension/src/client/services/Web3Service/index.js
  packages/extension/src/utils/note/createNote.js
  packages/extension/src/utils/note/createNotes.js
  packages/graph/mappings/ZKAsset.ts
  packages/graph/subgraph.yaml
  packages/graph/types/ACE/ACE.ts
  packages/graph/types/ACE/templates/ZkAsset/ZkAsset.ts
  yarn.lock
Owners: none

feat(extension): fix metadata encoding length
  packages/extension/src/config/constants.js
  packages/extension/src/utils/note/createNote.js
  packages/graph/mappings/ZKAsset.ts
Owners: none

feat(extension): merge wip refactor metadata
  packages/extension/src/client/apis/createNoteFromBalance/prove.js
  packages/extension/src/client/apis/deposit/prove.js
  packages/extension/src/client/apis/deposit/send.js
  packages/extension/src/client/apis/swap/approve.js
  packages/extension/src/client/apis/swap/prove.js
  packages/extension/src/client/apis/swap/send.js
  packages/extension/src/client/demo/ownable.js
  packages/extension/src/client/services/Web3Service/index.js
  packages/extension/src/utils/note/createNote.js
  packages/extension/src/utils/note/createNotes.js
  packages/graph/mappings/ZKAsset.ts
  packages/graph/subgraph.yaml
  packages/graph/types/ACE/ACE.ts
  packages/graph/types/ACE/templates/ZkAsset/ZkAsset.ts
  yarn.lock
Owners: none
