Repository rh0108/ethereum-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PaulRBerg, @zac-williamson, @thomas-waite

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

.circleci                       @PaulRBerg
packages/aztec.js               @zac-williamson @PaulRBerg @thomas-waite
packages/contract-addresses     @PaulRBerg
packages/contract-artifacts     @PaulRBerg
packages/dev-utils              @PaulRBerg @thomas-waite
packages/monorepo-scripts       @PaulRBerg
packages/protocol               @zac-williamson @PaulRBerg @thomas-waite
packages/huff                   @zac-williamson
packages/weierstrudel           @zac-williamson

fix(graph): specify the version of graph-node docker image
  packages/graph/docker-compose.yml
Owners: none

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(extension): sync info from blockchain when enabling a new asset
  packages/extension/src/background/services/AuthService/enableAssetForDomain/index.js
  packages/extension/src/background/services/AuthService/enableAssetForDomain/syncAssetInfo.js
  packages/extension/src/background/services/AuthService/index.js
  packages/extension/src/background/services/GraphQLService/resolvers/index.js
  packages/extension/src/background/services/GraphQLService/typeDefs.js
  packages/extension/src/client/auth/index.js
Owners: none

feat(extension): sync info from blockchain when enabling a new asset
  packages/extension/src/background/services/AuthService/enableAssetForDomain/index.js
  packages/extension/src/background/services/AuthService/enableAssetForDomain/syncAssetInfo.js
  packages/extension/src/background/services/AuthService/index.js
  packages/extension/src/background/services/GraphQLService/resolvers/index.js
  packages/extension/src/background/services/GraphQLService/typeDefs.js
  packages/extension/src/client/auth/index.js
Owners: none

fix(extension): throw error in resolvers for pipe to catch
  packages/extension/src/background/services/GraphQLService/resolvers/createNoteFromBalance.js
  packages/extension/src/background/services/GraphQLService/resolvers/requestGrantAccess.js
Owners: none

fix(extension): throw error in resolvers for pipe to catch
  packages/extension/src/background/services/GraphQLService/resolvers/createNoteFromBalance.js
  packages/extension/src/background/services/GraphQLService/resolvers/requestGrantAccess.js
Owners: none

feat(extension): add linkedTokenAddress to asset model
  packages/extension/src/background/services/SyncService/utils/fetchNoteFromServer.js
  packages/extension/src/database/models/asset/index.js
Owners: none

feat(extension): add linkedTokenAddress to asset model
  packages/extension/src/background/services/SyncService/utils/fetchNoteFromServer.js
  packages/extension/src/database/models/asset/index.js
Owners: none

feat(extension): add demo for apis
  packages/extension/src/background/tasks/init.js
  packages/extension/src/client/contracts/ACE.json
  packages/extension/src/client/contracts/AZTECAccountRegistry.json
  packages/extension/src/client/contracts/ERC20Mintable.json
  packages/extension/src/client/contracts/JoinSplit.json
  packages/extension/src/client/contracts/ZkAsset.json
  packages/extension/src/client/contracts/ZkAssetOwnable.json
  packages/extension/src/client/demo/createNewAsset.js
  packages/extension/src/client/demo/index.js
  packages/extension/src/client/index.js
  packages/extension/src/client/services/Web3Service/index.js
  packages/extension/src/config/error.js
Owners: none

feat(extension): add demo for apis
  packages/extension/src/background/tasks/init.js
  packages/extension/src/client/contracts/ACE.json
  packages/extension/src/client/contracts/AZTECAccountRegistry.json
  packages/extension/src/client/contracts/ERC20Mintable.json
  packages/extension/src/client/contracts/JoinSplit.json
  packages/extension/src/client/contracts/ZkAsset.json
  packages/extension/src/client/contracts/ZkAssetOwnable.json
  packages/extension/src/client/demo/createNewAsset.js
  packages/extension/src/client/demo/index.js
  packages/extension/src/client/index.js
  packages/extension/src/client/services/Web3Service/index.js
  packages/extension/src/config/error.js
Owners: none

fix(weierstrudel): remove node_modules/bn.js/package.json this is not gitignored, and I believe causing bot problems
  packages/weierstrudel/node_modules/bn.js/package.json
Owners: @zac-williamson

fix(weierstrudel): remove node_modules/bn.js/package.json this is not gitignored, and I believe causing bot problems
  packages/weierstrudel/node_modules/bn.js/package.json
Owners: @zac-williamson

fix(protocol): spelling of 'Spilsbury' in contract copyright notices
  packages/protocol/contracts/ACE/ACE.sol
  packages/protocol/contracts/ACE/NoteRegistry.sol
  packages/protocol/contracts/ACE/validators/dividend/Dividend.sol
  packages/protocol/contracts/ACE/validators/swap/Swap.sol
  packages/protocol/contracts/ERC1724/ZkAsset.sol
  packages/protocol/contracts/ERC1724/ZkAssetBurnable.sol
  packages/protocol/contracts/ERC1724/ZkAssetDetailed.sol
  packages/protocol/contracts/ERC1724/ZkAssetMintable.sol
  packages/protocol/contracts/ERC1724/ZkAssetOwnable.sol
  packages/protocol/contracts/interfaces/IACE.sol
  packages/protocol/contracts/interfaces/IZkAsset.sol
  packages/protocol/contracts/interfaces/IZkAssetBurnable.sol
  packages/protocol/contracts/interfaces/IZkAssetMintable.sol
  packages/protocol/contracts/interfaces/JoinSplitInterface.sol
  packages/protocol/contracts/libs/LibEIP712.sol
  packages/protocol/contracts/libs/ProofUtils.sol
  packages/protocol/contracts/libs/SafeMath8.sol
  packages/protocol/contracts/test/ERC1724/ZkAssetOwnableTest.sol
  packages/protocol/contracts/test/libs/LibEIP712Test.sol
  packages/protocol/contracts/test/libs/ProofUtilsTest.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): spelling of 'Spilsbury' in contract copyright notices
  packages/protocol/contracts/ACE/ACE.sol
  packages/protocol/contracts/ACE/NoteRegistry.sol
  packages/protocol/contracts/ACE/validators/dividend/Dividend.sol
  packages/protocol/contracts/ACE/validators/swap/Swap.sol
  packages/protocol/contracts/ERC1724/ZkAsset.sol
  packages/protocol/contracts/ERC1724/ZkAssetBurnable.sol
  packages/protocol/contracts/ERC1724/ZkAssetDetailed.sol
  packages/protocol/contracts/ERC1724/ZkAssetMintable.sol
  packages/protocol/contracts/ERC1724/ZkAssetOwnable.sol
  packages/protocol/contracts/interfaces/IACE.sol
  packages/protocol/contracts/interfaces/IZkAsset.sol
  packages/protocol/contracts/interfaces/IZkAssetBurnable.sol
  packages/protocol/contracts/interfaces/IZkAssetMintable.sol
  packages/protocol/contracts/interfaces/JoinSplitInterface.sol
  packages/protocol/contracts/libs/LibEIP712.sol
  packages/protocol/contracts/libs/ProofUtils.sol
  packages/protocol/contracts/libs/SafeMath8.sol
  packages/protocol/contracts/test/ERC1724/ZkAssetOwnableTest.sol
  packages/protocol/contracts/test/libs/LibEIP712Test.sol
  packages/protocol/contracts/test/libs/ProofUtilsTest.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): make zkAssetOwnable inherit from OpenZepplin Ownable
  package-lock.json
  packages/aztec.js/package-lock.json
  packages/contract-addresses/package-lock.json
  packages/contract-artifacts/package-lock.json
  packages/dev-utils/package-lock.json
  packages/huff/package-lock.json
  packages/protocol/contracts/ERC1724/base/ZkAssetOwnableBase.sol
  packages/protocol/contracts/ZkAsset/ZkAssetMintable.sol
  packages/protocol/package-lock.json
  packages/protocol/test/ZkAsset/ZkAssetBurnable.js
  packages/protocol/test/ZkAsset/ZkAssetMintable.js
  packages/protocol/test/ZkAsset/ZkAssetOwnable.js
  packages/weierstrudel/package-lock.json
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): make zkAssetOwnable inherit from OpenZepplin Ownable
  package-lock.json
  packages/aztec.js/package-lock.json
  packages/contract-addresses/package-lock.json
  packages/contract-artifacts/package-lock.json
  packages/dev-utils/package-lock.json
  packages/huff/package-lock.json
  packages/protocol/contracts/ERC1724/base/ZkAssetOwnableBase.sol
  packages/protocol/contracts/ZkAsset/ZkAssetMintable.sol
  packages/protocol/package-lock.json
  packages/protocol/test/ZkAsset/ZkAssetBurnable.js
  packages/protocol/test/ZkAsset/ZkAssetMintable.js
  packages/protocol/test/ZkAsset/ZkAssetOwnable.js
  packages/weierstrudel/package-lock.json
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): make zkAsset templates enforce flags appropriate to type and derive _canConvert implicitly from linked token address
  packages/protocol/contracts/ERC1724/base/ZkAssetOwnableBase.sol
  packages/protocol/contracts/ZkAsset/ZkAssetBase.sol
  packages/protocol/contracts/ZkAsset/ZkAssetMintable.sol
  packages/protocol/contracts/ZkAsset/ZkAssetOwnableBase.sol
  packages/protocol/test/ZkAsset/ZkAsset.js
  packages/protocol/test/ZkAsset/ZkAssetBurnable.js
  packages/protocol/test/ZkAsset/ZkAssetMintable.js
  packages/protocol/test/ZkAsset/ZkAssetOwnable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): make zkAsset templates enforce flags appropriate to type and derive _canConvert implicitly from linked token address
  packages/protocol/contracts/ERC1724/base/ZkAssetOwnableBase.sol
  packages/protocol/contracts/ZkAsset/ZkAssetBase.sol
  packages/protocol/contracts/ZkAsset/ZkAssetMintable.sol
  packages/protocol/contracts/ZkAsset/ZkAssetOwnableBase.sol
  packages/protocol/test/ZkAsset/ZkAsset.js
  packages/protocol/test/ZkAsset/ZkAssetBurnable.js
  packages/protocol/test/ZkAsset/ZkAssetMintable.js
  packages/protocol/test/ZkAsset/ZkAssetOwnable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(protocol): update docstring
  packages/protocol/contracts/ZkAsset/ZkAssetMintable.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(protocol): Move zkAsset templates to relevant folders
  packages/protocol/contracts/ZkAsset/ZkAssetMintable.sol
  packages/protocol/contracts/ZkAsset/base/ZkAssetBase.sol
  packages/protocol/contracts/ZkAsset/base/ZkAssetOwnableBase.sol
  packages/protocol/test/ZkAsset/ZkAssetOwnable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(protocol): Move zkAsset templates to relevant folders
  packages/protocol/contracts/ZkAsset/ZkAssetMintable.sol
  packages/protocol/contracts/ZkAsset/base/ZkAssetBase.sol
  packages/protocol/contracts/ZkAsset/base/ZkAssetOwnableBase.sol
  packages/protocol/test/ZkAsset/ZkAssetOwnable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(protocol): update docstring
  packages/protocol/contracts/ZkAsset/ZkAssetMintable.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): fix bug with getValidatorAddress where fn always returned address even if proof disabled
  packages/protocol/contracts/ACE/ACE.sol
  packages/protocol/test/ACE/ACE.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): Add upgraded 0x multisigwithtimelock with tests
  .gitignore
  packages/protocol/contracts/ACE/ACEOwner.sol
  packages/protocol/contracts/MultiSig/MultiSigWallet.sol
  packages/protocol/contracts/MultiSig/MultiSigWalletWithTimeLock.sol
  packages/protocol/contracts/test/TestRejectEther.sol
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/ACEOwner.js
  packages/protocol/test/MultiSig/MultiSigWalletWithTimeLock.js
  packages/protocol/test/timeTravel.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): fix bug with getValidatorAddress where fn always returned address even if proof disabled
  packages/protocol/contracts/ACE/ACE.sol
  packages/protocol/test/ACE/ACE.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): Add upgraded 0x multisigwithtimelock with tests
  .gitignore
  packages/protocol/contracts/ACE/ACEOwner.sol
  packages/protocol/contracts/MultiSig/MultiSigWallet.sol
  packages/protocol/contracts/MultiSig/MultiSigWalletWithTimeLock.sol
  packages/protocol/contracts/test/TestRejectEther.sol
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/ACEOwner.js
  packages/protocol/test/MultiSig/MultiSigWalletWithTimeLock.js
  packages/protocol/test/timeTravel.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): remove .only
  packages/protocol/test/MultiSig/MultiSigWalletWithTimeLock.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): remove .only
  packages/protocol/test/MultiSig/MultiSigWalletWithTimeLock.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

chore: remove package-lock.json files
  packages/aztec.js/package-lock.json
  packages/contract-addresses/package-lock.json
  packages/contract-artifacts/package-lock.json
  packages/dev-utils/package-lock.json
  packages/huff/package-lock.json
  packages/weierstrudel/package-lock.json
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): add ability to disable proofs without waiting on timelock
  packages/protocol/contracts/ACE/ACEOwner.sol
  packages/protocol/test/ACE/ACEOwner.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): add ability to disable proofs without waiting on timelock
  packages/protocol/contracts/ACE/ACEOwner.sol
  packages/protocol/test/ACE/ACEOwner.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

chore: remove package-lock.json files
  packages/aztec.js/package-lock.json
  packages/contract-addresses/package-lock.json
  packages/contract-artifacts/package-lock.json
  packages/dev-utils/package-lock.json
  packages/huff/package-lock.json
  packages/weierstrudel/package-lock.json
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(protocol): eslint fixes, doc corrections, remove package-lock
  package-lock.json
  packages/protocol/contracts/ACE/ACE.sol
  packages/protocol/package-lock.json
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/MultiSig/MultiSigWalletWithTimeLock.js
  packages/protocol/test/timeTravel.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(protocol): eslint fixes, doc corrections, remove package-lock
  package-lock.json
  packages/protocol/contracts/ACE/ACE.sol
  packages/protocol/package-lock.json
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/MultiSig/MultiSigWalletWithTimeLock.js
  packages/protocol/test/timeTravel.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(extension): allow to get nested model data by id
  packages/extension/src/database/helpers/Model/get.js
  packages/extension/src/database/helpers/__tests__/Model.spec.js
Owners: none
