Repository rh0108/ethereum-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PaulRBerg, @zac-williamson, @thomas-waite

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

.circleci                       @PaulRBerg
packages/aztec.js               @zac-williamson @PaulRBerg @thomas-waite
packages/contract-addresses     @PaulRBerg
packages/contract-artifacts     @PaulRBerg
packages/dev-utils              @PaulRBerg @thomas-waite
packages/monorepo-scripts       @PaulRBerg
packages/protocol               @zac-williamson @PaulRBerg @thomas-waite
packages/huff                   @zac-williamson
packages/weierstrudel           @zac-williamson

build(deps-dev): bump eslint-config-prettier from 4.3.0 to 6.0.0
  packages/aztec.js/package.json
  packages/bn128/package.json
  packages/contract-addresses/package.json
  packages/contract-artifacts/package.json
  packages/dev-utils/package.json
  packages/monorepo-scripts/package.json
  packages/protocol/package.json
  packages/secp256k1/package.json
  packages/typed-data/package.json
  yarn.lock
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

build(deps-dev): bump eslint-config-prettier from 4.3.0 to 6.0.0
  packages/aztec.js/package.json
  packages/bn128/package.json
  packages/contract-addresses/package.json
  packages/contract-artifacts/package.json
  packages/dev-utils/package.json
  packages/monorepo-scripts/package.json
  packages/protocol/package.json
  packages/secp256k1/package.json
  packages/typed-data/package.json
  yarn.lock
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

build(deps-dev): bump commitizen from 3.1.2 to 4.0.3
  package.json
  yarn.lock
Owners: none

build(deps-dev): bump commitizen from 3.1.2 to 4.0.3
  package.json
  yarn.lock
Owners: none

build(deps-dev): bump solhint from 2.1.2 to 2.2.0
  yarn.lock
Owners: none

build(deps-dev): bump solhint from 2.1.2 to 2.2.0
  yarn.lock
Owners: none

feat(aztec.js): add metaData field to note schema refactor setMetaData() function add exportMetaData() function
  packages/aztec.js/src/note/index.js
  packages/aztec.js/test/note/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(aztec.js): add metaData field to note schema refactor setMetaData() function add exportMetaData() function
  packages/aztec.js/src/note/index.js
  packages/aztec.js/test/note/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(aztec.js): fix metaData length calc in exportMetaData()
  packages/aztec.js/src/index.js
  packages/aztec.js/src/note/index.js
  packages/aztec.js/test/encoder/inputCoder.js
  packages/aztec.js/test/note/index.js
  packages/protocol/test/ACE/validators/joinSplit/abiEncoder.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(aztec.js): fix metaData length calc in exportMetaData()
  packages/aztec.js/src/index.js
  packages/aztec.js/src/note/index.js
  packages/aztec.js/test/encoder/inputCoder.js
  packages/aztec.js/test/note/index.js
  packages/protocol/test/ACE/validators/joinSplit/abiEncoder.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(aztec.js): migrate zkAsset tests to refactored metaData management
  packages/aztec.js/src/encoder/inputCoder.js
  packages/aztec.js/src/encoder/outputCoder.js
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/validators/swap/abiEncoder.js
  packages/protocol/test/ACE/validators/swap/index.js
  packages/protocol/test/ERC1724/ZkAsset.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(aztec.js): migrate zkAsset tests to refactored metaData management
  packages/aztec.js/src/encoder/inputCoder.js
  packages/aztec.js/src/encoder/outputCoder.js
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/validators/swap/abiEncoder.js
  packages/protocol/test/ACE/validators/swap/index.js
  packages/protocol/test/ERC1724/ZkAsset.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(dev-utils): add META_DATA_TEST constant to dev-utils package
  packages/dev-utils/src/constants.js
Owners: @PaulRBerg, @thomas-waite

feat(dev-utils): add META_DATA_TEST constant to dev-utils package
  packages/dev-utils/src/constants.js
Owners: @PaulRBerg, @thomas-waite

feat(protocol): permissioning and noteAccess for updateNoteMetaData()
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
  packages/protocol/contracts/interfaces/IZkAsset.sol
  packages/protocol/contracts/test/ERC1724/ZkAssetTest.sol
  packages/protocol/test/ERC1724/ZkAsset.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): permissioning and noteAccess for updateNoteMetaData()
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
  packages/protocol/contracts/interfaces/IZkAsset.sol
  packages/protocol/contracts/test/ERC1724/ZkAssetTest.sol
  packages/protocol/test/ERC1724/ZkAsset.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): proof of concept MetaDataUtils library eslint and prettier fixes
  packages/aztec.js/src/encoder/inputCoder.js
  packages/aztec.js/src/encoder/outputCoder.js
  packages/aztec.js/src/note/index.js
  packages/aztec.js/src/proof/joinSplitFluid/index.js
  packages/aztec.js/test/encoder/inputCoder.js
  packages/aztec.js/test/note/index.js
  packages/aztec.js/test/proof/joinSplit/index.js
  packages/dev-utils/src/constants.js
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
  packages/protocol/contracts/libs/MetaDataUtils.sol
  packages/protocol/test/ACE/ACE.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): proof of concept MetaDataUtils library eslint and prettier fixes
  packages/aztec.js/src/encoder/inputCoder.js
  packages/aztec.js/src/encoder/outputCoder.js
  packages/aztec.js/src/note/index.js
  packages/aztec.js/src/proof/joinSplitFluid/index.js
  packages/aztec.js/test/encoder/inputCoder.js
  packages/aztec.js/test/note/index.js
  packages/aztec.js/test/proof/joinSplit/index.js
  packages/dev-utils/src/constants.js
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
  packages/protocol/contracts/libs/MetaDataUtils.sol
  packages/protocol/test/ACE/ACE.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix: fix rebase problems
  packages/aztec.js/src/note/utils.js
  packages/dev-utils/src/constants.js
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ERC1724/ZkAsset.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix: fix rebase problems
  packages/aztec.js/src/note/utils.js
  packages/dev-utils/src/constants.js
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ERC1724/ZkAsset.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(aztec.js): remove ephemeral from note schema add ephemeralFromMetaData() method to extract ephemeralKey when needed from the note metaData
  packages/aztec.js/src/note/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(aztec.js): update tests from updated note schema
  packages/aztec.js/src/proof/joinSplitFluid/index.js
  packages/aztec.js/src/proof/publicRange/index.js
  packages/aztec.js/test/encoder/inputCoder.js
  packages/aztec.js/test/encoder/outputCoder.js
  packages/aztec.js/test/note/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(aztec.js): update tests from updated note schema
  packages/aztec.js/src/proof/joinSplitFluid/index.js
  packages/aztec.js/src/proof/publicRange/index.js
  packages/aztec.js/test/encoder/inputCoder.js
  packages/aztec.js/test/encoder/outputCoder.js
  packages/aztec.js/test/note/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(aztec.js): remove ephemeral from note schema add ephemeralFromMetaData() method to extract ephemeralKey when needed from the note metaData
  packages/aztec.js/src/note/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): fix JoinSplitFluidABIEncoder.sol metaData encoding ABI encoder was assigning the metaData of the newTotal note to the currentTotal note adjusted the encoding to fix this
  packages/protocol/contracts/ACE/validators/joinSplitFluid/JoinSplitFluidABIEncoder.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): fix JoinSplitFluidABIEncoder.sol metaData encoding ABI encoder was assigning the metaData of the newTotal note to the currentTotal note adjusted the encoding to fix this
  packages/protocol/contracts/ACE/validators/joinSplitFluid/JoinSplitFluidABIEncoder.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test: add test case for newTotal metaData rename metaData parameter in UpdateTotalMinted() event from metadata to metaData
  packages/aztec.js/src/proof/joinSplitFluid/index.js
  packages/protocol/contracts/ERC1724/base/ZkAssetMintableBase.sol
  packages/protocol/test/ERC1724/ZkAssetMintable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test: add test case for newTotal metaData rename metaData parameter in UpdateTotalMinted() event from metadata to metaData
  packages/aztec.js/src/proof/joinSplitFluid/index.js
  packages/protocol/contracts/ERC1724/base/ZkAssetMintableBase.sol
  packages/protocol/test/ERC1724/ZkAssetMintable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor: implement PR feedback general tidying of docs and use of predefined constant in tests
  packages/aztec.js/test/encoder/inputCoder.js
  packages/dev-utils/src/constants.js
  packages/protocol/contracts/ACE/validators/joinSplitFluid/JoinSplitFluidABIEncoder.sol
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ERC1724/ZkAssetMintable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor: implement PR feedback general tidying of docs and use of predefined constant in tests
  packages/aztec.js/test/encoder/inputCoder.js
  packages/dev-utils/src/constants.js
  packages/protocol/contracts/ACE/validators/joinSplitFluid/JoinSplitFluidABIEncoder.sol
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ERC1724/ZkAssetMintable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(protocol): implement PR feedback remove superfluous metaDataLength add statements
  packages/protocol/contracts/ACE/validators/joinSplitFluid/JoinSplitFluidABIEncoder.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(protocol): implement PR feedback remove superfluous metaDataLength add statements
  packages/protocol/contracts/ACE/validators/joinSplitFluid/JoinSplitFluidABIEncoder.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): fix bug in calculating metaData length
  packages/protocol/contracts/ACE/validators/swap/SwapABIEncoder.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): fix bug in calculating metaData length
  packages/protocol/contracts/ACE/validators/swap/SwapABIEncoder.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test: add metaData based tests for swap proof and general tidying up
  packages/aztec.js/src/encoder/outputCoder.js
  packages/aztec.js/src/proof/joinSplitFluid/index.js
  packages/aztec.js/src/proof/swap/index.js
  packages/protocol/contracts/ACE/validators/joinSplitFluid/JoinSplitFluidABIEncoder.sol
  packages/protocol/test/ACE/validators/swap/abiEncoder.js
  packages/protocol/test/ACE/validators/swap/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test: add metaData based tests for swap proof and general tidying up
  packages/aztec.js/src/encoder/outputCoder.js
  packages/aztec.js/src/proof/joinSplitFluid/index.js
  packages/aztec.js/src/proof/swap/index.js
  packages/protocol/contracts/ACE/validators/joinSplitFluid/JoinSplitFluidABIEncoder.sol
  packages/protocol/test/ACE/validators/swap/abiEncoder.js
  packages/protocol/test/ACE/validators/swap/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/ACE.json
  packages/contract-artifacts/artifacts/Address.json
  packages/contract-artifacts/artifacts/AdminUpgradeabilityProxy.json
  packages/contract-artifacts/artifacts/BaseAdminUpgradeabilityProxy.json
  packages/contract-artifacts/artifacts/BaseUpgradeabilityProxy.json
  packages/contract-artifacts/artifacts/Behaviour201907.json
  packages/contract-artifacts/artifacts/BehaviourAdjustable201907.json
  packages/contract-artifacts/artifacts/BehaviourBase201907.json
  packages/contract-artifacts/artifacts/BehaviourConvertible201907.json
  packages/contract-artifacts/artifacts/BehaviourMixed201907.json
  packages/contract-artifacts/artifacts/ERC20Mintable.json
  packages/contract-artifacts/artifacts/FactoryAdjustable201907.json
  packages/contract-artifacts/artifacts/FactoryBase201907.json
  packages/contract-artifacts/artifacts/FactoryConvertible201907.json
  packages/contract-artifacts/artifacts/FactoryMixed201907.json
  packages/contract-artifacts/artifacts/IAZTEC.json
  packages/contract-artifacts/artifacts/JoinSplitFluid.json
  packages/contract-artifacts/artifacts/JoinSplitFluidInterface.json
  packages/contract-artifacts/artifacts/LibEIP712.json
  packages/contract-artifacts/artifacts/NoteRegistryBehaviour.json
  packages/contract-artifacts/artifacts/NoteRegistryFactory.json
  packages/contract-artifacts/artifacts/NoteRegistryManager.json
  packages/contract-artifacts/artifacts/ProxyAdmin.json
  packages/contract-artifacts/artifacts/PublicRange.json
  packages/contract-artifacts/artifacts/PublicRangeABIEncoder.json
  packages/contract-artifacts/artifacts/PublicRangeInterface.json
  packages/contract-artifacts/artifacts/TestFactory.json
  packages/contract-artifacts/artifacts/UpgradeabilityProxy.json
  packages/contract-artifacts/artifacts/ZkAsset.json
  packages/contract-artifacts/artifacts/ZkAssetAdjustable.json
  packages/contract-artifacts/artifacts/ZkAssetBase.json
  packages/contract-artifacts/artifacts/ZkAssetBurnable.json
  packages/contract-artifacts/artifacts/ZkAssetBurnableBase.json
  packages/contract-artifacts/artifacts/ZkAssetDetailed.json
  packages/contract-artifacts/artifacts/ZkAssetMintable.json
  packages/contract-artifacts/artifacts/ZkAssetMintableBase.json
  packages/contract-artifacts/artifacts/ZkAssetOwnable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnableBase.json
Owners: @PaulRBerg

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/ACE.json
  packages/contract-artifacts/artifacts/Address.json
  packages/contract-artifacts/artifacts/AdminUpgradeabilityProxy.json
  packages/contract-artifacts/artifacts/BaseAdminUpgradeabilityProxy.json
  packages/contract-artifacts/artifacts/BaseUpgradeabilityProxy.json
  packages/contract-artifacts/artifacts/Behaviour201907.json
  packages/contract-artifacts/artifacts/BehaviourAdjustable201907.json
  packages/contract-artifacts/artifacts/BehaviourBase201907.json
  packages/contract-artifacts/artifacts/BehaviourConvertible201907.json
  packages/contract-artifacts/artifacts/BehaviourMixed201907.json
  packages/contract-artifacts/artifacts/ERC20Mintable.json
  packages/contract-artifacts/artifacts/FactoryAdjustable201907.json
  packages/contract-artifacts/artifacts/FactoryBase201907.json
  packages/contract-artifacts/artifacts/FactoryConvertible201907.json
  packages/contract-artifacts/artifacts/FactoryMixed201907.json
  packages/contract-artifacts/artifacts/IAZTEC.json
  packages/contract-artifacts/artifacts/JoinSplitFluid.json
  packages/contract-artifacts/artifacts/JoinSplitFluidInterface.json
  packages/contract-artifacts/artifacts/LibEIP712.json
  packages/contract-artifacts/artifacts/NoteRegistryBehaviour.json
  packages/contract-artifacts/artifacts/NoteRegistryFactory.json
  packages/contract-artifacts/artifacts/NoteRegistryManager.json
  packages/contract-artifacts/artifacts/ProxyAdmin.json
  packages/contract-artifacts/artifacts/PublicRange.json
  packages/contract-artifacts/artifacts/PublicRangeABIEncoder.json
  packages/contract-artifacts/artifacts/PublicRangeInterface.json
  packages/contract-artifacts/artifacts/TestFactory.json
  packages/contract-artifacts/artifacts/UpgradeabilityProxy.json
  packages/contract-artifacts/artifacts/ZkAsset.json
  packages/contract-artifacts/artifacts/ZkAssetAdjustable.json
  packages/contract-artifacts/artifacts/ZkAssetBase.json
  packages/contract-artifacts/artifacts/ZkAssetBurnable.json
  packages/contract-artifacts/artifacts/ZkAssetBurnableBase.json
  packages/contract-artifacts/artifacts/ZkAssetDetailed.json
  packages/contract-artifacts/artifacts/ZkAssetMintable.json
  packages/contract-artifacts/artifacts/ZkAssetMintableBase.json
  packages/contract-artifacts/artifacts/ZkAssetOwnable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnableBase.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg
