Repository rh0108/ethereum-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PaulRBerg, @zac-williamson, @thomas-waite

test(protocol): fix naming + asyncness to play nice with coverage tool
  packages/contract-artifacts/src/index.js
  packages/protocol/contracts/ACE/ACE.sol
  packages/protocol/contracts/ACE/ACEOwner.sol
  packages/protocol/contracts/ACE/noteRegistry/NoteRegistryManager.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/Behaviour201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/adjustable/BehaviourAdjustable201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/adjustable/FactoryAdjustable201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/convertible/BehaviourConvertible201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/convertible/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/convertible/FactoryConvertible201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/mixed/BehaviourMixed201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/mixed/FactoryMixed201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/adjustable/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/adjustable/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/convertible/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/convertible/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/mixed/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/interfaces/NoteRegistryBehaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/interfaces/NoteRegistryFactory.sol
  packages/protocol/test/ACE/NoteRegistry/epochs/epochTests.js
Owners: @PaulRBerg, @zac-williamson, @thomas-waite

test(protocol): fix naming + asyncness to play nice with coverage tool
  packages/contract-artifacts/src/index.js
  packages/protocol/contracts/ACE/ACE.sol
  packages/protocol/contracts/ACE/ACEOwner.sol
  packages/protocol/contracts/ACE/noteRegistry/NoteRegistryManager.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/Behaviour201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/adjustable/BehaviourAdjustable201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/adjustable/FactoryAdjustable201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/convertible/BehaviourConvertible201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/convertible/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/convertible/FactoryConvertible201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/mixed/BehaviourMixed201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/mixed/FactoryMixed201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/adjustable/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/adjustable/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/convertible/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/convertible/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/mixed/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/interfaces/NoteRegistryBehaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/interfaces/NoteRegistryFactory.sol
  packages/protocol/test/ACE/NoteRegistry/epochs/epochTests.js
Owners: @PaulRBerg, @zac-williamson, @thomas-waite

feat(extension): push subscription data from background to content
  packages/extension/src/background/services/ClientSubscriptionService/helpers/SubscriptionManager.js
  packages/extension/src/background/services/ClientSubscriptionService/index.js
  packages/extension/src/background/services/GraphQLService/resolvers/index.js
  packages/extension/src/background/services/GraphQLService/typeDefs.js
  packages/extension/src/background/services/GraphQLService/validators/validateDomainAccess.js
  packages/extension/src/background/services/NoteService/index.js
  packages/extension/src/background/tasks/acceptConnection.js
  packages/extension/src/client/apis/Asset.js
  packages/extension/src/client/utils/subscribeToContentScript.js
  packages/extension/src/config/event.js
  packages/extension/src/content/tasks/listenMessagesFromClient.js
  packages/extension/src/content/utils/subscribeToBackgroundScript.js
Owners: none

feat(extension): push subscription data from background to content
  packages/extension/src/background/services/ClientSubscriptionService/helpers/SubscriptionManager.js
  packages/extension/src/background/services/ClientSubscriptionService/index.js
  packages/extension/src/background/services/GraphQLService/resolvers/index.js
  packages/extension/src/background/services/GraphQLService/typeDefs.js
  packages/extension/src/background/services/GraphQLService/validators/validateDomainAccess.js
  packages/extension/src/background/services/NoteService/index.js
  packages/extension/src/background/tasks/acceptConnection.js
  packages/extension/src/client/apis/Asset.js
  packages/extension/src/client/utils/subscribeToContentScript.js
  packages/extension/src/config/event.js
  packages/extension/src/content/tasks/listenMessagesFromClient.js
  packages/extension/src/content/utils/subscribeToBackgroundScript.js
Owners: none

style(protocol): fix line size + whitespace lint
  packages/protocol/contracts/ACE/ACE.sol
  packages/protocol/test/ACE/NoteRegistry/epochs/epochTests.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(protocol): fix line size + whitespace lint
  packages/protocol/contracts/ACE/ACE.sol
  packages/protocol/test/ACE/NoteRegistry/epochs/epochTests.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/ACE.json
  packages/contract-artifacts/artifacts/ACEOwner.json
  packages/contract-artifacts/artifacts/Address.json
  packages/contract-artifacts/artifacts/AdminUpgradeabilityProxy.json
  packages/contract-artifacts/artifacts/BaseAdminUpgradeabilityProxy.json
  packages/contract-artifacts/artifacts/BaseUpgradeabilityProxy.json
  packages/contract-artifacts/artifacts/Behaviour201907.json
  packages/contract-artifacts/artifacts/BehaviourAdjustable201907.json
  packages/contract-artifacts/artifacts/BehaviourConvertible201907.json
  packages/contract-artifacts/artifacts/BehaviourMixed201907.json
  packages/contract-artifacts/artifacts/Dividend.json
  packages/contract-artifacts/artifacts/FactoryAdjustable201907.json
  packages/contract-artifacts/artifacts/FactoryConvertible201907.json
  packages/contract-artifacts/artifacts/FactoryMixed201907.json
  packages/contract-artifacts/artifacts/JoinSplitFluid.json
  packages/contract-artifacts/artifacts/JoinSplitFluidInterface.json
  packages/contract-artifacts/artifacts/LibEIP712.json
  packages/contract-artifacts/artifacts/MultiSigWallet.json
  packages/contract-artifacts/artifacts/MultiSigWalletWithTimeLock.json
  packages/contract-artifacts/artifacts/NoteRegistryBehaviour.json
  packages/contract-artifacts/artifacts/NoteRegistryFactory.json
  packages/contract-artifacts/artifacts/NoteRegistryManager.json
  packages/contract-artifacts/artifacts/Proxy.json
  packages/contract-artifacts/artifacts/ProxyAdmin.json
  packages/contract-artifacts/artifacts/TestRejectEther.json
  packages/contract-artifacts/artifacts/UpgradeabilityProxy.json
  packages/contract-artifacts/artifacts/VersioningUtils.json
  packages/contract-artifacts/artifacts/ZkAsset.json
  packages/contract-artifacts/artifacts/ZkAssetAdjustable.json
  packages/contract-artifacts/artifacts/ZkAssetBase.json
  packages/contract-artifacts/artifacts/ZkAssetBurnable.json
  packages/contract-artifacts/artifacts/ZkAssetDetailed.json
  packages/contract-artifacts/artifacts/ZkAssetMintable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnableBase.json
Owners: @PaulRBerg

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/ACE.json
  packages/contract-artifacts/artifacts/ACEOwner.json
  packages/contract-artifacts/artifacts/Address.json
  packages/contract-artifacts/artifacts/AdminUpgradeabilityProxy.json
  packages/contract-artifacts/artifacts/BaseAdminUpgradeabilityProxy.json
  packages/contract-artifacts/artifacts/BaseUpgradeabilityProxy.json
  packages/contract-artifacts/artifacts/Behaviour201907.json
  packages/contract-artifacts/artifacts/BehaviourAdjustable201907.json
  packages/contract-artifacts/artifacts/BehaviourConvertible201907.json
  packages/contract-artifacts/artifacts/BehaviourMixed201907.json
  packages/contract-artifacts/artifacts/Dividend.json
  packages/contract-artifacts/artifacts/FactoryAdjustable201907.json
  packages/contract-artifacts/artifacts/FactoryConvertible201907.json
  packages/contract-artifacts/artifacts/FactoryMixed201907.json
  packages/contract-artifacts/artifacts/JoinSplitFluid.json
  packages/contract-artifacts/artifacts/JoinSplitFluidInterface.json
  packages/contract-artifacts/artifacts/LibEIP712.json
  packages/contract-artifacts/artifacts/MultiSigWallet.json
  packages/contract-artifacts/artifacts/MultiSigWalletWithTimeLock.json
  packages/contract-artifacts/artifacts/NoteRegistryBehaviour.json
  packages/contract-artifacts/artifacts/NoteRegistryFactory.json
  packages/contract-artifacts/artifacts/NoteRegistryManager.json
  packages/contract-artifacts/artifacts/Proxy.json
  packages/contract-artifacts/artifacts/ProxyAdmin.json
  packages/contract-artifacts/artifacts/TestRejectEther.json
  packages/contract-artifacts/artifacts/UpgradeabilityProxy.json
  packages/contract-artifacts/artifacts/VersioningUtils.json
  packages/contract-artifacts/artifacts/ZkAsset.json
  packages/contract-artifacts/artifacts/ZkAssetAdjustable.json
  packages/contract-artifacts/artifacts/ZkAssetBase.json
  packages/contract-artifacts/artifacts/ZkAssetBurnable.json
  packages/contract-artifacts/artifacts/ZkAssetDetailed.json
  packages/contract-artifacts/artifacts/ZkAssetMintable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnableBase.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(aztec.js): implement publicRange proof JS code implement proof construction and proof verification tests for both proof construction and verification
  packages/aztec.js/src/proof/index.js
  packages/aztec.js/src/proof/publicRange/index.js
  packages/aztec.js/src/proof/publicRange/verifier.js
  packages/aztec.js/src/proof/types.js
  packages/aztec.js/test/proof/publicRange/index.js
  packages/aztec.js/test/proof/publicRange/verifier.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(aztec.js): implement publicRange proof JS code implement proof construction and proof verification tests for both proof construction and verification
  packages/aztec.js/src/proof/index.js
  packages/aztec.js/src/proof/publicRange/index.js
  packages/aztec.js/src/proof/publicRange/verifier.js
  packages/aztec.js/src/proof/types.js
  packages/aztec.js/test/proof/publicRange/index.js
  packages/aztec.js/test/proof/publicRange/verifier.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(aztec.js): add helper functions to construct utility note
  packages/aztec.js/src/proof/publicRange/helpers.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(aztec.js): add helper functions to construct utility note
  packages/aztec.js/src/proof/publicRange/helpers.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): tests for less than proof relation
  packages/aztec.js/src/proof/publicRange/helpers.js
  packages/aztec.js/src/proof/publicRange/index.js
  packages/aztec.js/src/proof/publicRange/verifier.js
  packages/aztec.js/test/proof/publicRange/verifier.js
  packages/protocol/test/ACE/validators/publicRange/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): tests for less than proof relation
  packages/aztec.js/src/proof/publicRange/helpers.js
  packages/aztec.js/src/proof/publicRange/index.js
  packages/aztec.js/src/proof/publicRange/verifier.js
  packages/aztec.js/test/proof/publicRange/verifier.js
  packages/protocol/test/ACE/validators/publicRange/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(aztec.js): make proof work for less than relation
  packages/aztec.js/src/proof/publicRange/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(aztec.js): make proof work for less than relation
  packages/aztec.js/src/proof/publicRange/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

docs(aztec.js): implement PR feedback
  packages/aztec.js/src/proof/publicRange/helpers.js
  packages/aztec.js/src/proof/publicRange/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

docs(aztec.js): implement PR feedback
  packages/aztec.js/src/proof/publicRange/helpers.js
  packages/aztec.js/src/proof/publicRange/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(protocol): add all notes into the pairing check
  packages/protocol/contracts/ACE/validators/publicRange/PublicRange.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(protocol): add all notes into the pairing check
  packages/protocol/contracts/ACE/validators/publicRange/PublicRange.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): add balancing relation check in proof construction done to help stop a user creating an incorrect proof updated tests accordingly
  packages/aztec.js/src/proof/publicRange/index.js
  packages/aztec.js/test/proof/privateRange/verifier.js
  packages/aztec.js/test/proof/publicRange/index.js
  packages/aztec.js/test/proof/publicRange/verifier.js
  packages/protocol/test/ACE/validators/publicRange/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): add balancing relation check in proof construction done to help stop a user creating an incorrect proof updated tests accordingly
  packages/aztec.js/src/proof/publicRange/index.js
  packages/aztec.js/test/proof/privateRange/verifier.js
  packages/aztec.js/test/proof/publicRange/index.js
  packages/aztec.js/test/proof/publicRange/verifier.js
  packages/protocol/test/ACE/validators/publicRange/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

build: update artifact and deployment scripts
  packages/contract-artifacts/src/index.js
  packages/monorepo-scripts/addresses/update.js
  packages/monorepo-scripts/artifacts/build.js
Owners: @PaulRBerg

build: update artifact and deployment scripts
  packages/contract-artifacts/src/index.js
  packages/monorepo-scripts/addresses/update.js
  packages/monorepo-scripts/artifacts/build.js
Owners: @PaulRBerg

test(protocol): de-duplicate noteregistry tests
  packages/protocol/test/ACE/NoteRegistry.js
  packages/protocol/test/ACE/NoteRegistry/epochs/201907/NoteRegistry.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): de-duplicate noteregistry tests
  packages/protocol/test/ACE/NoteRegistry.js
  packages/protocol/test/ACE/NoteRegistry/epochs/201907/NoteRegistry.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): add method on ownable base to trigger registry upgrade
  packages/protocol/contracts/ERC1724/base/ZkAssetOwnableBase.sol
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): add method on ownable base to trigger registry upgrade
  packages/protocol/contracts/ERC1724/base/ZkAssetOwnableBase.sol
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): stop upgrade from overwritting stored proxy address
  packages/protocol/contracts/ACE/noteRegistry/NoteRegistryManager.sol
  packages/protocol/contracts/ACE/noteRegistry/interfaces/NoteRegistryFactory.sol
  packages/protocol/contracts/ACE/noteRegistry/interfaces/ProxyAdmin.sol
  packages/protocol/contracts/test/ACE/TestFactory.sol
  packages/protocol/test/ACE/NoteRegistry/NoteRegistryManager.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): stop upgrade from overwritting stored proxy address
  packages/protocol/contracts/ACE/noteRegistry/NoteRegistryManager.sol
  packages/protocol/contracts/ACE/noteRegistry/interfaces/NoteRegistryFactory.sol
  packages/protocol/contracts/ACE/noteRegistry/interfaces/ProxyAdmin.sol
  packages/protocol/contracts/test/ACE/TestFactory.sol
  packages/protocol/test/ACE/NoteRegistry/NoteRegistryManager.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(protocol): remove unused var
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(protocol): remove unused var
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(protocol): inline var declarations + add missing ;
  packages/protocol/test/ACE/NoteRegistry/NoteRegistryManager.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(protocol): inline var declarations + add missing ;
  packages/protocol/test/ACE/NoteRegistry/NoteRegistryManager.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test: add tests to check sign functions check publicKey can be recovered, v is well formed check AZTEC signing function output matches eth-sig-util.signTypedData() signing function output
  packages/aztec.js/package.json
  packages/aztec.js/test/signer/index.js
  packages/protocol/test/libs/LibEIP712.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test: add tests to check sign functions check publicKey can be recovered, v is well formed check AZTEC signing function output matches eth-sig-util.signTypedData() signing function output
  packages/aztec.js/package.json
  packages/aztec.js/test/signer/index.js
  packages/protocol/test/libs/LibEIP712.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): update to renamed methods
  packages/protocol/test/ERC1724/ZkAssetMintable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): update to renamed methods
  packages/protocol/test/ERC1724/ZkAssetMintable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

.circleci                       @PaulRBerg
packages/aztec.js               @zac-williamson @PaulRBerg @thomas-waite
packages/contract-addresses     @PaulRBerg
packages/contract-artifacts     @PaulRBerg
packages/dev-utils              @PaulRBerg @thomas-waite
packages/monorepo-scripts       @PaulRBerg
packages/protocol               @zac-williamson @PaulRBerg @thomas-waite
packages/huff                   @zac-williamson
packages/weierstrudel           @zac-williamson
