Repository rh0108/ethereum-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PaulRBerg, @zac-williamson, @thomas-waite

feat(extension): add util to recover a string to encrypted object
  packages/extension/src/utils/__tests__/crypto.spec.js
  packages/extension/src/utils/crypto/EncryptedMessage/toHexString.js
  packages/extension/src/utils/crypto/decryptMessage.js
  packages/extension/src/utils/crypto/encryptMessage.js
  packages/extension/src/utils/crypto/fromHexString.js
  packages/extension/src/utils/crypto/index.js
  packages/extension/src/utils/crypto/lengthConfig.js
  packages/extension/src/utils/crypto/toUint8Array.js
  packages/extension/src/utils/encryptedViewingKey/fromHexString.js
  packages/extension/src/utils/encryptedViewingKey/lengthConfig.js
Owners: none

feat(extension): add util to recover a string to encrypted object
  packages/extension/src/utils/__tests__/crypto.spec.js
  packages/extension/src/utils/crypto/EncryptedMessage/toHexString.js
  packages/extension/src/utils/crypto/decryptMessage.js
  packages/extension/src/utils/crypto/encryptMessage.js
  packages/extension/src/utils/crypto/fromHexString.js
  packages/extension/src/utils/crypto/index.js
  packages/extension/src/utils/crypto/lengthConfig.js
  packages/extension/src/utils/crypto/toUint8Array.js
  packages/extension/src/utils/encryptedViewingKey/fromHexString.js
  packages/extension/src/utils/encryptedViewingKey/lengthConfig.js
Owners: none

feat(extension): add util to batch decrypt multiple messages
  packages/extension/src/utils/__tests__/crypto.spec.js
  packages/extension/src/utils/crypto/batchDecrypt.js
  packages/extension/src/utils/crypto/index.js
Owners: none

feat(extension): add util to batch decrypt multiple messages
  packages/extension/src/utils/__tests__/crypto.spec.js
  packages/extension/src/utils/crypto/batchDecrypt.js
  packages/extension/src/utils/crypto/index.js
Owners: none

refactor(extension): add test for encrypted msg with the same input
  packages/extension/src/utils/__tests__/crypto.spec.js
Owners: none

refactor(extension): add test for encrypted msg with the same input
  packages/extension/src/utils/__tests__/crypto.spec.js
Owners: none

feat(extension): allow to loop through model data from a min id
  packages/extension/src/database/helpers/Model/each.js
  packages/extension/src/database/helpers/Model/index.js
  packages/extension/src/database/helpers/Model/set.js
  packages/extension/src/database/helpers/Model/update.js
  packages/extension/src/database/helpers/__tests__/Model.spec.js
Owners: none

feat(extension): allow to loop through model data from a min id
  packages/extension/src/database/helpers/Model/each.js
  packages/extension/src/database/helpers/Model/index.js
  packages/extension/src/database/helpers/Model/set.js
  packages/extension/src/database/helpers/Model/update.js
  packages/extension/src/database/helpers/__tests__/Model.spec.js
Owners: none

refactor(protocol): set default proof for ZkAssets to joinSplit update corresponding tests with updated method to call confidentialTransfer() and confidentialTransferFrom()
  packages/protocol/contracts/ERC1724/base/ZkAssetOwnableBase.sol
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/ERC1724/ZkAssetAdjustable.js
  packages/protocol/test/ERC1724/ZkAssetMintable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(protocol): set default proof for ZkAssets to joinSplit update corresponding tests with updated method to call confidentialTransfer() and confidentialTransferFrom()
  packages/protocol/contracts/ERC1724/base/ZkAssetOwnableBase.sol
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/ERC1724/ZkAssetAdjustable.js
  packages/protocol/test/ERC1724/ZkAssetMintable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): fix tests to help truffle deal with things
  packages/protocol/contracts/ERC1724/base/ZkAssetOwnableBase.sol
  packages/protocol/test/ERC1724/ZkAssetAdjustable.js
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): fix tests to help truffle deal with things
  packages/protocol/contracts/ERC1724/base/ZkAssetOwnableBase.sol
  packages/protocol/test/ERC1724/ZkAssetAdjustable.js
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(protocol): fix linting
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/ERC1724/ZkAssetAdjustable.js
  packages/protocol/test/ERC1724/ZkAssetMintable.js
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(protocol): fix linting
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/ERC1724/ZkAssetAdjustable.js
  packages/protocol/test/ERC1724/ZkAssetMintable.js
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): add additional check on overwritten fn
  packages/protocol/contracts/ERC1724/base/ZkAssetMintableBase.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): add additional check on overwritten fn
  packages/protocol/contracts/ERC1724/base/ZkAssetMintableBase.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(extension): test which prepopulate ganache with notes
  packages/extension/package.json
  packages/extension/src/background/database/index.js
  packages/extension/src/background/services/Web3Service/index.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/helpers/SyncManager.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/index.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/__tests__/NoteSyncService.spec.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/__tests__/helpers/AuthService.js
  packages/graph/tests/helpers/Web3Service.js
Owners: none

test(extension): test which prepopulate ganache with notes
  packages/extension/package.json
  packages/extension/src/background/database/index.js
  packages/extension/src/background/services/Web3Service/index.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/helpers/SyncManager.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/index.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/__tests__/NoteSyncService.spec.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/__tests__/helpers/AuthService.js
  packages/graph/tests/helpers/Web3Service.js
Owners: none

docs(protocol): update docs for contracts
  packages/protocol/contracts/ACE/ACEOwner.sol
  packages/protocol/contracts/ACE/validators/dividend/Dividend.sol
  packages/protocol/contracts/ACE/validators/dividend/DividendABIEncoder.sol
  packages/protocol/contracts/ACE/validators/joinSplit/JoinSplit.sol
  packages/protocol/contracts/ACE/validators/joinSplit/JoinSplitABIEncoder.sol
  packages/protocol/contracts/ACE/validators/joinSplitFluid/JoinSplitFluid.sol
  packages/protocol/contracts/ACE/validators/joinSplitFluid/JoinSplitFluidABIEncoder.sol
  packages/protocol/contracts/ACE/validators/privateRange/PrivateRange.sol
  packages/protocol/contracts/ACE/validators/privateRange/PrivateRangeABIEncoder.sol
  packages/protocol/contracts/ACE/validators/publicRange/PublicRange.sol
  packages/protocol/contracts/ACE/validators/publicRange/PublicRangeABIEncoder.sol
  packages/protocol/contracts/ACE/validators/swap/Swap.sol
  packages/protocol/contracts/ACE/validators/swap/SwapABIEncoder.sol
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
  packages/protocol/contracts/ERC1724/base/ZkAssetOwnableBase.sol
  packages/protocol/contracts/interfaces/DividendInterface.sol
  packages/protocol/contracts/interfaces/IAZTEC.sol
  packages/protocol/contracts/interfaces/IZkAsset.sol
  packages/protocol/contracts/interfaces/IZkAssetBurnable.sol
  packages/protocol/contracts/interfaces/JoinSplitFluidInterface.sol
  packages/protocol/contracts/interfaces/PrivateRangeInterface.sol
  packages/protocol/contracts/interfaces/PublicRangeInterface.sol
  packages/protocol/contracts/interfaces/SwapInterface.sol
  packages/protocol/contracts/libs/MetaDataUtils.sol
  packages/protocol/contracts/libs/NoteUtils.sol
  packages/protocol/contracts/libs/ProofUtils.sol
  packages/protocol/contracts/libs/SafeMath8.sol
  packages/protocol/contracts/libs/VersioningUtils.sol
  packages/protocol/contracts/test/ACE/ACETest.sol
  packages/protocol/contracts/test/ACE/BehaviourWithConflictTest.sol
  packages/protocol/contracts/test/ACE/validators/dividend/DividendABIEncoderTest.sol
  packages/protocol/contracts/test/ACE/validators/joinSplit/JoinSplitABIEncoderTest.sol
  packages/protocol/contracts/test/ACE/validators/joinSplitFluid/JoinSplitFluidABIEncoderTest.sol
  packages/protocol/contracts/test/ACE/validators/privateRange/PrivateRangeABIEncoderTest.sol
  packages/protocol/contracts/test/ACE/validators/publicRange/PublicRangeABIEncoderTest.sol
  packages/protocol/contracts/test/libs/LibEIP712Test.sol
  packages/protocol/contracts/test/libs/NoteUtilsTest.sol
  packages/protocol/contracts/test/libs/ProofUtilsTest.sol
  packages/protocol/contracts/test/libs/SafeMath8Test.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

docs(protocol): update docs for contracts
  packages/protocol/contracts/ACE/ACEOwner.sol
  packages/protocol/contracts/ACE/validators/dividend/Dividend.sol
  packages/protocol/contracts/ACE/validators/dividend/DividendABIEncoder.sol
  packages/protocol/contracts/ACE/validators/joinSplit/JoinSplit.sol
  packages/protocol/contracts/ACE/validators/joinSplit/JoinSplitABIEncoder.sol
  packages/protocol/contracts/ACE/validators/joinSplitFluid/JoinSplitFluid.sol
  packages/protocol/contracts/ACE/validators/joinSplitFluid/JoinSplitFluidABIEncoder.sol
  packages/protocol/contracts/ACE/validators/privateRange/PrivateRange.sol
  packages/protocol/contracts/ACE/validators/privateRange/PrivateRangeABIEncoder.sol
  packages/protocol/contracts/ACE/validators/publicRange/PublicRange.sol
  packages/protocol/contracts/ACE/validators/publicRange/PublicRangeABIEncoder.sol
  packages/protocol/contracts/ACE/validators/swap/Swap.sol
  packages/protocol/contracts/ACE/validators/swap/SwapABIEncoder.sol
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
  packages/protocol/contracts/ERC1724/base/ZkAssetOwnableBase.sol
  packages/protocol/contracts/interfaces/DividendInterface.sol
  packages/protocol/contracts/interfaces/IAZTEC.sol
  packages/protocol/contracts/interfaces/IZkAsset.sol
  packages/protocol/contracts/interfaces/IZkAssetBurnable.sol
  packages/protocol/contracts/interfaces/JoinSplitFluidInterface.sol
  packages/protocol/contracts/interfaces/PrivateRangeInterface.sol
  packages/protocol/contracts/interfaces/PublicRangeInterface.sol
  packages/protocol/contracts/interfaces/SwapInterface.sol
  packages/protocol/contracts/libs/MetaDataUtils.sol
  packages/protocol/contracts/libs/NoteUtils.sol
  packages/protocol/contracts/libs/ProofUtils.sol
  packages/protocol/contracts/libs/SafeMath8.sol
  packages/protocol/contracts/libs/VersioningUtils.sol
  packages/protocol/contracts/test/ACE/ACETest.sol
  packages/protocol/contracts/test/ACE/BehaviourWithConflictTest.sol
  packages/protocol/contracts/test/ACE/validators/dividend/DividendABIEncoderTest.sol
  packages/protocol/contracts/test/ACE/validators/joinSplit/JoinSplitABIEncoderTest.sol
  packages/protocol/contracts/test/ACE/validators/joinSplitFluid/JoinSplitFluidABIEncoderTest.sol
  packages/protocol/contracts/test/ACE/validators/privateRange/PrivateRangeABIEncoderTest.sol
  packages/protocol/contracts/test/ACE/validators/publicRange/PublicRangeABIEncoderTest.sol
  packages/protocol/contracts/test/libs/LibEIP712Test.sol
  packages/protocol/contracts/test/libs/NoteUtilsTest.sol
  packages/protocol/contracts/test/libs/ProofUtilsTest.sol
  packages/protocol/contracts/test/libs/SafeMath8Test.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/ACE.json
  packages/contract-artifacts/artifacts/ACEOwner.json
  packages/contract-artifacts/artifacts/Behaviour201907.json
  packages/contract-artifacts/artifacts/BehaviourAdjustable201907.json
  packages/contract-artifacts/artifacts/BehaviourBase201907.json
  packages/contract-artifacts/artifacts/Dividend.json
  packages/contract-artifacts/artifacts/DividendABIEncoder.json
  packages/contract-artifacts/artifacts/DividendInterface.json
  packages/contract-artifacts/artifacts/FactoryAdjustable201907.json
  packages/contract-artifacts/artifacts/FactoryBase201907.json
  packages/contract-artifacts/artifacts/IAZTEC.json
  packages/contract-artifacts/artifacts/JoinSplit.json
  packages/contract-artifacts/artifacts/JoinSplitABIEncoder.json
  packages/contract-artifacts/artifacts/JoinSplitFluid.json
  packages/contract-artifacts/artifacts/JoinSplitFluidABIEncoder.json
  packages/contract-artifacts/artifacts/JoinSplitFluidInterface.json
  packages/contract-artifacts/artifacts/MetaDataUtils.json
  packages/contract-artifacts/artifacts/NoteUtils.json
  packages/contract-artifacts/artifacts/PrivateRange.json
  packages/contract-artifacts/artifacts/PrivateRangeABIEncoder.json
  packages/contract-artifacts/artifacts/PrivateRangeInterface.json
  packages/contract-artifacts/artifacts/ProofUtils.json
  packages/contract-artifacts/artifacts/PublicRange.json
  packages/contract-artifacts/artifacts/PublicRangeABIEncoder.json
  packages/contract-artifacts/artifacts/SafeMath8.json
  packages/contract-artifacts/artifacts/Swap.json
  packages/contract-artifacts/artifacts/SwapABIEncoder.json
  packages/contract-artifacts/artifacts/SwapInterface.json
  packages/contract-artifacts/artifacts/TestFactory.json
  packages/contract-artifacts/artifacts/VersioningUtils.json
  packages/contract-artifacts/artifacts/ZkAsset.json
  packages/contract-artifacts/artifacts/ZkAssetAdjustable.json
  packages/contract-artifacts/artifacts/ZkAssetBase.json
  packages/contract-artifacts/artifacts/ZkAssetBurnable.json
  packages/contract-artifacts/artifacts/ZkAssetBurnableBase.json
  packages/contract-artifacts/artifacts/ZkAssetDetailed.json
  packages/contract-artifacts/artifacts/ZkAssetMintable.json
  packages/contract-artifacts/artifacts/ZkAssetMintableBase.json
  packages/contract-artifacts/artifacts/ZkAssetOwnable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnableBase.json
Owners: @PaulRBerg

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/ACE.json
  packages/contract-artifacts/artifacts/ACEOwner.json
  packages/contract-artifacts/artifacts/Behaviour201907.json
  packages/contract-artifacts/artifacts/BehaviourAdjustable201907.json
  packages/contract-artifacts/artifacts/BehaviourBase201907.json
  packages/contract-artifacts/artifacts/Dividend.json
  packages/contract-artifacts/artifacts/DividendABIEncoder.json
  packages/contract-artifacts/artifacts/DividendInterface.json
  packages/contract-artifacts/artifacts/FactoryAdjustable201907.json
  packages/contract-artifacts/artifacts/FactoryBase201907.json
  packages/contract-artifacts/artifacts/IAZTEC.json
  packages/contract-artifacts/artifacts/JoinSplit.json
  packages/contract-artifacts/artifacts/JoinSplitABIEncoder.json
  packages/contract-artifacts/artifacts/JoinSplitFluid.json
  packages/contract-artifacts/artifacts/JoinSplitFluidABIEncoder.json
  packages/contract-artifacts/artifacts/JoinSplitFluidInterface.json
  packages/contract-artifacts/artifacts/MetaDataUtils.json
  packages/contract-artifacts/artifacts/NoteUtils.json
  packages/contract-artifacts/artifacts/PrivateRange.json
  packages/contract-artifacts/artifacts/PrivateRangeABIEncoder.json
  packages/contract-artifacts/artifacts/PrivateRangeInterface.json
  packages/contract-artifacts/artifacts/ProofUtils.json
  packages/contract-artifacts/artifacts/PublicRange.json
  packages/contract-artifacts/artifacts/PublicRangeABIEncoder.json
  packages/contract-artifacts/artifacts/SafeMath8.json
  packages/contract-artifacts/artifacts/Swap.json
  packages/contract-artifacts/artifacts/SwapABIEncoder.json
  packages/contract-artifacts/artifacts/SwapInterface.json
  packages/contract-artifacts/artifacts/TestFactory.json
  packages/contract-artifacts/artifacts/VersioningUtils.json
  packages/contract-artifacts/artifacts/ZkAsset.json
  packages/contract-artifacts/artifacts/ZkAssetAdjustable.json
  packages/contract-artifacts/artifacts/ZkAssetBase.json
  packages/contract-artifacts/artifacts/ZkAssetBurnable.json
  packages/contract-artifacts/artifacts/ZkAssetBurnableBase.json
  packages/contract-artifacts/artifacts/ZkAssetDetailed.json
  packages/contract-artifacts/artifacts/ZkAssetMintable.json
  packages/contract-artifacts/artifacts/ZkAssetMintableBase.json
  packages/contract-artifacts/artifacts/ZkAssetOwnable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnableBase.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

test(extension): prepopulation ganche
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/__tests__/NoteSyncService.spec.js
Owners: none

test(extension): prepopulation ganche
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/__tests__/NoteSyncService.spec.js
Owners: none

refactor(extension): renamed registerExtension -> account
  packages/extension/src/background/database/models/account/index.js
  packages/extension/src/background/services/GraphQLService/validators/validateAccount.js
  packages/extension/src/background/services/eventsSyncServices/AccountSyncService/helpers/SyncManager.js
  packages/extension/src/background/services/eventsSyncServices/AccountSyncService/index.js
  packages/extension/src/background/services/eventsSyncServices/AccountSyncService/utils/__tests__/AccountSyncService.spec.js
  packages/extension/src/background/services/eventsSyncServices/AccountSyncService/utils/addAccount/createOrUpdateAccount.js
  packages/extension/src/background/services/eventsSyncServices/AccountSyncService/utils/addAccount/index.js
  packages/extension/src/background/services/eventsSyncServices/AccountSyncService/utils/fetchAccount.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/index.js
  packages/extension/src/background/services/eventsSyncServices/RegisterExtensionSyncService/utils/addRegisterExtension/createOrUpdateRegisterExtension.js
  packages/extension/src/background/services/eventsSyncServices/RegisterExtensionSyncService/utils/addRegisterExtension/index.js
Owners: none

refactor(extension): renamed registerExtension -> account
  packages/extension/src/background/database/models/account/index.js
  packages/extension/src/background/services/GraphQLService/validators/validateAccount.js
  packages/extension/src/background/services/eventsSyncServices/AccountSyncService/helpers/SyncManager.js
  packages/extension/src/background/services/eventsSyncServices/AccountSyncService/index.js
  packages/extension/src/background/services/eventsSyncServices/AccountSyncService/utils/__tests__/AccountSyncService.spec.js
  packages/extension/src/background/services/eventsSyncServices/AccountSyncService/utils/addAccount/createOrUpdateAccount.js
  packages/extension/src/background/services/eventsSyncServices/AccountSyncService/utils/addAccount/index.js
  packages/extension/src/background/services/eventsSyncServices/AccountSyncService/utils/fetchAccount.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/index.js
  packages/extension/src/background/services/eventsSyncServices/RegisterExtensionSyncService/utils/addRegisterExtension/createOrUpdateRegisterExtension.js
  packages/extension/src/background/services/eventsSyncServices/RegisterExtensionSyncService/utils/addRegisterExtension/index.js
Owners: none

feat(extension): unpacking event's metadata, refactoring
  packages/extension/src/background/database/helpers/Model/index.js
  packages/extension/src/background/database/helpers/Model/put.js
  packages/extension/src/background/database/models/account/index.js
  packages/extension/src/background/database/models/asset/index.js
  packages/extension/src/background/database/models/noteAccess/index.js
  packages/extension/src/background/services/eventsSyncServices/AccountSyncService/utils/__tests__/AccountSyncService.spec.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/helpers/SyncManager.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/index.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/__tests__/AssetsSyncService.spec.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/__tests__/SyncManager.spec.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/addAsset/createOrUpdateAsset.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/addAsset/index.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/addCreateNoteRegistry/createOrUpdateCreareNoteRegistry.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/addCreateNoteRegistry/index.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/fetchAssets.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/__tests__/ParseMetadata.spec.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/__tests__/helpers/AuthService.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/addNote/config/constants.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/addNote/createNoteAccess.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/addNote/createUpdateNote.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/addNote/destroyNote.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/addNote/index.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/addNote/utils/parseAddressesFromMetadata.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/addNote/utils/parseNoteAccessFromMetadata.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/addNote/utils/stripLeadingZeros.js
Owners: none

feat(extension): unpacking event's metadata, refactoring
  packages/extension/src/background/database/helpers/Model/index.js
  packages/extension/src/background/database/helpers/Model/put.js
  packages/extension/src/background/database/models/account/index.js
  packages/extension/src/background/database/models/asset/index.js
  packages/extension/src/background/database/models/noteAccess/index.js
  packages/extension/src/background/services/eventsSyncServices/AccountSyncService/utils/__tests__/AccountSyncService.spec.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/helpers/SyncManager.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/index.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/__tests__/AssetsSyncService.spec.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/__tests__/SyncManager.spec.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/addAsset/createOrUpdateAsset.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/addAsset/index.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/addCreateNoteRegistry/createOrUpdateCreareNoteRegistry.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/addCreateNoteRegistry/index.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/fetchAssets.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/__tests__/ParseMetadata.spec.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/__tests__/helpers/AuthService.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/addNote/config/constants.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/addNote/createNoteAccess.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/addNote/createUpdateNote.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/addNote/destroyNote.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/addNote/index.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/addNote/utils/parseAddressesFromMetadata.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/addNote/utils/parseNoteAccessFromMetadata.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/addNote/utils/stripLeadingZeros.js
Owners: none

fix(extension): fixed paths to scheme
  packages/extension/src/background/services/GraphQLService/resolvers/utils/pickNotesFromBalance.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/syncNoteInfo.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/__tests__/AssetsSyncService.spec.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/addAsset/createOrUpdateAsset.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/addAsset/index.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/fetchAssets.js
Owners: none

fix(extension): fixed paths to scheme
  packages/extension/src/background/services/GraphQLService/resolvers/utils/pickNotesFromBalance.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/syncNoteInfo.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/__tests__/AssetsSyncService.spec.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/addAsset/createOrUpdateAsset.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/addAsset/index.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/fetchAssets.js
Owners: none

fix(extension): reversed hunks
  packages/extension/src/background/services/GraphQLService/resolvers/utils/pickNotesFromBalance.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/syncNoteInfo.js
Owners: none

fix(extension): reversed hunks
  packages/extension/src/background/services/GraphQLService/resolvers/utils/pickNotesFromBalance.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/syncNoteInfo.js
Owners: none

test(extension): improved time consuming test for events
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/helpers/SyncManager.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/__tests__/NoteSyncService.spec.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/addNote/index.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/associatedNotesWithOwner.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/fetchNotes.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/saveNotes.js
Owners: none

test(extension): improved time consuming test for events
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/helpers/SyncManager.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/__tests__/NoteSyncService.spec.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/addNote/index.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/associatedNotesWithOwner.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/fetchNotes.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/saveNotes.js
Owners: none

feat(extension): add scripts to generate note data for tests
  packages/extension/package.json
  packages/extension/tests/generateTestData/generateNotes.js
  packages/extension/tests/generateTestData/index.js
  packages/extension/tests/helpers/testNotes.js
  packages/extension/tests/utils/prettyPrint.js
Owners: none

feat(extension): add scripts to generate note data for tests
  packages/extension/package.json
  packages/extension/tests/generateTestData/generateNotes.js
  packages/extension/tests/generateTestData/index.js
  packages/extension/tests/helpers/testNotes.js
  packages/extension/tests/utils/prettyPrint.js
Owners: none

test(extension): allow expectErrorResponse to accept async or normal cb
  packages/extension/tests/helpers/expectErrorResponse.js
Owners: none

test(extension): allow expectErrorResponse to accept async or normal cb
  packages/extension/tests/helpers/expectErrorResponse.js
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

.circleci                       @PaulRBerg
packages/aztec.js               @zac-williamson @PaulRBerg @thomas-waite
packages/contract-addresses     @PaulRBerg
packages/contract-artifacts     @PaulRBerg
packages/dev-utils              @PaulRBerg @thomas-waite
packages/monorepo-scripts       @PaulRBerg
packages/protocol               @zac-williamson @PaulRBerg @thomas-waite
packages/huff                   @zac-williamson
packages/weierstrudel           @zac-williamson
