Repository rh0108/ethereum-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PaulRBerg, @zac-williamson, @thomas-waite

fix(extension): fix commit error
  packages/extension/src/background/tasks/acceptConnection.js
Owners: none

fix(extension): fix commit error
  packages/extension/src/background/tasks/acceptConnection.js
Owners: none

fix(extension): don't reload if aztec is not enabled
  packages/extension/src/client/Aztec/index.js
Owners: none

fix(extension): don't reload if aztec is not enabled
  packages/extension/src/client/Aztec/index.js
Owners: none

fix(extension): wrap graphQL error with errorResponse
  packages/extension/src/background/services/GraphQLService/index.js
Owners: none

fix(extension): wrap graphQL error with errorResponse
  packages/extension/src/background/services/GraphQLService/index.js
Owners: none

fix(extension): cast registeredAt to int
  packages/extension/src/background/services/GraphQLService/resolvers/utils/syncUserInfo.js
Owners: none

fix(extension): cast registeredAt to int
  packages/extension/src/background/services/GraphQLService/resolvers/utils/syncUserInfo.js
Owners: none

feat(extension): implemented IndexDb storage for events (add, query)
  packages/extension/package.json
  packages/extension/src/background/database/helpers/Model/add.js
  packages/extension/src/background/database/helpers/Model/index.js
  packages/extension/src/background/database/helpers/Model/query.js
  packages/extension/src/background/database/index.js
  packages/extension/src/background/database/models/registerExtension/index.js
  packages/extension/src/background/services/GraphQLService/validators/validateAccount.js
  packages/extension/src/background/services/SyncService/helpers/SyncManager.js
  packages/extension/src/background/services/Web3Service/index.js
  packages/extension/src/background/services/eventsSyncServices/RegisterExtensionSyncService/helpers/SyncManager.js
  packages/extension/src/background/services/eventsSyncServices/RegisterExtensionSyncService/index.js
  packages/extension/src/background/services/eventsSyncServices/RegisterExtensionSyncService/utils/addRegisterExtension/createOrUpdateRegisterExtension.js
  packages/extension/src/background/services/eventsSyncServices/index.js
  packages/extension/src/background/services/eventsSyncServices/mockIndexDB/registerExtension/index.js
  packages/extension/src/background/tasks/init.js
Owners: none

feat(extension): implemented IndexDb storage for events (add, query)
  packages/extension/package.json
  packages/extension/src/background/database/helpers/Model/add.js
  packages/extension/src/background/database/helpers/Model/index.js
  packages/extension/src/background/database/helpers/Model/query.js
  packages/extension/src/background/database/index.js
  packages/extension/src/background/database/models/registerExtension/index.js
  packages/extension/src/background/services/GraphQLService/validators/validateAccount.js
  packages/extension/src/background/services/SyncService/helpers/SyncManager.js
  packages/extension/src/background/services/Web3Service/index.js
  packages/extension/src/background/services/eventsSyncServices/RegisterExtensionSyncService/helpers/SyncManager.js
  packages/extension/src/background/services/eventsSyncServices/RegisterExtensionSyncService/index.js
  packages/extension/src/background/services/eventsSyncServices/RegisterExtensionSyncService/utils/addRegisterExtension/createOrUpdateRegisterExtension.js
  packages/extension/src/background/services/eventsSyncServices/index.js
  packages/extension/src/background/services/eventsSyncServices/mockIndexDB/registerExtension/index.js
  packages/extension/src/background/tasks/init.js
Owners: none

fix(extension): fixed events updating, fixed blocks offseting
  packages/extension/src/background/database/helpers/Model/index.js
  packages/extension/src/background/database/helpers/Model/update.js
  packages/extension/src/background/services/eventsSyncServices/RegisterExtensionSyncService/index.js
  packages/extension/src/background/services/eventsSyncServices/RegisterExtensionSyncService/utils/addRegisterExtension/createOrUpdateRegisterExtension.js
  packages/extension/src/background/services/eventsSyncServices/RegisterExtensionSyncService/utils/fetchRegisterExtensions.js
  packages/extension/src/background/services/eventsSyncServices/mockIndexDB/registerExtension/index.js
Owners: none

fix(extension): fixed events updating, fixed blocks offseting
  packages/extension/src/background/database/helpers/Model/index.js
  packages/extension/src/background/database/helpers/Model/update.js
  packages/extension/src/background/services/eventsSyncServices/RegisterExtensionSyncService/index.js
  packages/extension/src/background/services/eventsSyncServices/RegisterExtensionSyncService/utils/addRegisterExtension/createOrUpdateRegisterExtension.js
  packages/extension/src/background/services/eventsSyncServices/RegisterExtensionSyncService/utils/fetchRegisterExtensions.js
  packages/extension/src/background/services/eventsSyncServices/mockIndexDB/registerExtension/index.js
Owners: none

fix(extension): fixed names
  packages/extension/src/background/services/eventsSyncServices/RegisterExtensionSyncService/helpers/SyncManager.js
  packages/extension/src/background/services/eventsSyncServices/RegisterExtensionSyncService/utils/fetchRegisterExtensions.js
Owners: none

fix(extension): fixed names
  packages/extension/src/background/services/eventsSyncServices/RegisterExtensionSyncService/helpers/SyncManager.js
  packages/extension/src/background/services/eventsSyncServices/RegisterExtensionSyncService/utils/fetchRegisterExtensions.js
Owners: none

refactor(extension): adjust resolvers and add tests for them
  packages/extension/src/background/services/GraphQLService/resolvers/base.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/__tests__/decryptViewingKey.spec.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/__tests__/getAccounts.spec.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/__tests__/getDecryptedViewingKeyFromMetadata.spec.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/__tests__/helpers/stories.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/__tests__/mergeResolvers.spec.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/__tests__/syncAssetInfo.spec.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/__tests__/syncNoteInfo.spec.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/__tests__/syncUserInfo.spec.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/__tests__/syncUtilityNoteInfo.spec.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/decryptViewingKey.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/getAccounts.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/syncAssetInfo.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/syncNoteInfo.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/syncUserInfo.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/syncUtilityNoteInfo.js
  packages/extension/src/background/services/GraphQLService/typeDefs/base.js
  packages/extension/tests/helpers/testData.js
Owners: none

refactor(extension): adjust resolvers and add tests for them
  packages/extension/src/background/services/GraphQLService/resolvers/base.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/__tests__/decryptViewingKey.spec.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/__tests__/getAccounts.spec.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/__tests__/getDecryptedViewingKeyFromMetadata.spec.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/__tests__/helpers/stories.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/__tests__/mergeResolvers.spec.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/__tests__/syncAssetInfo.spec.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/__tests__/syncNoteInfo.spec.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/__tests__/syncUserInfo.spec.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/__tests__/syncUtilityNoteInfo.spec.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/decryptViewingKey.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/getAccounts.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/syncAssetInfo.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/syncNoteInfo.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/syncUserInfo.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/syncUtilityNoteInfo.js
  packages/extension/src/background/services/GraphQLService/typeDefs/base.js
  packages/extension/tests/helpers/testData.js
Owners: none

fix(extension): dont't override existing account on chain
  packages/extension/src/background/services/GraphQLService/resolvers/utils/__tests__/helpers/stories.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/__tests__/syncUserInfo.spec.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/syncUserInfo.js
  packages/extension/src/config/error.js
Owners: none

fix(extension): dont't override existing account on chain
  packages/extension/src/background/services/GraphQLService/resolvers/utils/__tests__/helpers/stories.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/__tests__/syncUserInfo.spec.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/syncUserInfo.js
  packages/extension/src/config/error.js
Owners: none

build(deps-dev): bump @0x/sol-coverage from 3.0.8 to 3.0.10
  yarn.lock
Owners: none

build(deps-dev): bump @0x/sol-coverage from 3.0.8 to 3.0.10
  yarn.lock
Owners: none

build(deps-dev): bump @0x/sol-trace from 2.0.16 to 2.0.18
  yarn.lock
Owners: none

build(deps-dev): bump @0x/sol-trace from 2.0.16 to 2.0.18
  yarn.lock
Owners: none

feat(extension): implemented CreateNoteRegistry syncing into IndexDB
  packages/extension/src/background/database/helpers/Model/index.js
  packages/extension/src/background/database/helpers/Model/latest.js
  packages/extension/src/background/database/models/createNoteRegistry/index.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/helpers/SyncManager.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/index.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/__tests__/createOrUpdateNote.spec.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/addCreateNoteRegistry/createOrUpdateCreareNoteRegistry.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/addCreateNoteRegistry/index.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/fetchCreateNoteRegistries.js
  packages/extension/src/background/services/eventsSyncServices/RegisterExtensionSyncService/index.js
  packages/extension/src/background/tasks/init.js
  packages/extension/src/config/constants.js
  packages/extension/src/config/contracts.js
  packages/graph/scripts/config/contracts.js
  packages/graph/scripts/tasks/copy.js
Owners: none

feat(extension): implemented CreateNoteRegistry syncing into IndexDB
  packages/extension/src/background/database/helpers/Model/index.js
  packages/extension/src/background/database/helpers/Model/latest.js
  packages/extension/src/background/database/models/createNoteRegistry/index.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/helpers/SyncManager.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/index.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/__tests__/createOrUpdateNote.spec.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/addCreateNoteRegistry/createOrUpdateCreareNoteRegistry.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/addCreateNoteRegistry/index.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/fetchCreateNoteRegistries.js
  packages/extension/src/background/services/eventsSyncServices/RegisterExtensionSyncService/index.js
  packages/extension/src/background/tasks/init.js
  packages/extension/src/config/constants.js
  packages/extension/src/config/contracts.js
  packages/graph/scripts/config/contracts.js
  packages/graph/scripts/tasks/copy.js
Owners: none

refactor(extension): test response in error from getAccounts
  packages/extension/src/background/services/GraphQLService/resolvers/utils/__tests__/getAccounts.spec.js
  packages/extension/tests/helpers/expectErrorResponse.js
Owners: none

refactor(extension): test response in error from getAccounts
  packages/extension/src/background/services/GraphQLService/resolvers/utils/__tests__/getAccounts.spec.js
  packages/extension/tests/helpers/expectErrorResponse.js
Owners: none

test(protocol): failure test for note created over different setup
  packages/protocol/test/ACE/validators/joinSplit/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): failure test for note created over different setup
  packages/protocol/test/ACE/validators/joinSplit/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(extension): change metadata structure to fit general rule
  packages/extension/mockServer/config/index.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/__tests__/syncUtilityNoteInfo.spec.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/syncUtilityNoteInfo.js
  packages/extension/src/config/constants.js
  packages/extension/src/config/metadata.js
  packages/extension/src/utils/__tests__/metadata.spec.js
  packages/extension/src/utils/metadata/constructor.js
  packages/extension/src/utils/metadata/toString.js
  packages/extension/src/utils/note/createNote.js
Owners: none

feat(extension): change metadata structure to fit general rule
  packages/extension/mockServer/config/index.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/__tests__/syncUtilityNoteInfo.spec.js
  packages/extension/src/background/services/GraphQLService/resolvers/utils/syncUtilityNoteInfo.js
  packages/extension/src/config/constants.js
  packages/extension/src/config/metadata.js
  packages/extension/src/utils/__tests__/metadata.spec.js
  packages/extension/src/utils/metadata/constructor.js
  packages/extension/src/utils/metadata/toString.js
  packages/extension/src/utils/note/createNote.js
Owners: none

refactor(protocol): re-add pairing check into swap validator
  packages/protocol/contracts/ACE/validators/swap/Swap.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(protocol): re-add pairing check into swap validator
  packages/protocol/contracts/ACE/validators/swap/Swap.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): failure tests for fake trusted setup public key fake CRS defined in test proof helpers
  packages/protocol/test/ACE/validators/dividend/index.js
  packages/protocol/test/ACE/validators/joinSplit/index.js
  packages/protocol/test/ACE/validators/joinSplitFluid/index.js
  packages/protocol/test/ACE/validators/privateRange/index.js
  packages/protocol/test/ACE/validators/publicRange/index.js
  packages/protocol/test/ACE/validators/swap/index.js
  packages/protocol/test/helpers/proof.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): failure tests for fake trusted setup public key fake CRS defined in test proof helpers
  packages/protocol/test/ACE/validators/dividend/index.js
  packages/protocol/test/ACE/validators/joinSplit/index.js
  packages/protocol/test/ACE/validators/joinSplitFluid/index.js
  packages/protocol/test/ACE/validators/privateRange/index.js
  packages/protocol/test/ACE/validators/publicRange/index.js
  packages/protocol/test/ACE/validators/swap/index.js
  packages/protocol/test/helpers/proof.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

fix(extension): allow empty string or data for metadata
  packages/extension/src/config/constants.js
  packages/extension/src/utils/__tests__/metadata.spec.js
  packages/extension/src/utils/metadata/constructor.js
  packages/extension/src/utils/metadata/toString.js
Owners: none

fix(extension): allow empty string or data for metadata
  packages/extension/src/config/constants.js
  packages/extension/src/utils/__tests__/metadata.spec.js
  packages/extension/src/utils/metadata/constructor.js
  packages/extension/src/utils/metadata/toString.js
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

.circleci                       @PaulRBerg
packages/aztec.js               @zac-williamson @PaulRBerg @thomas-waite
packages/contract-addresses     @PaulRBerg
packages/contract-artifacts     @PaulRBerg
packages/dev-utils              @PaulRBerg @thomas-waite
packages/monorepo-scripts       @PaulRBerg
packages/protocol               @zac-williamson @PaulRBerg @thomas-waite
packages/huff                   @zac-williamson
packages/weierstrudel           @zac-williamson
