Repository rh0108/ethereum-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PaulRBerg, @zac-williamson, @thomas-waite

refactor: adjust metadata encoding to match extension scheme extension scheme uses a currently static custom metadata string of length 0x117, in addition to the ephemeral key length
  packages/aztec.js/src/encoder/inputCoder.js
  packages/aztec.js/src/encoder/outputCoder.js
  packages/aztec.js/src/metaData/index.js
  packages/aztec.js/src/note/index.js
  packages/aztec.js/src/proof/joinSplit/index.js
  packages/aztec.js/test/encoder/outputCoder.js
  packages/aztec.js/test/metaData/index.js
  packages/aztec.js/test/note/index.js
  packages/aztec.js/test/proof/joinSplit/index.js
  packages/protocol/contracts/ACE/NoteRegistry.sol
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ERC1724/ZkAsset.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(extension): allow to get current user from AuthService
  packages/extension/src/background/services/AuthService/index.js
Owners: none

feat(extension): allow to get current user from AuthService
  packages/extension/src/background/services/AuthService/index.js
Owners: none

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

fix(extension): await an async create notes call
  packages/extension/src/client/apis/createNoteFromBalance/prove.js
Owners: none

fix(extension): await an async create notes call
  packages/extension/src/client/apis/createNoteFromBalance/prove.js
Owners: none

feat(extension): add send demo code
  packages/extension/src/client/demo/ownable.js
Owners: none

feat(extension): add send demo code
  packages/extension/src/client/demo/ownable.js
Owners: none

fix(protocol): rename updatemetadata
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): rename updatemetadata
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(extension): fixes for latest code on develop
  packages/extension/contracts/AZTECAccountRegistry.sol
  packages/extension/src/client/apis/deposit/prove.js
  packages/extension/src/client/auth/index.js
  packages/extension/src/utils/note/createNotes.js
  packages/graph/mappings/ACE.ts
  packages/graph/mappings/ZKAsset.ts
  packages/graph/subgraph.yaml
  packages/graph/types/ACE/ACE.ts
  packages/graph/types/ACE/templates/ZkAsset/ZkAsset.ts
  packages/graph/types/AZTECAccountRegistry/AZTECAccountRegistry.ts
  packages/protocol/contracts/ACE/NoteRegistry.sol
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(extension): fixes for latest code on develop
  packages/extension/contracts/AZTECAccountRegistry.sol
  packages/extension/src/client/apis/deposit/prove.js
  packages/extension/src/client/auth/index.js
  packages/extension/src/utils/note/createNotes.js
  packages/graph/mappings/ACE.ts
  packages/graph/mappings/ZKAsset.ts
  packages/graph/subgraph.yaml
  packages/graph/types/ACE/ACE.ts
  packages/graph/types/ACE/templates/ZkAsset/ZkAsset.ts
  packages/graph/types/AZTECAccountRegistry/AZTECAccountRegistry.ts
  packages/protocol/contracts/ACE/NoteRegistry.sol
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

docs(protocol): fix docstring
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

docs(protocol): fix docstring
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/ACE.json
  packages/contract-artifacts/artifacts/IZkAsset.json
  packages/contract-artifacts/artifacts/ZkAsset.json
  packages/contract-artifacts/artifacts/ZkAssetAdjustable.json
  packages/contract-artifacts/artifacts/ZkAssetBase.json
  packages/contract-artifacts/artifacts/ZkAssetBurnable.json
  packages/contract-artifacts/artifacts/ZkAssetBurnableBase.json
  packages/contract-artifacts/artifacts/ZkAssetDetailed.json
  packages/contract-artifacts/artifacts/ZkAssetMintable.json
  packages/contract-artifacts/artifacts/ZkAssetMintableBase.json
  packages/contract-artifacts/artifacts/ZkAssetOwnable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnableBase.json
Owners: @PaulRBerg

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/ACE.json
  packages/contract-artifacts/artifacts/IZkAsset.json
  packages/contract-artifacts/artifacts/ZkAsset.json
  packages/contract-artifacts/artifacts/ZkAssetAdjustable.json
  packages/contract-artifacts/artifacts/ZkAssetBase.json
  packages/contract-artifacts/artifacts/ZkAssetBurnable.json
  packages/contract-artifacts/artifacts/ZkAssetBurnableBase.json
  packages/contract-artifacts/artifacts/ZkAssetDetailed.json
  packages/contract-artifacts/artifacts/ZkAssetMintable.json
  packages/contract-artifacts/artifacts/ZkAssetMintableBase.json
  packages/contract-artifacts/artifacts/ZkAssetOwnable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnableBase.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

fix: update yarn.lock
  yarn.lock
Owners: none

fix: update yarn.lock
  yarn.lock
Owners: none

fix: fix test directory structure
  packages/bn128/test/index.js
Owners: none

fix: fix test directory structure
  packages/bn128/test/index.js
Owners: none

feat(extension): register required contracts in aztec.enable
  packages/extension/src/client/Aztec/index.js
  packages/extension/src/client/demo/createNewAsset.js
  packages/extension/src/client/demo/depositToERC20.js
  packages/extension/src/client/demo/index.js
  packages/extension/src/client/demo/mintable.js
  packages/extension/src/client/demo/ownable.js
  packages/extension/src/client/index.js
Owners: none

feat(extension): register required contracts in aztec.enable
  packages/extension/src/client/Aztec/index.js
  packages/extension/src/client/demo/createNewAsset.js
  packages/extension/src/client/demo/depositToERC20.js
  packages/extension/src/client/demo/index.js
  packages/extension/src/client/demo/mintable.js
  packages/extension/src/client/demo/ownable.js
  packages/extension/src/client/index.js
Owners: none

build(dev-utils): move CRS back into package
  packages/dev-utils/src/constants.js
Owners: @PaulRBerg, @thomas-waite

build(dev-utils): move CRS back into package
  packages/dev-utils/src/constants.js
Owners: @PaulRBerg, @thomas-waite

refactor(protocol): remove update metadata permission lock removed for the short term. To be reintroduced when createNote() and metadata is fixed
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
  packages/protocol/test/ERC1724/ZkAsset.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(protocol): remove update metadata permission lock removed for the short term. To be reintroduced when createNote() and metadata is fixed
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
  packages/protocol/test/ERC1724/ZkAsset.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(protocol): remove update metadata permission lock removed for the short term. To be reintroduced when createNote() and metadata is fixed
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
  packages/protocol/test/ERC1724/ZkAsset.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

docs(dev-utils): update docs to fix prettier error
  packages/dev-utils/src/constants.js
Owners: @PaulRBerg, @thomas-waite

docs(dev-utils): update docs to fix prettier error
  packages/dev-utils/src/constants.js
Owners: @PaulRBerg, @thomas-waite

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/ZkAsset.json
  packages/contract-artifacts/artifacts/ZkAssetAdjustable.json
  packages/contract-artifacts/artifacts/ZkAssetBase.json
  packages/contract-artifacts/artifacts/ZkAssetBurnable.json
  packages/contract-artifacts/artifacts/ZkAssetDetailed.json
  packages/contract-artifacts/artifacts/ZkAssetMintable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnableBase.json
Owners: @PaulRBerg

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/ZkAsset.json
  packages/contract-artifacts/artifacts/ZkAssetAdjustable.json
  packages/contract-artifacts/artifacts/ZkAssetBase.json
  packages/contract-artifacts/artifacts/ZkAssetBurnable.json
  packages/contract-artifacts/artifacts/ZkAssetDetailed.json
  packages/contract-artifacts/artifacts/ZkAssetMintable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnableBase.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

.circleci                       @PaulRBerg
packages/aztec.js               @zac-williamson @PaulRBerg @thomas-waite
packages/contract-addresses     @PaulRBerg
packages/contract-artifacts     @PaulRBerg
packages/dev-utils              @PaulRBerg @thomas-waite
packages/monorepo-scripts       @PaulRBerg
packages/protocol               @zac-williamson @PaulRBerg @thomas-waite
packages/huff                   @zac-williamson
packages/weierstrudel           @zac-williamson
