Repository rh0108/ethereum-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PaulRBerg, @zac-williamson, @thomas-waite

refactor(contract-artifacts): rename BilateralSwap to Swap
  packages/contract-artifacts/src/index.js
Owners: @PaulRBerg

refactor(protocol): use new proof construction in swap validators
  packages/protocol/contracts/ACE/validators/swap/Swap.sol
  packages/protocol/contracts/ACE/validators/swap/SwapABIEncoder.sol
  packages/protocol/contracts/interfaces/BilateralSwapInterface.sol
  packages/protocol/contracts/test/ACE/validators/swap/SwapABIEncoderTest.sol
  packages/protocol/migrations/4_deploy_bilateral_swap.js
  packages/protocol/test/ACE/ACEAdjustSupply.js
  packages/protocol/test/ACE/validators/bilateralSwap/abiEncoder.js
  packages/protocol/test/ACE/validators/bilateralSwap/index.js
  packages/protocol/test/ACE/validators/dividend/abiEncoder.js
  packages/protocol/test/ACE/validators/dividend/index.js
  packages/protocol/test/ACE/validators/joinSplit/index.js
  packages/protocol/test/ACE/validators/joinSplitFluid/burn/abiEncoder.js
  packages/protocol/test/ACE/validators/joinSplitFluid/burn/index.js
  packages/protocol/test/ACE/validators/joinSplitFluid/mint/abiEncoder.js
  packages/protocol/test/ACE/validators/joinSplitFluid/mint/index.js
  packages/protocol/test/ACE/validators/joinSplitV2/index.js
  packages/protocol/test/ACE/validators/swap/abiEncoder.js
  packages/protocol/test/ACE/validators/swap/index.js
  packages/protocol/test/helpers/proof.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(protocol): use new proof construction in swap validators
  packages/protocol/contracts/ACE/validators/swap/Swap.sol
  packages/protocol/contracts/ACE/validators/swap/SwapABIEncoder.sol
  packages/protocol/contracts/interfaces/BilateralSwapInterface.sol
  packages/protocol/contracts/test/ACE/validators/swap/SwapABIEncoderTest.sol
  packages/protocol/migrations/4_deploy_bilateral_swap.js
  packages/protocol/test/ACE/ACEAdjustSupply.js
  packages/protocol/test/ACE/validators/bilateralSwap/abiEncoder.js
  packages/protocol/test/ACE/validators/bilateralSwap/index.js
  packages/protocol/test/ACE/validators/dividend/abiEncoder.js
  packages/protocol/test/ACE/validators/dividend/index.js
  packages/protocol/test/ACE/validators/joinSplit/index.js
  packages/protocol/test/ACE/validators/joinSplitFluid/burn/abiEncoder.js
  packages/protocol/test/ACE/validators/joinSplitFluid/burn/index.js
  packages/protocol/test/ACE/validators/joinSplitFluid/mint/abiEncoder.js
  packages/protocol/test/ACE/validators/joinSplitFluid/mint/index.js
  packages/protocol/test/ACE/validators/joinSplitV2/index.js
  packages/protocol/test/ACE/validators/swap/abiEncoder.js
  packages/protocol/test/ACE/validators/swap/index.js
  packages/protocol/test/helpers/proof.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(monorepo-scripts): rename BilateralSwap to Swap
  packages/monorepo-scripts/addresses/update.js
  packages/monorepo-scripts/artifacts/build.js
Owners: @PaulRBerg

refactor(monorepo-scripts): rename BilateralSwap to Swap
  packages/monorepo-scripts/addresses/update.js
  packages/monorepo-scripts/artifacts/build.js
Owners: @PaulRBerg

refactor(protocol): use new proof construction in join-split validators
  packages/protocol/test/ACE/validators/joinSplit/abiEncoder.js
  packages/protocol/test/ACE/validators/joinSplit/index.js
  packages/protocol/test/ACE/validators/joinSplitV2/index.js
  packages/protocol/test/ACE/validators/swap/abiEncoder.js
  packages/protocol/test/ACE/validators/swap/index.js
  packages/protocol/test/helpers/note.js
  packages/protocol/test/helpers/proof.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(protocol): use new proof construction in join-split validators
  packages/protocol/test/ACE/validators/joinSplit/abiEncoder.js
  packages/protocol/test/ACE/validators/joinSplit/index.js
  packages/protocol/test/ACE/validators/joinSplitV2/index.js
  packages/protocol/test/ACE/validators/swap/abiEncoder.js
  packages/protocol/test/ACE/validators/swap/index.js
  packages/protocol/test/helpers/note.js
  packages/protocol/test/helpers/proof.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): various refactorings (see list below)
  packages/aztec.js/src/abiCoder/index.js
  packages/aztec.js/src/abiCoder/outputCoder.js
  packages/aztec.js/src/abiEncoder/outputCoder.js
  packages/aztec.js/src/bn128/index.js
  packages/aztec.js/src/proof/joinSplit/index.js
  packages/aztec.js/src/proof/proof.js
  packages/aztec.js/src/proof/swap/verifier.js
  packages/aztec.js/test/proof/dividend/verifier.js
  packages/aztec.js/test/proof/joinSplit/verifier.js
  packages/aztec.js/test/proof/swap/verifier.js
  packages/aztec.js/test/signer/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): various refactorings (see list below)
  packages/aztec.js/src/abiCoder/index.js
  packages/aztec.js/src/abiCoder/outputCoder.js
  packages/aztec.js/src/abiEncoder/outputCoder.js
  packages/aztec.js/src/bn128/index.js
  packages/aztec.js/src/proof/joinSplit/index.js
  packages/aztec.js/src/proof/proof.js
  packages/aztec.js/src/proof/swap/verifier.js
  packages/aztec.js/test/proof/dividend/verifier.js
  packages/aztec.js/test/proof/joinSplit/verifier.js
  packages/aztec.js/test/proof/swap/verifier.js
  packages/aztec.js/test/signer/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(aztec.js): import constants in the upper part of the file
  packages/aztec.js/test/proof/joinSplit/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(aztec.js): replace "reject" with "fail"
  packages/aztec.js/test/proof/dividend/verifier.js
  packages/aztec.js/test/proof/joinSplit/verifier.js
  packages/aztec.js/test/proof/joinSplitFluid/verifier.js
  packages/aztec.js/test/proof/swap/verifier.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(aztec.js): replace "reject" with "fail"
  packages/aztec.js/test/proof/dividend/verifier.js
  packages/aztec.js/test/proof/joinSplit/verifier.js
  packages/aztec.js/test/proof/joinSplitFluid/verifier.js
  packages/aztec.js/test/proof/swap/verifier.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(aztec.js): import constants in the upper part of the file
  packages/aztec.js/test/proof/joinSplit/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(typed-data): rewrite padKeccak256 to sliceKeccak256
  packages/typed-data/src/index.js
Owners: none

refactor(aztec.js): reorder tests to follow a pattern
  packages/aztec.js/src/note/index.js
  packages/aztec.js/test/note/index.js
  packages/aztec.js/test/proof/dividend/verifier.js
  packages/aztec.js/test/proof/joinSplit/index.js
  packages/aztec.js/test/proof/joinSplit/verifier.js
  packages/aztec.js/test/proof/joinSplitFluid/index.js
  packages/aztec.js/test/proof/swap/index.js
  packages/aztec.js/test/proof/swap/verifier.js
  packages/aztec.js/test/setup/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): reorder tests to follow a pattern
  packages/aztec.js/src/note/index.js
  packages/aztec.js/test/note/index.js
  packages/aztec.js/test/proof/dividend/verifier.js
  packages/aztec.js/test/proof/joinSplit/index.js
  packages/aztec.js/test/proof/joinSplit/verifier.js
  packages/aztec.js/test/proof/joinSplitFluid/index.js
  packages/aztec.js/test/proof/swap/index.js
  packages/aztec.js/test/proof/swap/verifier.js
  packages/aztec.js/test/setup/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(typed-data): rewrite padKeccak256 to sliceKeccak256
  packages/typed-data/src/index.js
Owners: none

refactor(protocol): use new proof api in join-split fluid and dividend
  packages/protocol/contracts/ACE/validators/dividend/Dividend.sol
  packages/protocol/contracts/ACE/validators/dividend/DividendABIEncoder.sol
  packages/protocol/contracts/ACE/validators/joinSplitFluid/JoinSplitFluid.sol
  packages/protocol/contracts/ACE/validators/joinSplitFluid/JoinSplitFluidABIEncoder.sol
  packages/protocol/contracts/interfaces/AdjustSupplyInterface.sol
  packages/protocol/contracts/interfaces/DividendComputationInterface.sol
  packages/protocol/contracts/interfaces/DividendInterface.sol
  packages/protocol/contracts/interfaces/JoinSplitFluidInterface.sol
  packages/protocol/contracts/test/ACE/validators/adjustSupply/AdjustSupplyABIEncoderTest.sol
  packages/protocol/contracts/test/ACE/validators/dividend/DividendABIEncoderTest.sol
  packages/protocol/contracts/test/ACE/validators/joinSplit/JoinSplitABIEncoderTest.sol
  packages/protocol/contracts/test/ACE/validators/joinSplitFluid/JoinSplitFluidABIEncoderTest.sol
  packages/protocol/migrations/3_deploy_adjust_supply.js
  packages/protocol/migrations/3_deploy_join_split.js
  packages/protocol/migrations/4_deploy_join_split_fluid.js
  packages/protocol/migrations/5_deploy_dividend_computation.js
  packages/protocol/migrations/5_deploy_swap.js
  packages/protocol/migrations/6_deploy_dividend.js
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/ACEJoinSplitFluid.js
  packages/protocol/test/ACE/NoteRegistry.js
  packages/protocol/test/ACE/validators/dividend/abiEncoder.js
  packages/protocol/test/ACE/validators/dividend/index.js
  packages/protocol/test/ACE/validators/joinSplit/abiEncoder.js
  packages/protocol/test/ACE/validators/joinSplit/index.js
  packages/protocol/test/ACE/validators/joinSplitFluid/abiEncoder.js
  packages/protocol/test/ACE/validators/joinSplitFluid/burn/abiEncoder.js
  packages/protocol/test/ACE/validators/joinSplitFluid/burn/index.js
  packages/protocol/test/ACE/validators/joinSplitFluid/index.js
  packages/protocol/test/ACE/validators/joinSplitFluid/mint/abiEncoder.js
  packages/protocol/test/ACE/validators/joinSplitFluid/mint/index.js
  packages/protocol/test/ACE/validators/swap/abiEncoder.js
  packages/protocol/test/ACE/validators/swap/index.js
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/ERC1724/ZkAssetBurnable.js
  packages/protocol/test/ERC1724/ZkAssetMintable.js
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
  packages/protocol/test/helpers/proof.js
  packages/protocol/test/libs/NoteUtils.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): rename abiEncoder to encoder
  packages/aztec.js/src/abiCoder/index.js
  packages/aztec.js/src/abiEncoder/inputCoder.js
  packages/aztec.js/src/abiEncoder/outputCoder.js
  packages/aztec.js/src/encoder/encoderFactory.js
  packages/aztec.js/src/encoder/index.js
  packages/aztec.js/src/encoder/inputCoder.js
  packages/aztec.js/src/encoder/noteCoder.js
  packages/aztec.js/src/encoder/outputCoder.js
  packages/aztec.js/src/index.js
  packages/aztec.js/src/note/index.js
  packages/aztec.js/src/proof-old/dividend/index.js
  packages/aztec.js/src/proof-old/dividend/verifier.js
  packages/aztec.js/src/proof-old/index.js
  packages/aztec.js/src/proof-old/joinSplit/helpers.js
  packages/aztec.js/src/proof-old/joinSplit/index.js
  packages/aztec.js/src/proof-old/joinSplit/verifier.js
  packages/aztec.js/src/proof-old/mint/index.js
  packages/aztec.js/src/proof-old/mint/verifier.js
  packages/aztec.js/src/proof-old/proofUtils.js
  packages/aztec.js/src/proof/dividend/index.js
  packages/aztec.js/src/proof/joinSplit/index.js
  packages/aztec.js/src/proof/joinSplit/verifier.js
  packages/aztec.js/src/proof/joinSplitFluid/index.js
  packages/aztec.js/src/proof/joinSplitFluid/verifier.js
  packages/aztec.js/src/proof/swap/index.js
  packages/aztec.js/src/proof/utils.js
  packages/aztec.js/test/abiEncoder/HexString.js
  packages/aztec.js/test/abiEncoder/encoderFactory.js
  packages/aztec.js/test/abiEncoder/outputCoder.js
  packages/aztec.js/test/encoder/HexString.js
  packages/aztec.js/test/encoder/outputCoder.js
  packages/aztec.js/test/keccak/index.js
  packages/aztec.js/test/proof/dividend/verifier.js
  packages/aztec.js/test/proof/joinSplitFluid/index.js
  packages/aztec.js/test/proof/joinSplitFluid/verifier.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(protocol): use new proof api in join-split fluid and dividend
  packages/protocol/contracts/ACE/validators/dividend/Dividend.sol
  packages/protocol/contracts/ACE/validators/dividend/DividendABIEncoder.sol
  packages/protocol/contracts/ACE/validators/joinSplitFluid/JoinSplitFluid.sol
  packages/protocol/contracts/ACE/validators/joinSplitFluid/JoinSplitFluidABIEncoder.sol
  packages/protocol/contracts/interfaces/AdjustSupplyInterface.sol
  packages/protocol/contracts/interfaces/DividendComputationInterface.sol
  packages/protocol/contracts/interfaces/DividendInterface.sol
  packages/protocol/contracts/interfaces/JoinSplitFluidInterface.sol
  packages/protocol/contracts/test/ACE/validators/adjustSupply/AdjustSupplyABIEncoderTest.sol
  packages/protocol/contracts/test/ACE/validators/dividend/DividendABIEncoderTest.sol
  packages/protocol/contracts/test/ACE/validators/joinSplit/JoinSplitABIEncoderTest.sol
  packages/protocol/contracts/test/ACE/validators/joinSplitFluid/JoinSplitFluidABIEncoderTest.sol
  packages/protocol/migrations/3_deploy_adjust_supply.js
  packages/protocol/migrations/3_deploy_join_split.js
  packages/protocol/migrations/4_deploy_join_split_fluid.js
  packages/protocol/migrations/5_deploy_dividend_computation.js
  packages/protocol/migrations/5_deploy_swap.js
  packages/protocol/migrations/6_deploy_dividend.js
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/ACEJoinSplitFluid.js
  packages/protocol/test/ACE/NoteRegistry.js
  packages/protocol/test/ACE/validators/dividend/abiEncoder.js
  packages/protocol/test/ACE/validators/dividend/index.js
  packages/protocol/test/ACE/validators/joinSplit/abiEncoder.js
  packages/protocol/test/ACE/validators/joinSplit/index.js
  packages/protocol/test/ACE/validators/joinSplitFluid/abiEncoder.js
  packages/protocol/test/ACE/validators/joinSplitFluid/burn/abiEncoder.js
  packages/protocol/test/ACE/validators/joinSplitFluid/burn/index.js
  packages/protocol/test/ACE/validators/joinSplitFluid/index.js
  packages/protocol/test/ACE/validators/joinSplitFluid/mint/abiEncoder.js
  packages/protocol/test/ACE/validators/joinSplitFluid/mint/index.js
  packages/protocol/test/ACE/validators/swap/abiEncoder.js
  packages/protocol/test/ACE/validators/swap/index.js
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/ERC1724/ZkAssetBurnable.js
  packages/protocol/test/ERC1724/ZkAssetMintable.js
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
  packages/protocol/test/helpers/proof.js
  packages/protocol/test/libs/NoteUtils.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): rename abiEncoder to encoder
  packages/aztec.js/src/abiCoder/index.js
  packages/aztec.js/src/abiEncoder/inputCoder.js
  packages/aztec.js/src/abiEncoder/outputCoder.js
  packages/aztec.js/src/encoder/encoderFactory.js
  packages/aztec.js/src/encoder/index.js
  packages/aztec.js/src/encoder/inputCoder.js
  packages/aztec.js/src/encoder/noteCoder.js
  packages/aztec.js/src/encoder/outputCoder.js
  packages/aztec.js/src/index.js
  packages/aztec.js/src/note/index.js
  packages/aztec.js/src/proof-old/dividend/index.js
  packages/aztec.js/src/proof-old/dividend/verifier.js
  packages/aztec.js/src/proof-old/index.js
  packages/aztec.js/src/proof-old/joinSplit/helpers.js
  packages/aztec.js/src/proof-old/joinSplit/index.js
  packages/aztec.js/src/proof-old/joinSplit/verifier.js
  packages/aztec.js/src/proof-old/mint/index.js
  packages/aztec.js/src/proof-old/mint/verifier.js
  packages/aztec.js/src/proof-old/proofUtils.js
  packages/aztec.js/src/proof/dividend/index.js
  packages/aztec.js/src/proof/joinSplit/index.js
  packages/aztec.js/src/proof/joinSplit/verifier.js
  packages/aztec.js/src/proof/joinSplitFluid/index.js
  packages/aztec.js/src/proof/joinSplitFluid/verifier.js
  packages/aztec.js/src/proof/swap/index.js
  packages/aztec.js/src/proof/utils.js
  packages/aztec.js/test/abiEncoder/HexString.js
  packages/aztec.js/test/abiEncoder/encoderFactory.js
  packages/aztec.js/test/abiEncoder/outputCoder.js
  packages/aztec.js/test/encoder/HexString.js
  packages/aztec.js/test/encoder/outputCoder.js
  packages/aztec.js/test/keccak/index.js
  packages/aztec.js/test/proof/dividend/verifier.js
  packages/aztec.js/test/proof/joinSplitFluid/index.js
  packages/aztec.js/test/proof/joinSplitFluid/verifier.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): validateCommitment called too late in Dividend
  packages/protocol/contracts/ACE/validators/dividend/Dividend.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): validateCommitment called too late in Dividend
  packages/protocol/contracts/ACE/validators/dividend/Dividend.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): prune unused files
  packages/aztec.js/src/encoder/encoderFactory.js
  packages/aztec.js/src/encoder/inputCoder.js
  packages/aztec.js/src/index.js
  packages/aztec.js/src/proof-old/dividend/index.js
  packages/aztec.js/src/proof-old/dividend/verifier.js
  packages/aztec.js/src/proof-old/index.js
  packages/aztec.js/src/proof-old/joinSplit/helpers.js
  packages/aztec.js/src/proof-old/joinSplit/index.js
  packages/aztec.js/src/proof-old/joinSplit/verifier.js
  packages/aztec.js/src/proof-old/mint/index.js
  packages/aztec.js/src/proof-old/mint/verifier.js
  packages/aztec.js/src/proof-old/proofUtils.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): prune unused files
  packages/aztec.js/src/encoder/encoderFactory.js
  packages/aztec.js/src/encoder/inputCoder.js
  packages/aztec.js/src/index.js
  packages/aztec.js/src/proof-old/dividend/index.js
  packages/aztec.js/src/proof-old/dividend/verifier.js
  packages/aztec.js/src/proof-old/index.js
  packages/aztec.js/src/proof-old/joinSplit/helpers.js
  packages/aztec.js/src/proof-old/joinSplit/index.js
  packages/aztec.js/src/proof-old/joinSplit/verifier.js
  packages/aztec.js/src/proof-old/mint/index.js
  packages/aztec.js/src/proof-old/mint/verifier.js
  packages/aztec.js/src/proof-old/proofUtils.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(contract-artifacts): rename DividendComputation to Dividend
  packages/contract-artifacts/src/index.js
Owners: @PaulRBerg

test(protocol): fix GROUP_MODULUS test in Dividend tests
  packages/protocol/test/ACE/validators/dividend/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(contract-artifacts): rename DividendComputation to Dividend
  packages/contract-artifacts/src/index.js
Owners: @PaulRBerg

test(protocol): fix GROUP_MODULUS test in Dividend tests
  packages/protocol/test/ACE/validators/dividend/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style: apply prettier
  packages/aztec.js/src/proof/utils.js
  packages/aztec.js/test/encoder/HexString.js
  packages/monorepo-scripts/addresses/update.js
  packages/protocol/test/helpers/proof.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style: apply prettier
  packages/aztec.js/src/proof/utils.js
  packages/aztec.js/test/encoder/HexString.js
  packages/monorepo-scripts/addresses/update.js
  packages/protocol/test/helpers/proof.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(monorepo-scripts): rename DividendComputation to Dividend
  packages/monorepo-scripts/addresses/update.js
Owners: @PaulRBerg

refactor(monorepo-scripts): rename DividendComputation to Dividend
  packages/monorepo-scripts/addresses/update.js
Owners: @PaulRBerg

refactor: prune leftovers from rebase and remove sigs from join-split
  packages/aztec.js/src/proof/index.js
  packages/aztec.js/src/proof/joinSplit/index.js
  packages/aztec.js/src/proof/privateRange/helpers.js
  packages/aztec.js/src/proof/privateRange/index.js
  packages/aztec.js/src/proof/privateRange/verifier.js
  packages/aztec.js/src/signer/index.js
  packages/aztec.js/test/abiEncoder/outputCoder_BACKUP_64546.js
  packages/aztec.js/test/abiEncoder/outputCoder_BASE_64546.js
  packages/aztec.js/test/abiEncoder/outputCoder_LOCAL_64546.js
  packages/aztec.js/test/abiEncoder/outputCoder_REMOTE_64546.js
  packages/aztec.js/test/initDatabase.js
  packages/aztec.js/test/proof/joinSplit/proof.js
  packages/aztec.js/test/proof/privateRange/proof.spec.js
  packages/aztec.js/test/proof/privateRange/verifier.spec.js
  packages/dev-utils/src/constants.js
  packages/protocol/contracts/ACE/validators/privateRange/PrivateRange.sol
  packages/protocol/contracts/ACE/validators/privateRange/PrivateRangeABIEncoder.sol
  packages/protocol/contracts/interfaces/PrivateRangeInterface.sol
  packages/protocol/contracts/interfaces/SwapInterface.sol
  packages/protocol/contracts/test/ACE/validators/joinSplit/JoinSplitABIEncoderTest.sol
  packages/protocol/migrations/8_deploy_private_range.js
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/ACEJoinSplitFluid.js
  packages/protocol/test/ACE/validators/dividend/abiEncoder.js
  packages/protocol/test/ACE/validators/joinSplit/abiEncoder.js
  packages/protocol/test/ACE/validators/joinSplit/index.js
  packages/protocol/test/ACE/validators/joinSplitFluid/index.js
  packages/protocol/test/ACE/validators/privateRange/abiEncoder.js
  packages/protocol/test/ACE/validators/privateRange/index.js
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/helpers/note.js
  packages/protocol/test/initDatabase.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): migrate to the new proof construction in ACE tests
  packages/protocol/test/ACE/ACE.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor: prune leftovers from rebase and remove sigs from join-split
  packages/aztec.js/src/proof/index.js
  packages/aztec.js/src/proof/joinSplit/index.js
  packages/aztec.js/src/proof/privateRange/helpers.js
  packages/aztec.js/src/proof/privateRange/index.js
  packages/aztec.js/src/proof/privateRange/verifier.js
  packages/aztec.js/src/signer/index.js
  packages/aztec.js/test/abiEncoder/outputCoder_BACKUP_64546.js
  packages/aztec.js/test/abiEncoder/outputCoder_BASE_64546.js
  packages/aztec.js/test/abiEncoder/outputCoder_LOCAL_64546.js
  packages/aztec.js/test/abiEncoder/outputCoder_REMOTE_64546.js
  packages/aztec.js/test/initDatabase.js
  packages/aztec.js/test/proof/joinSplit/proof.js
  packages/aztec.js/test/proof/privateRange/proof.spec.js
  packages/aztec.js/test/proof/privateRange/verifier.spec.js
  packages/dev-utils/src/constants.js
  packages/protocol/contracts/ACE/validators/privateRange/PrivateRange.sol
  packages/protocol/contracts/ACE/validators/privateRange/PrivateRangeABIEncoder.sol
  packages/protocol/contracts/interfaces/PrivateRangeInterface.sol
  packages/protocol/contracts/interfaces/SwapInterface.sol
  packages/protocol/contracts/test/ACE/validators/joinSplit/JoinSplitABIEncoderTest.sol
  packages/protocol/migrations/8_deploy_private_range.js
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/ACEJoinSplitFluid.js
  packages/protocol/test/ACE/validators/dividend/abiEncoder.js
  packages/protocol/test/ACE/validators/joinSplit/abiEncoder.js
  packages/protocol/test/ACE/validators/joinSplit/index.js
  packages/protocol/test/ACE/validators/joinSplitFluid/index.js
  packages/protocol/test/ACE/validators/privateRange/abiEncoder.js
  packages/protocol/test/ACE/validators/privateRange/index.js
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/helpers/note.js
  packages/protocol/test/initDatabase.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): migrate to the new proof construction in ACE tests
  packages/protocol/test/ACE/ACE.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): finish migrating the new proof construction in ACE tests
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/NoteRegistry.js
  packages/protocol/test/ACE/validators/dividend/index.js
  packages/protocol/test/ACE/validators/joinSplit/index.js
  packages/protocol/test/ACE/validators/joinSplitFluid/index.js
  packages/protocol/test/ACE/validators/swap/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): finish migrating the new proof construction in ACE tests
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/NoteRegistry.js
  packages/protocol/test/ACE/validators/dividend/index.js
  packages/protocol/test/ACE/validators/joinSplit/index.js
  packages/protocol/test/ACE/validators/joinSplitFluid/index.js
  packages/protocol/test/ACE/validators/swap/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(aztec.js): hash both proof output and proof outputs
  packages/aztec.js/src/proof/dividend/index.js
  packages/aztec.js/src/proof/joinSplit/index.js
  packages/aztec.js/src/proof/joinSplitFluid/burn/index.js
  packages/aztec.js/src/proof/joinSplitFluid/index.js
  packages/aztec.js/src/proof/proof.js
  packages/aztec.js/src/proof/swap/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

.circleci                       @PaulRBerg
packages/aztec.js               @zac-williamson @PaulRBerg @thomas-waite
packages/contract-addresses     @PaulRBerg
packages/contract-artifacts     @PaulRBerg
packages/dev-utils              @PaulRBerg @thomas-waite
packages/monorepo-scripts       @PaulRBerg
packages/protocol               @zac-williamson @PaulRBerg @thomas-waite
packages/huff                   @zac-williamson
packages/weierstrudel           @zac-williamson
