Repository rh0108/ethereum-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PaulRBerg, @zac-williamson, @thomas-waite

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

.circleci                       @PaulRBerg
packages/aztec.js               @zac-williamson @PaulRBerg @thomas-waite
packages/contract-addresses     @PaulRBerg
packages/contract-artifacts     @PaulRBerg
packages/dev-utils              @PaulRBerg @thomas-waite
packages/monorepo-scripts       @PaulRBerg
packages/protocol               @zac-williamson @PaulRBerg @thomas-waite
packages/huff                   @zac-williamson
packages/weierstrudel           @zac-williamson

feat(extension): working restore ui
  packages/extension/package.json
  packages/extension/src/background/services/AuthService/index.js
  packages/extension/src/background/services/GraphQLService/resolvers/index.js
  packages/extension/src/background/services/GraphQLService/typeDefs.js
  packages/extension/src/background/tasks/acceptConnection.js
  packages/extension/src/client/auth/index.js
  packages/extension/src/client/services/Web3Service/index.js
  packages/extension/src/client/utils/query.js
  packages/extension/src/ui/App.jsx
  packages/extension/src/ui/index.js
  packages/extension/src/ui/mutations/RegisterExtension.js
  packages/extension/src/ui/pages/ApproveAsset/ApproveDomain.css
  packages/extension/src/ui/pages/ApproveAsset/index.jsx
  packages/extension/src/ui/pages/Home/index.jsx
  packages/extension/src/ui/pages/Login/index.jsx
  packages/extension/src/ui/pages/Register/index.jsx
  packages/extension/src/ui/pages/Register/restore.jsx
  packages/extension/src/ui/pages/Register/step1.jsx
  packages/extension/src/ui/pages/Register/step2.jsx
  packages/extension/src/ui/pages/Register/step3.jsx
  packages/graph/mappings/AccountRegistry.ts
Owners: none

refactor(protocol): move registry creation event to NoteRegistry.sol done to aid graph implementation
  packages/protocol/contracts/ACE/NoteRegistry.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(protocol): move registry creation event to NoteRegistry.sol done to aid graph implementation
  packages/protocol/contracts/ACE/NoteRegistry.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): test event correctly emitted
  packages/protocol/test/ACE/NoteRegistry.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): test event correctly emitted
  packages/protocol/test/ACE/NoteRegistry.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/ACE.json
  packages/contract-artifacts/artifacts/NoteRegistry.json
  packages/contract-artifacts/artifacts/ZkAsset.json
  packages/contract-artifacts/artifacts/ZkAssetBase.json
  packages/contract-artifacts/artifacts/ZkAssetBurnable.json
  packages/contract-artifacts/artifacts/ZkAssetDetailed.json
  packages/contract-artifacts/artifacts/ZkAssetMintable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnableBase.json
Owners: @PaulRBerg

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/ACE.json
  packages/contract-artifacts/artifacts/NoteRegistry.json
  packages/contract-artifacts/artifacts/ZkAsset.json
  packages/contract-artifacts/artifacts/ZkAssetBase.json
  packages/contract-artifacts/artifacts/ZkAssetBurnable.json
  packages/contract-artifacts/artifacts/ZkAssetDetailed.json
  packages/contract-artifacts/artifacts/ZkAssetMintable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnableBase.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

fix(extension): always return note keys from pickNotes
  packages/extension/src/background/services/NoteService/utils/pickNotes.js
Owners: none

fix(extension): always return note keys from pickNotes
  packages/extension/src/background/services/NoteService/utils/pickNotes.js
Owners: none

feat(extension): add demo for mintable asset
  packages/extension/src/client/Aztec/asset.js
  packages/extension/src/client/apis/createNoteFromBalance/prove.js
  packages/extension/src/client/apis/mint/prove.js
  packages/extension/src/client/apis/mint/send.js
  packages/extension/src/client/apis/proofFactory.js
  packages/extension/src/client/config/error.js
  packages/extension/src/client/demo/helpers/createNewAsset.js
  packages/extension/src/client/demo/helpers/depositToERC20.js
  packages/extension/src/client/demo/mintable.js
  packages/extension/src/client/demo/utils/sleep.js
Owners: none

feat(extension): add demo for mintable asset
  packages/extension/src/client/Aztec/asset.js
  packages/extension/src/client/apis/createNoteFromBalance/prove.js
  packages/extension/src/client/apis/mint/prove.js
  packages/extension/src/client/apis/mint/send.js
  packages/extension/src/client/apis/proofFactory.js
  packages/extension/src/client/config/error.js
  packages/extension/src/client/demo/helpers/createNewAsset.js
  packages/extension/src/client/demo/helpers/depositToERC20.js
  packages/extension/src/client/demo/mintable.js
  packages/extension/src/client/demo/utils/sleep.js
Owners: none

feat(extension): add util to validate api's address input
  packages/extension/src/background/services/GraphQLService/resolvers/getAccounts.js
  packages/extension/src/background/services/GraphQLService/resolvers/index.js
  packages/extension/src/background/services/GraphQLService/resolvers/requestGrantAccess.js
  packages/extension/src/background/services/GraphQLService/typeDefs.js
  packages/extension/src/client/apis/deposit/prove.js
  packages/extension/src/client/apis/mint/prove.js
  packages/extension/src/client/apis/utils/validateAccount.js
  packages/extension/src/client/config/error.js
  packages/extension/src/config/error.js
Owners: none

feat(extension): add util to validate api's address input
  packages/extension/src/background/services/GraphQLService/resolvers/getAccounts.js
  packages/extension/src/background/services/GraphQLService/resolvers/index.js
  packages/extension/src/background/services/GraphQLService/resolvers/requestGrantAccess.js
  packages/extension/src/background/services/GraphQLService/typeDefs.js
  packages/extension/src/client/apis/deposit/prove.js
  packages/extension/src/client/apis/mint/prove.js
  packages/extension/src/client/apis/utils/validateAccount.js
  packages/extension/src/client/config/error.js
  packages/extension/src/config/error.js
Owners: none

feat(extension): add approve and send for createNoteFromBalance
  packages/extension/src/client/Aztec/asset.js
  packages/extension/src/client/apis/createNoteFromBalance/approve.js
  packages/extension/src/client/apis/createNoteFromBalance/prove.js
  packages/extension/src/client/apis/createNoteFromBalance/send.js
  packages/extension/src/client/apis/proofFactory.js
  packages/extension/src/client/apis/send/prove.js
  packages/extension/src/client/config/error.js
  packages/extension/src/client/demo/ownable.js
Owners: none

feat(extension): add approve and send for createNoteFromBalance
  packages/extension/src/client/Aztec/asset.js
  packages/extension/src/client/apis/createNoteFromBalance/approve.js
  packages/extension/src/client/apis/createNoteFromBalance/prove.js
  packages/extension/src/client/apis/createNoteFromBalance/send.js
  packages/extension/src/client/apis/proofFactory.js
  packages/extension/src/client/apis/send/prove.js
  packages/extension/src/client/config/error.js
  packages/extension/src/client/demo/ownable.js
Owners: none

chore(protocol): add getNote to iace interface + adjustable
  packages/protocol/contracts/ERC1724/ZkAssetAdjustable.sol
  packages/protocol/contracts/ERC1724/ZkAssetMintable.sol
  packages/protocol/contracts/ERC1724/base/ZkAssetBurnableBase.sol
  packages/protocol/contracts/ERC1724/base/ZkAssetMintableBase.sol
  packages/protocol/contracts/interfaces/IACE.sol
  packages/protocol/test/ERC1724/ZkAssetAdjustable.js
  yarn.lock
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

chore(protocol): add getNote to iace interface + adjustable
  packages/protocol/contracts/ERC1724/ZkAssetAdjustable.sol
  packages/protocol/contracts/ERC1724/ZkAssetMintable.sol
  packages/protocol/contracts/ERC1724/base/ZkAssetBurnableBase.sol
  packages/protocol/contracts/ERC1724/base/ZkAssetMintableBase.sol
  packages/protocol/contracts/interfaces/IACE.sol
  packages/protocol/test/ERC1724/ZkAssetAdjustable.js
  yarn.lock
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(extension): working account switch
  packages/extension/client/manifest.json
  packages/extension/src/background/services/AuthService/index.js
  packages/extension/src/background/services/GraphQLService/resolvers/index.js
  packages/extension/src/background/services/GraphQLService/typeDefs.js
  packages/extension/src/background/services/GraphQLService/validators/validateSession.js
  packages/extension/src/client/auth/index.js
  packages/extension/src/config/action.js
  packages/extension/src/database/models/session/index.js
  packages/extension/src/ui/App.jsx
  packages/extension/src/ui/mutations/Login.js
  packages/extension/src/ui/pages/Login/index.jsx
Owners: none

feat(extension): working account switch
  packages/extension/client/manifest.json
  packages/extension/src/background/services/AuthService/index.js
  packages/extension/src/background/services/GraphQLService/resolvers/index.js
  packages/extension/src/background/services/GraphQLService/typeDefs.js
  packages/extension/src/background/services/GraphQLService/validators/validateSession.js
  packages/extension/src/client/auth/index.js
  packages/extension/src/config/action.js
  packages/extension/src/database/models/session/index.js
  packages/extension/src/ui/App.jsx
  packages/extension/src/ui/mutations/Login.js
  packages/extension/src/ui/pages/Login/index.jsx
Owners: none

style(protocol): fix eslint issues
  packages/protocol/test/ERC1724/ZkAssetAdjustable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(protocol): fix eslint issues
  packages/protocol/test/ERC1724/ZkAssetAdjustable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test: add tests to check sign functions check publicKey can be recovered, v is well formed check AZTEC signing function output matches eth-sig-util.signTypedData() signing function output
  packages/aztec.js/package.json
  packages/aztec.js/test/signer/index.js
  packages/protocol/test/libs/LibEIP712.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test: add tests to check sign functions check publicKey can be recovered, v is well formed check AZTEC signing function output matches eth-sig-util.signTypedData() signing function output
  packages/aztec.js/package.json
  packages/aztec.js/test/signer/index.js
  packages/protocol/test/libs/LibEIP712.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

docs(protocol): update docs and eslint fixes
  packages/aztec.js/src/proof/joinSplit/index.js
  packages/aztec.js/src/signer/index.js
  packages/aztec.js/test/signer/index.js
  packages/protocol/contracts/libs/LibEIP712.sol
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/libs/LibEIP712.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

docs(protocol): update docs and eslint fixes
  packages/aztec.js/src/proof/joinSplit/index.js
  packages/aztec.js/src/signer/index.js
  packages/aztec.js/test/signer/index.js
  packages/protocol/contracts/libs/LibEIP712.sol
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/libs/LibEIP712.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): update to renamed methods
  packages/protocol/test/ERC1724/ZkAssetMintable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): update to renamed methods
  packages/protocol/test/ERC1724/ZkAssetMintable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(extension): get asset balance by owner from NoteService
  packages/extension/src/background/services/AuthService/enableAssetForDomain/syncAssetInfo.js
  packages/extension/src/background/services/AuthService/index.js
  packages/extension/src/background/services/GraphQLService/resolvers/getAssetBalance.js
  packages/extension/src/background/services/GraphQLService/resolvers/index.js
  packages/extension/src/background/services/GraphQLService/resolvers/pickNotesFromBalance.js
  packages/extension/src/background/services/NoteService/index.js
  packages/extension/src/background/services/NoteService/utils/initAll.js
  packages/extension/src/background/services/SyncService/utils/__tests__/createOrUpdateAsset.spec.js
  packages/extension/src/background/services/SyncService/utils/__tests__/createOrUpdateNote.spec.js
  packages/extension/src/background/services/SyncService/utils/addNote/createOrUpdateAsset.js
  packages/extension/src/background/services/SyncService/utils/addNote/createOrUpdateNote/index.js
  packages/extension/src/background/tasks/init.js
  packages/extension/src/client/apis/createNoteFromBalance/prove.js
  packages/extension/src/database/helpers/Model/each.js
  packages/extension/src/database/models/asset/index.js
Owners: none

feat(extension): get asset balance by owner from NoteService
  packages/extension/src/background/services/AuthService/enableAssetForDomain/syncAssetInfo.js
  packages/extension/src/background/services/AuthService/index.js
  packages/extension/src/background/services/GraphQLService/resolvers/getAssetBalance.js
  packages/extension/src/background/services/GraphQLService/resolvers/index.js
  packages/extension/src/background/services/GraphQLService/resolvers/pickNotesFromBalance.js
  packages/extension/src/background/services/NoteService/index.js
  packages/extension/src/background/services/NoteService/utils/initAll.js
  packages/extension/src/background/services/SyncService/utils/__tests__/createOrUpdateAsset.spec.js
  packages/extension/src/background/services/SyncService/utils/__tests__/createOrUpdateNote.spec.js
  packages/extension/src/background/services/SyncService/utils/addNote/createOrUpdateAsset.js
  packages/extension/src/background/services/SyncService/utils/addNote/createOrUpdateNote/index.js
  packages/extension/src/background/tasks/init.js
  packages/extension/src/client/apis/createNoteFromBalance/prove.js
  packages/extension/src/database/helpers/Model/each.js
  packages/extension/src/database/models/asset/index.js
Owners: none

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/IACE.json
  packages/contract-artifacts/artifacts/ZkAssetAdjustable.json
  packages/contract-artifacts/artifacts/ZkAssetBurnable.json
  packages/contract-artifacts/artifacts/ZkAssetBurnableBase.json
  packages/contract-artifacts/artifacts/ZkAssetMintable.json
  packages/contract-artifacts/artifacts/ZkAssetMintableBase.json
Owners: @PaulRBerg

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/IACE.json
  packages/contract-artifacts/artifacts/ZkAssetAdjustable.json
  packages/contract-artifacts/artifacts/ZkAssetBurnable.json
  packages/contract-artifacts/artifacts/ZkAssetBurnableBase.json
  packages/contract-artifacts/artifacts/ZkAssetMintable.json
  packages/contract-artifacts/artifacts/ZkAssetMintableBase.json
Owners: @PaulRBerg

feat(extension): fix the session logout
  .gitignore
  packages/extension/src/background/services/AuthService/index.js
  packages/extension/src/background/services/GraphQLService/typeDefs.js
  packages/extension/src/background/services/GraphQLService/validators/validateDomainAccess.js
  packages/extension/src/client/demo/createNewAsset.js
  packages/extension/src/ui/mutations/ApproveDomain.js
  packages/extension/src/ui/pages/ApproveAsset/index.jsx
Owners: none

feat(extension): fix the session logout
  .gitignore
  packages/extension/src/background/services/AuthService/index.js
  packages/extension/src/background/services/GraphQLService/typeDefs.js
  packages/extension/src/background/services/GraphQLService/validators/validateDomainAccess.js
  packages/extension/src/client/demo/createNewAsset.js
  packages/extension/src/ui/mutations/ApproveDomain.js
  packages/extension/src/ui/pages/ApproveAsset/index.jsx
Owners: none

feat(extension): disable modifier for owner of acount reg
  packages/extension/contracts/AZTECAccountRegistry.sol
Owners: none

feat(extension): disable modifier for owner of acount reg
  packages/extension/contracts/AZTECAccountRegistry.sol
Owners: none

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(extension): make balance a method of asset instead of an attribute
  packages/extension/src/client/Aztec/asset.js
  packages/extension/src/client/demo/mintable.js
  packages/extension/src/client/demo/ownable.js
Owners: none
