Repository rh0108/ethereum-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PaulRBerg, @zac-williamson, @thomas-waite

ci: build and publish docs in cicd
  .circleci/config.yml
  package.json
  packages/aztec.js/package.json
Owners: @PaulRBerg, @zac-williamson, @thomas-waite

build(deps-dev): bump prettier from 1.16.4 to 1.17.0
  yarn.lock
Owners: none

ci: add aztec bot's name and email to docs job
  .circleci/config.yml
Owners: @PaulRBerg

fix(aztec.js): change points database url to cloudfront distribution
  packages/aztec.js/src/setup/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

chore(protocol): add Migrations to ignored contracts on coverage
  packages/protocol/truffle-config.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

chore: point the coveralls.io badge to the develop branch
  README.md
Owners: none

fix(aztec.js): exclude dist from jsdoc config
  packages/aztec.js/.jsdoc.json
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

build(deps-dev): bump @0x/sol-profiler from 3.1.4 to 3.1.5
  yarn.lock
Owners: none

build(deps-dev): bump wsrun from 3.6.4 to 3.6.5
  yarn.lock
Owners: none

build(deps-dev): bump eslint-config-prettier from 4.1.0 to 4.2.0
  yarn.lock
Owners: none

chore: update dependencies
  packages/protocol/package.json
  yarn.lock
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

build(deps): bump web3-eth-abi from 1.0.0-beta.50 to 1.0.0-beta.52
  packages/aztec.js/package.json
  yarn.lock
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

build(deps-dev): bump @babel/core from 7.4.3 to 7.4.4
  yarn.lock
Owners: none

build(deps-dev): bump @babel/polyfill from 7.4.3 to 7.4.4
  yarn.lock
Owners: none

build(deps-dev): bump @babel/cli from 7.4.3 to 7.4.4
  yarn.lock
Owners: none

build(deps-dev): bump @babel/plugin-proposal-object-rest-spread
  yarn.lock
Owners: none

build(deps-dev): bump commitizen from 3.0.7 to 3.1.1
  yarn.lock
Owners: none

build(monorepo-scripts): remove /dev/null from artifact orchestration
  packages/monorepo-scripts/artifacts/orchestrate.sh
Owners: @PaulRBerg

build(protocol): skip dry run for truffle migrations
  packages/protocol/truffle-config.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/ACE.json
  packages/contract-artifacts/artifacts/AdjustSupply.json
  packages/contract-artifacts/artifacts/AdjustSupplyABIEncoder.json
  packages/contract-artifacts/artifacts/AdjustSupplyInterface.json
  packages/contract-artifacts/artifacts/BilateralSwap.json
  packages/contract-artifacts/artifacts/BilateralSwapABIEncoder.json
  packages/contract-artifacts/artifacts/BilateralSwapInterface.json
  packages/contract-artifacts/artifacts/DividendComputation.json
  packages/contract-artifacts/artifacts/DividendComputationABIEncoder.json
  packages/contract-artifacts/artifacts/DividendComputationInterface.json
  packages/contract-artifacts/artifacts/ERC20Mintable.json
  packages/contract-artifacts/artifacts/GenericABIEncoder.json
  packages/contract-artifacts/artifacts/IAZTEC.json
  packages/contract-artifacts/artifacts/IZkAsset.json
  packages/contract-artifacts/artifacts/JoinSplit.json
  packages/contract-artifacts/artifacts/JoinSplitABIEncoder.json
  packages/contract-artifacts/artifacts/JoinSplitInterface.json
  packages/contract-artifacts/artifacts/LibEIP712.json
  packages/contract-artifacts/artifacts/NoteRegistry.json
  packages/contract-artifacts/artifacts/NoteUtils.json
  packages/contract-artifacts/artifacts/ProofUtils.json
  packages/contract-artifacts/artifacts/SafeMath8.json
  packages/contract-artifacts/artifacts/ZkAsset.json
  packages/contract-artifacts/artifacts/ZkAssetBurnable.json
  packages/contract-artifacts/artifacts/ZkAssetDetailed.json
  packages/contract-artifacts/artifacts/ZkAssetMintable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnable.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(secp256k1): initial commit
  packages/secp256k1/README.md
  packages/secp256k1/package.json
  packages/secp256k1/src/index.js
  packages/secp256k1/test/secp256k1.js
Owners: none

build(monorepo-scripts): add new packages to publish script
  packages/monorepo-scripts/publish/index.js
Owners: @PaulRBerg

feat(aztec.js): remove secp256k1 and use @aztec/secp256k1
  packages/aztec.js/README.md
  packages/aztec.js/package.json
  packages/aztec.js/src/abiEncoder/encoderFactory.js
  packages/aztec.js/src/abiEncoder/noteCoder.js
  packages/aztec.js/src/abiEncoder/outputCoder.js
  packages/aztec.js/src/index.js
  packages/aztec.js/src/note/index.js
  packages/aztec.js/src/proof/joinSplit/helpers.js
  packages/aztec.js/src/proof/proofUtils.js
  packages/aztec.js/src/secp256k1/index.js
  packages/aztec.js/src/sign/index.js
  packages/aztec.js/test/abiEncoder/encoderFactory.spec.js
  packages/aztec.js/test/abiEncoder/outputCoder.spec.js
  packages/aztec.js/test/note/note.spec.js
  packages/aztec.js/test/proof/burn/proof.spec.js
  packages/aztec.js/test/proof/burn/verifier.spec.js
  packages/aztec.js/test/proof/mint/proof.spec.js
  packages/aztec.js/test/proof/mint/verifier.spec.js
  packages/aztec.js/test/secp256k1/secp256k1.spec.js
  packages/aztec.js/test/sign/sign.spec.js
  packages/secp256k1/package.json
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(secp256k1): remove superfluous double quotes
  packages/secp256k1/README.md
  packages/secp256k1/package.json
Owners: none

feat(typed-data): initial commit
  packages/typed-data/README.md
  packages/typed-data/package.json
  packages/typed-data/src/index.js
  packages/typed-data/test/signer.js
Owners: none

refactor(aztec.js): remove sign/eip712 and use @aztec/typed-data
  packages/aztec.js/package.json
  packages/aztec.js/src/index.js
  packages/aztec.js/src/proof/joinSplit/index.js
  packages/aztec.js/src/proof/proofUtils.js
  packages/aztec.js/src/sign/eip712.js
  packages/aztec.js/src/signer/index.js
  packages/aztec.js/test/abiEncoder/encoderFactory.spec.js
  packages/aztec.js/test/sign/eip712.spec.js
  packages/aztec.js/test/signer/signer.spec.js
  yarn.lock
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(secp256k1): remove superfluous whitespace
  packages/secp256k1/README.md
Owners: none

refactor(aztec.js): remove spec.js extension in test files
  packages/aztec.js/test/abiEncoder/encoderFactory.js
  packages/aztec.js/test/abiEncoder/outputCoder.js
  packages/aztec.js/test/bn128/bn128.js
  packages/aztec.js/test/keccak/keccak.js
  packages/aztec.js/test/note/note.js
  packages/aztec.js/test/proof/bilateralSwap/proof.js
  packages/aztec.js/test/proof/bilateralSwap/verifier.js
  packages/aztec.js/test/proof/burn/proof.js
  packages/aztec.js/test/proof/burn/verifier.js
  packages/aztec.js/test/proof/dividendComputation/proof.js
  packages/aztec.js/test/proof/dividendComputation/verifier.js
  packages/aztec.js/test/proof/joinSplit/extractor.js
  packages/aztec.js/test/proof/joinSplit/proof.js
  packages/aztec.js/test/proof/joinSplit/verifier.js
  packages/aztec.js/test/proof/mint/proof.js
  packages/aztec.js/test/proof/mint/verifier.js
  packages/aztec.js/test/setup/setup.js
  packages/aztec.js/test/signer/signer.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): use keccak256 instead of sha3
  packages/aztec.js/src/abiEncoder/outputCoder.js
  packages/aztec.js/src/keccak/index.js
  packages/aztec.js/src/note/utils.js
  packages/aztec.js/src/proof/bilateralSwap/index.js
  packages/aztec.js/src/proof/burn/index.js
  packages/aztec.js/src/proof/mint/index.js
  packages/aztec.js/test/keccak/keccak.spec.js
  packages/aztec.js/test/proof/bilateralSwap/verifier.spec.js
  packages/aztec.js/test/proof/burn/verifier.spec.js
  packages/aztec.js/test/proof/dividendComputation/verifier.spec.js
  packages/aztec.js/test/proof/joinSplit/verifier.spec.js
  packages/aztec.js/test/proof/mint/verifier.spec.js
  packages/aztec.js/test/signer/signer.spec.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(aztec.js): prefer arrow functions where possible
  packages/aztec.js/src/bn128/index.js
  packages/aztec.js/src/keccak/index.js
  packages/aztec.js/src/note/index.js
  packages/aztec.js/src/note/utils.js
  packages/aztec.js/src/signer/index.js
  packages/aztec.js/test/abiEncoder/encoderFactory.js
  packages/aztec.js/test/abiEncoder/outputCoder.js
  packages/aztec.js/test/proof/burn/proof.js
  packages/aztec.js/test/proof/joinSplit/extractor.js
  packages/aztec.js/test/proof/joinSplit/proof.js
  packages/aztec.js/test/proof/joinSplit/verifier.js
  packages/aztec.js/test/proof/mint/proof.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(secp256k1): prefer arrow functions where possible
  packages/secp256k1/src/index.js
Owners: none

style(typed-data): prefer arrow functions where possible
  packages/typed-data/src/index.js
Owners: none

style(aztec.js): minify superfluous imports
  packages/aztec.js/test/abiEncoder/encoderFactory.js
  packages/aztec.js/test/abiEncoder/outputCoder.js
  packages/aztec.js/test/bn128/bn128.js
  packages/aztec.js/test/keccak/keccak.js
  packages/aztec.js/test/note/note.js
  packages/aztec.js/test/proof/bilateralSwap/proof.js
  packages/aztec.js/test/proof/bilateralSwap/verifier.js
  packages/aztec.js/test/proof/burn/proof.js
  packages/aztec.js/test/proof/burn/verifier.js
  packages/aztec.js/test/proof/dividendComputation/proof.js
  packages/aztec.js/test/proof/dividendComputation/verifier.js
  packages/aztec.js/test/proof/joinSplit/extractor.js
  packages/aztec.js/test/proof/joinSplit/proof.js
  packages/aztec.js/test/proof/joinSplit/verifier.js
  packages/aztec.js/test/proof/mint/proof.js
  packages/aztec.js/test/proof/mint/verifier.js
  packages/aztec.js/test/setup/setup.js
  packages/aztec.js/test/signer/signer.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(protocol): use @aztec/secp256k1 and @aztec/typed-data
  packages/protocol/package.json
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/ACEAdjustSupply.js
  packages/protocol/test/ACE/NoteRegistry.js
  packages/protocol/test/ACE/validators/bilateralSwap/abiEncoder.js
  packages/protocol/test/ACE/validators/bilateralSwap/index.js
  packages/protocol/test/ACE/validators/burn/abiEncoder.js
  packages/protocol/test/ACE/validators/burn/index.js
  packages/protocol/test/ACE/validators/dividendComputation/abiEncoder.js
  packages/protocol/test/ACE/validators/dividendComputation/index.js
  packages/protocol/test/ACE/validators/joinSplit/abiEncoder.js
  packages/protocol/test/ACE/validators/joinSplit/index.js
  packages/protocol/test/ACE/validators/mint/abiEncoder.js
  packages/protocol/test/ACE/validators/mint/index.js
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/ERC1724/ZkAssetBurnable.js
  packages/protocol/test/ERC1724/ZkAssetMintable.js
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
  packages/protocol/test/libs/LibEIP712.js
  packages/protocol/test/libs/NoteUtils.js
  packages/protocol/test/libs/SafeMath8.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(aztec.js): apply prettier
  packages/aztec.js/src/bn128/index.js
  packages/aztec.js/src/keccak/index.js
  packages/aztec.js/test/abiEncoder/encoderFactory.js
  packages/aztec.js/test/abiEncoder/outputCoder.js
  packages/aztec.js/test/proof/burn/proof.js
  packages/aztec.js/test/proof/joinSplit/extractor.js
  packages/aztec.js/test/proof/joinSplit/proof.js
  packages/aztec.js/test/proof/joinSplit/verifier.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

build(deps-dev): bump @babel/preset-env from 7.4.3 to 7.4.4
  yarn.lock
Owners: none

build(deps-dev): bump husky from 2.1.0 to 2.2.0
  yarn.lock
Owners: none

feat(protocol): remove signature validation from JoinSplitABIEncoder.sol
  packages/protocol/contracts/ACE/validators/joinSplit/JoinSplitABIEncoder.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): remove JoinSplitABIEncoder.sol signature logic tests
  packages/protocol/test/ACE/validators/joinSplit/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

.circleci                       @PaulRBerg
packages/aztec.js               @zac-williamson @PaulRBerg @thomas-waite
packages/contract-addresses     @PaulRBerg
packages/contract-artifacts     @PaulRBerg
packages/dev-utils              @PaulRBerg @thomas-waite
packages/monorepo-scripts       @PaulRBerg
packages/protocol               @zac-williamson @PaulRBerg @thomas-waite
packages/huff                   @zac-williamson
packages/weierstrudel           @zac-williamson
