Repository rh0108/ethereum-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PaulRBerg, @zac-williamson, @thomas-waite

style(aztec.js): docs for proofUtils.randomAddress()
  packages/aztec.js/src/proof/proofUtils.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

build(deps-dev): bump @commitlint/cli from 7.5.2 to 7.6.1
  package.json
  yarn.lock
Owners: none

build(deps): bump web3-eth-abi from 1.0.0-beta.52 to 1.0.0-beta.55
  packages/typed-data/package.json
  yarn.lock
Owners: none

refactor(aztec.js): implement PR feedback
  packages/aztec.js/src/proof/joinSplit/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): update tests to only input required noteOwners
  packages/protocol/test/ACE/validators/joinSplit/index.js
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/ERC1724/ZkAssetBurnable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(dev-utils): new errorType code
  packages/dev-utils/src/constants.js
Owners: @PaulRBerg, @thomas-waite

style: eslint and prettier fixes
  packages/aztec.js/src/proof/joinSplit/index.js
  packages/aztec.js/src/proof/proofUtils.js
  packages/protocol/test/ACE/validators/joinSplit/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): move signature param checks to proofUtils
  packages/aztec.js/src/proof/joinSplit/index.js
  packages/aztec.js/src/proof/proofUtils.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(aztec.js): test error thrown for incorrect signature params
  packages/aztec.js/test/proof/joinSplit/proof.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style: eslint and prettier fixes
  packages/aztec.js/src/proof/joinSplit/index.js
  packages/aztec.js/src/proof/proofUtils.js
  packages/aztec.js/test/proof/joinSplit/proof.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): unravel beforeEach(), move content into unit tests
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): implement proper confidentialApprove() flow
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(aztec.js): add failure test for if confidentialApprove() not called
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style: apply prettier fixes
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

build(deps-dev): bump webpack-cli from 3.3.0 to 3.3.2
  yarn.lock
Owners: none

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/IZkAsset.json
  packages/contract-artifacts/artifacts/JoinSplit.json
  packages/contract-artifacts/artifacts/JoinSplitABIEncoder.json
  packages/contract-artifacts/artifacts/JoinSplitInterface.json
  packages/contract-artifacts/artifacts/ZkAsset.json
  packages/contract-artifacts/artifacts/ZkAssetBurnable.json
  packages/contract-artifacts/artifacts/ZkAssetDetailed.json
  packages/contract-artifacts/artifacts/ZkAssetMintable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnable.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(aztec.js): implement private range proof construction
  packages/aztec.js/src/proof/privateRange/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): export private range proof construction module
  packages/aztec.js/src/proof/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(aztec.js): implement private range JS proof verification code
  packages/aztec.js/src/proof/privateRange/verifier.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(aztec.js): tests for private range proof construction
  packages/aztec.js/test/proof/privateRange/proof.spec.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(aztec.js): method for ABI input encoding private range
  packages/aztec.js/src/abiEncoder/inputCoder.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(aztec.js): tests for private range proof verification
  packages/aztec.js/test/proof/privateRange/verifier.spec.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(aztec.js): add privateRange option in encode() method
  packages/aztec.js/src/abiEncoder/encoderFactory.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(aztec.js): tests for privateRange proof encoderFactory methods
  packages/aztec.js/test/abiEncoder/encoderFactory.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): implement smart contract interface for PrivateRange.sol
  packages/protocol/contracts/interfaces/PrivateRangeInterface.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): success test for PrivateRange.sol
  packages/protocol/test/ACE/validators/privateRange/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): first draft of private range zk validator contract
  packages/protocol/contracts/ACE/validators/privateRange/PrivateRange.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style: lint and prettier fixes throughout
  packages/aztec.js/src/proof/privateRange/index.js
  packages/aztec.js/src/proof/privateRange/verifier.js
  packages/aztec.js/test/abiEncoder/encoderFactory.js
  packages/aztec.js/test/proof/privateRange/proof.spec.js
  packages/aztec.js/test/proof/privateRange/verifier.spec.js
  packages/protocol/test/ACE/validators/privateRange/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style: lint and prettier fixes throughout
  packages/aztec.js/src/proof/privateRange/index.js
  packages/aztec.js/src/proof/privateRange/verifier.js
  packages/aztec.js/test/abiEncoder/encoderFactory.js
  packages/aztec.js/test/proof/privateRange/proof.spec.js
  packages/aztec.js/test/proof/privateRange/verifier.spec.js
  packages/protocol/test/ACE/validators/privateRange/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): add failure tests for private range proof
  packages/protocol/test/ACE/validators/privateRange/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(protocol): implement correct relation between k_bar factors
  packages/protocol/contracts/ACE/validators/privateRange/PrivateRange.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(protocol): implement correct relation between k_bar factors
  packages/protocol/contracts/ACE/validators/privateRange/PrivateRange.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): add failure tests for private range proof
  packages/protocol/test/ACE/validators/privateRange/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor: change interface return, remove DOMAIN_HASH,remove console.log
  packages/aztec.js/src/proof/privateRange/index.js
  packages/protocol/contracts/interfaces/PrivateRangeInterface.sol
  packages/protocol/test/ACE/validators/privateRange/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor: change interface return, remove DOMAIN_HASH,remove console.log
  packages/aztec.js/src/proof/privateRange/index.js
  packages/protocol/contracts/interfaces/PrivateRangeInterface.sol
  packages/protocol/test/ACE/validators/privateRange/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): implement PrivateRangeABIEncoder.sol
  packages/protocol/contracts/ACE/validators/privateRange/PrivateRangeABIEncoder.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(protocol): refactor PrivateRange.sol to make use of ABI encoder
  packages/protocol/contracts/ACE/validators/privateRange/PrivateRange.sol
  packages/protocol/contracts/interfaces/PrivateRangeInterface.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): implement PrivateRangeABIEncoder.sol
  packages/protocol/contracts/ACE/validators/privateRange/PrivateRangeABIEncoder.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(protocol): refactor PrivateRange.sol to make use of ABI encoder
  packages/protocol/contracts/ACE/validators/privateRange/PrivateRange.sol
  packages/protocol/contracts/interfaces/PrivateRangeInterface.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

.circleci                       @PaulRBerg
packages/aztec.js               @zac-williamson @PaulRBerg @thomas-waite
packages/contract-addresses     @PaulRBerg
packages/contract-artifacts     @PaulRBerg
packages/dev-utils              @PaulRBerg @thomas-waite
packages/monorepo-scripts       @PaulRBerg
packages/protocol               @zac-williamson @PaulRBerg @thomas-waite
packages/huff                   @zac-williamson
packages/weierstrudel           @zac-williamson
