Repository rh0108/ethereum-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PaulRBerg, @zac-williamson, @thomas-waite

feat(extension): make balance a method of asset instead of an attribute
  packages/extension/src/client/Aztec/asset.js
  packages/extension/src/client/demo/mintable.js
  packages/extension/src/client/demo/ownable.js
Owners: none

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(extension): fix linkedpubkey
  packages/extension/src/background/services/AuthService/index.js
  packages/extension/src/background/services/GraphQLService/resolvers/index.js
Owners: none

feat(extension): fix linkedpubkey
  packages/extension/src/background/services/AuthService/index.js
  packages/extension/src/background/services/GraphQLService/resolvers/index.js
Owners: none

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

build(protocol): add deployment script for PrivateRange.sol
  packages/protocol/migrations/8_deploy_private_range.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

build(protocol): add deployment script for PrivateRange.sol
  packages/protocol/migrations/8_deploy_private_range.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

build(monorepo-scripts): update deployment scripts for PrivateRange.sol
  packages/monorepo-scripts/addresses/update.js
  packages/monorepo-scripts/artifacts/build.js
Owners: @PaulRBerg

build(monorepo-scripts): update deployment scripts for PrivateRange.sol
  packages/monorepo-scripts/addresses/update.js
  packages/monorepo-scripts/artifacts/build.js
Owners: @PaulRBerg

fix(protocol): correct proofID for privateRange in deployment
  packages/protocol/migrations/8_deploy_private_range.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): correct proofID for privateRange in deployment
  packages/protocol/migrations/8_deploy_private_range.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(extension): fix updated values in NoteService
  packages/extension/src/background/services/NoteService/index.js
  packages/extension/src/background/services/SyncService/utils/addNote/createOrUpdateNote/index.js
Owners: none

fix(extension): fix updated values in NoteService
  packages/extension/src/background/services/NoteService/index.js
  packages/extension/src/background/services/SyncService/utils/addNote/createOrUpdateNote/index.js
Owners: none

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/PrivateRange.json
Owners: @PaulRBerg

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/PrivateRange.json
Owners: @PaulRBerg

feat(aztec.js): add metaData module, to deal with extracting extractNoteMetadata() extracts the note meta data and abi encodes
  packages/aztec.js/src/metaData/index.js
  packages/aztec.js/test/metaData/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(aztec.js): add metaData module, to deal with extracting extractNoteMetadata() extracts the note meta data and abi encodes
  packages/aztec.js/src/metaData/index.js
  packages/aztec.js/test/metaData/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(aztec.js): add metaData to note schema add setMetadata() method to give method to set the metadata
  packages/aztec.js/src/index.js
  packages/aztec.js/src/note/index.js
  packages/aztec.js/test/note/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(aztec.js): add metaData to note schema add setMetadata() method to give method to set the metadata
  packages/aztec.js/src/index.js
  packages/aztec.js/src/note/index.js
  packages/aztec.js/test/note/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat: functionality to append customData to note tests for metaData encoding, compatibility with existing setup in ACE and ZkAsset
  packages/aztec.js/src/encoder/inputCoder.js
  packages/aztec.js/src/encoder/outputCoder.js
  packages/aztec.js/src/metaData/index.js
  packages/aztec.js/src/note/index.js
  packages/aztec.js/src/proof/joinSplit/index.js
  packages/aztec.js/test/encoder/outputCoder.js
  packages/aztec.js/test/metaData/index.js
  packages/aztec.js/test/note/index.js
  packages/aztec.js/test/proof/joinSplit/index.js
  packages/protocol/contracts/ACE/ACE.sol
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ERC1724/ZkAsset.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat: functionality to append customData to note tests for metaData encoding, compatibility with existing setup in ACE and ZkAsset
  packages/aztec.js/src/encoder/inputCoder.js
  packages/aztec.js/src/encoder/outputCoder.js
  packages/aztec.js/src/metaData/index.js
  packages/aztec.js/src/note/index.js
  packages/aztec.js/src/proof/joinSplit/index.js
  packages/aztec.js/test/encoder/outputCoder.js
  packages/aztec.js/test/metaData/index.js
  packages/aztec.js/test/note/index.js
  packages/aztec.js/test/proof/joinSplit/index.js
  packages/protocol/contracts/ACE/ACE.sol
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ERC1724/ZkAsset.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): add updateNoteMetaData() method to ZkAssetBase.sol
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor: metacommit
  packages/aztec.js/src/encoder/inputCoder.js
  packages/aztec.js/src/encoder/outputCoder.js
  packages/aztec.js/src/metaData/index.js
  packages/aztec.js/src/note/index.js
  packages/aztec.js/src/proof/joinSplit/index.js
  packages/aztec.js/test/encoder/outputCoder.js
  packages/aztec.js/test/metaData/index.js
  packages/aztec.js/test/proof/joinSplit/index.js
  packages/dev-utils/src/constants.js
  packages/protocol/contracts/interfaces/IZkAsset.sol
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/validators/joinSplit/index.js
  packages/protocol/test/ERC1724/ZkAsset.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor: metacommit
  packages/aztec.js/src/encoder/inputCoder.js
  packages/aztec.js/src/encoder/outputCoder.js
  packages/aztec.js/src/metaData/index.js
  packages/aztec.js/src/note/index.js
  packages/aztec.js/src/proof/joinSplit/index.js
  packages/aztec.js/test/encoder/outputCoder.js
  packages/aztec.js/test/metaData/index.js
  packages/aztec.js/test/proof/joinSplit/index.js
  packages/dev-utils/src/constants.js
  packages/protocol/contracts/interfaces/IZkAsset.sol
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/validators/joinSplit/index.js
  packages/protocol/test/ERC1724/ZkAsset.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): add updateNoteMetaData() method to ZkAssetBase.sol
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): fix updateNoteMetadata() method add a test contract that removes the check for note owner, for testing purposes
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
  packages/protocol/contracts/interfaces/IZkAsset.sol
  packages/protocol/contracts/test/ERC1724/ZkAssetTest.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): fix updateNoteMetadata() method add a test contract that removes the check for note owner, for testing purposes
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
  packages/protocol/contracts/interfaces/IZkAsset.sol
  packages/protocol/contracts/test/ERC1724/ZkAssetTest.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): edit outputCoder to correctly decode notes options added for the various possible metadata lengths: outputNote with metadata set, outputNote without metadata set and input note
  packages/aztec.js/src/encoder/outputCoder.js
  packages/aztec.js/test/encoder/outputCoder.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): edit outputCoder to correctly decode notes options added for the various possible metadata lengths: outputNote with metadata set, outputNote without metadata set and input note
  packages/aztec.js/src/encoder/outputCoder.js
  packages/aztec.js/test/encoder/outputCoder.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): zkAsset tests to check customMetaData behaviour check that it is correctly encoded, metadata can be updated and that events are emitted eslint fixes
  packages/aztec.js/src/encoder/inputCoder.js
  packages/aztec.js/src/proof/joinSplit/index.js
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/validators/joinSplit/index.js
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/helpers/ERC1724.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): zkAsset tests to check customMetaData behaviour check that it is correctly encoded, metadata can be updated and that events are emitted eslint fixes
  packages/aztec.js/src/encoder/inputCoder.js
  packages/aztec.js/src/proof/joinSplit/index.js
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/validators/joinSplit/index.js
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/helpers/ERC1724.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor: adjust metadata encoding to match extension scheme extension scheme uses a currently static custom metadata string of length 0x117, in addition to the ephemeral key length
  packages/aztec.js/src/encoder/inputCoder.js
  packages/aztec.js/src/encoder/outputCoder.js
  packages/aztec.js/src/metaData/index.js
  packages/aztec.js/src/note/index.js
  packages/aztec.js/src/proof/joinSplit/index.js
  packages/aztec.js/test/encoder/outputCoder.js
  packages/aztec.js/test/metaData/index.js
  packages/aztec.js/test/note/index.js
  packages/aztec.js/test/proof/joinSplit/index.js
  packages/protocol/contracts/ACE/NoteRegistry.sol
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ERC1724/ZkAsset.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

.circleci                       @PaulRBerg
packages/aztec.js               @zac-williamson @PaulRBerg @thomas-waite
packages/contract-addresses     @PaulRBerg
packages/contract-artifacts     @PaulRBerg
packages/dev-utils              @PaulRBerg @thomas-waite
packages/monorepo-scripts       @PaulRBerg
packages/protocol               @zac-williamson @PaulRBerg @thomas-waite
packages/huff                   @zac-williamson
packages/weierstrudel           @zac-williamson
