Repository rh0108/ethereum-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PaulRBerg, @zac-williamson, @thomas-waite

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

.circleci                       @PaulRBerg
packages/aztec.js               @zac-williamson @PaulRBerg @thomas-waite
packages/contract-addresses     @PaulRBerg
packages/contract-artifacts     @PaulRBerg
packages/dev-utils              @PaulRBerg @thomas-waite
packages/monorepo-scripts       @PaulRBerg
packages/protocol               @zac-williamson @PaulRBerg @thomas-waite
packages/huff                   @zac-williamson
packages/weierstrudel           @zac-williamson

feat(extension): latest code
  packages/extension/src/client/Aztec/index.js
  packages/extension/src/client/auth/index.js
Owners: none

feat(extension): latest code
  packages/extension/src/client/Aztec/index.js
  packages/extension/src/client/auth/index.js
Owners: none

feat(extension): fix metadata typo
  packages/graph/mappings/ZKAsset.ts
  packages/graph/types/ACE/templates/ZkAsset/ZkAsset.ts
Owners: none

feat(extension): fix metadata typo
  packages/graph/mappings/ZKAsset.ts
  packages/graph/types/ACE/templates/ZkAsset/ZkAsset.ts
Owners: none

fix(protocol): remove duplicated event declaration
  packages/protocol/contracts/interfaces/IZkAsset.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): remove duplicated event declaration
  packages/protocol/contracts/interfaces/IZkAsset.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(monorepo-scripts): deduplicate dependencies
  yarn.lock
Owners: none

fix(monorepo-scripts): deduplicate dependencies
  yarn.lock
Owners: none

fix(extension): downgrade babel-eslint
  packages/extension/package.json
Owners: none

fix(extension): downgrade babel-eslint
  packages/extension/package.json
Owners: none

fix(graph): update UpdateNoteMetadata event name
  packages/graph/subgraph.yaml
  packages/graph/types/ACE/templates/ZkAsset/ZkAsset.ts
Owners: none

fix(graph): update UpdateNoteMetadata event name
  packages/graph/subgraph.yaml
  packages/graph/types/ACE/templates/ZkAsset/ZkAsset.ts
Owners: none

style(extension): fix eslint errors in some files
  packages/extension/src/client/Aztec/index.js
  packages/extension/src/client/services/Web3Service/index.js
  packages/extension/src/utils/keyvault/index.js
  packages/extension/src/utils/note/createNotes.js
Owners: none

style(extension): fix eslint errors in some files
  packages/extension/src/client/Aztec/index.js
  packages/extension/src/client/services/Web3Service/index.js
  packages/extension/src/utils/keyvault/index.js
  packages/extension/src/utils/note/createNotes.js
Owners: none

fix(aztec.js): fix equality condition check in privateRange construction
  packages/aztec.js/src/proof/privateRange/index.js
  packages/aztec.js/test/proof/privateRange/verifier.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(aztec.js): fix equality condition check in privateRange construction
  packages/aztec.js/src/proof/privateRange/index.js
  packages/aztec.js/test/proof/privateRange/verifier.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): fix sense check breaking test
  packages/aztec.js/src/proof/privateRange/index.js
  packages/protocol/test/ACE/validators/privateRange/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): fix sense check breaking test
  packages/aztec.js/src/proof/privateRange/index.js
  packages/protocol/test/ACE/validators/privateRange/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(extension): rebuild all contracts every time
  packages/graph/scripts/instances/migrateContractsInstance.js
Owners: none

feat(extension): rebuild all contracts every time
  packages/graph/scripts/instances/migrateContractsInstance.js
Owners: none

feat(extension): use EIP712 implementation
  packages/extension/contracts/AZTECAccountRegistry.sol
  packages/extension/src/client/auth/index.js
  packages/graph/types/AZTECAccountRegistry/AZTECAccountRegistry.ts
Owners: none

feat(extension): use EIP712 implementation
  packages/extension/contracts/AZTECAccountRegistry.sol
  packages/extension/src/client/auth/index.js
  packages/graph/types/AZTECAccountRegistry/AZTECAccountRegistry.ts
Owners: none

test(protocol): make test of multisig timelock resilient to off by one
  packages/protocol/test/MultiSig/MultiSigWalletWithTimeLock.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): make test of multisig timelock resilient to off by one
  packages/protocol/test/MultiSig/MultiSigWalletWithTimeLock.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): attempt to increase gas to fix coverage exception
  packages/protocol/test/ACE/ACEOwner.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): attempt to increase gas to fix coverage exception
  packages/protocol/test/ACE/ACEOwner.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(extension): fix eip712 tests
  packages/extension/contracts/AZTECAccountRegistry.sol
  packages/extension/src/client/auth/index.js
  packages/extension/test/AZTECAccountRegistry.spec.js
  packages/graph/types/AZTECAccountRegistry/AZTECAccountRegistry.ts
Owners: none

feat(extension): fix eip712 tests
  packages/extension/contracts/AZTECAccountRegistry.sol
  packages/extension/src/client/auth/index.js
  packages/extension/test/AZTECAccountRegistry.spec.js
  packages/graph/types/AZTECAccountRegistry/AZTECAccountRegistry.ts
Owners: none

fix(graph): update tests to use the latest protocols and web3
  packages/graph/.eslintrc.js
  packages/graph/package.json
  packages/graph/scripts/run.js
  packages/graph/scripts/tasks/copy.js
  packages/graph/scripts/tasks/deployContracts.js
  packages/graph/scripts/tasks/resetdb.js
  packages/graph/scripts/tasks/setup.js
  packages/graph/scripts/tasks/test.js
  packages/graph/scripts/utils/graph.js
  packages/graph/scripts/utils/log.js
  packages/graph/scripts/utils/pipeTasks.js
  packages/graph/tests/ACE.spec.js
  packages/graph/tests/AccountRegistry.spec.js
  packages/graph/tests/ZkAsset.spec.js
  packages/graph/tests/helpers/AuthService.js
  packages/graph/tests/helpers/Query.js
  packages/graph/tests/helpers/Web3Events.js
  packages/graph/tests/helpers/Web3Service.js
  packages/graph/tests/utils/sleep.js
Owners: none

fix(graph): update tests to use the latest protocols and web3
  packages/graph/.eslintrc.js
  packages/graph/package.json
  packages/graph/scripts/run.js
  packages/graph/scripts/tasks/copy.js
  packages/graph/scripts/tasks/deployContracts.js
  packages/graph/scripts/tasks/resetdb.js
  packages/graph/scripts/tasks/setup.js
  packages/graph/scripts/tasks/test.js
  packages/graph/scripts/utils/graph.js
  packages/graph/scripts/utils/log.js
  packages/graph/scripts/utils/pipeTasks.js
  packages/graph/tests/ACE.spec.js
  packages/graph/tests/AccountRegistry.spec.js
  packages/graph/tests/ZkAsset.spec.js
  packages/graph/tests/helpers/AuthService.js
  packages/graph/tests/helpers/Query.js
  packages/graph/tests/helpers/Web3Events.js
  packages/graph/tests/helpers/Web3Service.js
  packages/graph/tests/utils/sleep.js
Owners: none

test(protocol): default optimiser to on to fix coverage failure
  packages/protocol/test/ACE/ACEOwner.js
  packages/protocol/truffle-config.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): default optimiser to on to fix coverage failure
  packages/protocol/test/ACE/ACEOwner.js
  packages/protocol/truffle-config.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): add note registry data contrac + base tests
  packages/protocol/contracts/ACE/NoteRegistryData.sol
  packages/protocol/test/ACE/NoteRegistryData.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): add note registry data contrac + base tests
  packages/protocol/contracts/ACE/NoteRegistryData.sol
  packages/protocol/test/ACE/NoteRegistryData.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): wrong if statement in recoverSignature
  packages/protocol/contracts/libs/LibEIP712.sol
  packages/protocol/test/libs/LibEIP712.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): wrong if statement in recoverSignature
  packages/protocol/contracts/libs/LibEIP712.sol
  packages/protocol/test/libs/LibEIP712.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(contract-artifacts): update contract-artifacts export
  packages/contract-artifacts/src/index.js
  yarn.lock
Owners: @PaulRBerg

refactor(contract-artifacts): update contract-artifacts export
  packages/contract-artifacts/src/index.js
  yarn.lock
Owners: @PaulRBerg

feat(extension): stop user being logged out on account switching
  packages/extension/src/background/services/AuthService/index.js
  packages/extension/src/background/services/GraphQLService/decorators/ensureAccount.js
  packages/extension/src/background/services/GraphQLService/decorators/ensureEntityPermission.js
  packages/extension/src/background/services/GraphQLService/decorators/index.js
  packages/extension/src/background/services/GraphQLService/resolvers/index.js
  packages/extension/src/client/auth/index.js
  packages/extension/src/client/services/Web3Service/index.js
Owners: none

feat(extension): stop user being logged out on account switching
  packages/extension/src/background/services/AuthService/index.js
  packages/extension/src/background/services/GraphQLService/decorators/ensureAccount.js
  packages/extension/src/background/services/GraphQLService/decorators/ensureEntityPermission.js
  packages/extension/src/background/services/GraphQLService/decorators/index.js
  packages/extension/src/background/services/GraphQLService/resolvers/index.js
  packages/extension/src/client/auth/index.js
  packages/extension/src/client/services/Web3Service/index.js
Owners: none
