Repository rh0108/ethereum-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PaulRBerg, @zac-williamson, @thomas-waite

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

.circleci                       @PaulRBerg
packages/aztec.js               @zac-williamson @PaulRBerg @thomas-waite
packages/contract-addresses     @PaulRBerg
packages/contract-artifacts     @PaulRBerg
packages/dev-utils              @PaulRBerg @thomas-waite
packages/monorepo-scripts       @PaulRBerg
packages/protocol               @zac-williamson @PaulRBerg @thomas-waite
packages/huff                   @zac-williamson
packages/weierstrudel           @zac-williamson

docs(protocol): make docs + interface cleaner and better
  packages/protocol/contracts/ACE/ACE.sol
  packages/protocol/contracts/ACE/noteRegistry/Manager.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/adjustable/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/convertible/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/mixed/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/interfaces/Behaviour.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

docs(protocol): make docs + interface cleaner and better
  packages/protocol/contracts/ACE/ACE.sol
  packages/protocol/contracts/ACE/noteRegistry/Manager.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/adjustable/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/convertible/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/mixed/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/interfaces/Behaviour.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): make programatic tests for NR more thorough
  packages/protocol/contracts/ACE/noteRegistry/Manager.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/adjustable/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/convertible/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/mixed/Factory.sol
  packages/protocol/test/ACE/NoteRegistry/NoteRegistryManager.js
  packages/protocol/test/ACE/NoteRegistry/epochs/epochTests.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): make programatic tests for NR more thorough
  packages/protocol/contracts/ACE/noteRegistry/Manager.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/adjustable/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/convertible/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/mixed/Factory.sol
  packages/protocol/test/ACE/NoteRegistry/NoteRegistryManager.js
  packages/protocol/test/ACE/NoteRegistry/epochs/epochTests.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

docs(protocol): add docs for interfaces
  packages/protocol/contracts/ACE/noteRegistry/interfaces/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/interfaces/ProxyAdmin.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

docs(protocol): finish docs on manager.sol
  packages/protocol/contracts/ACE/noteRegistry/Manager.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

docs(protocol): add docs for interfaces
  packages/protocol/contracts/ACE/noteRegistry/interfaces/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/interfaces/ProxyAdmin.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

docs(protocol): finish docs on manager.sol
  packages/protocol/contracts/ACE/noteRegistry/Manager.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

docs(protocol): fix copyright notice + add basic docstring
  packages/protocol/contracts/ACE/noteRegistry/Manager.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/adjustable/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/convertible/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/mixed/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/adjustable/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/adjustable/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/convertible/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/convertible/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/mixed/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/mixed/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/interfaces/Behaviour.sol
  packages/protocol/contracts/libs/VersioningUtils.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

docs(protocol): fix copyright notice + add basic docstring
  packages/protocol/contracts/ACE/noteRegistry/Manager.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/adjustable/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/convertible/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/mixed/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/adjustable/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/adjustable/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/convertible/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/convertible/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/mixed/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/mixed/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/interfaces/Behaviour.sol
  packages/protocol/contracts/libs/VersioningUtils.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

docs(protocol): add more basic doc-strings
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/adjustable/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/convertible/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/mixed/Behaviour.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

docs(protocol): add more basic doc-strings
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/adjustable/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/convertible/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/mixed/Behaviour.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): remove .onlys and docstring error
  packages/protocol/contracts/ACE/noteRegistry/Manager.sol
  packages/protocol/test/ACE/NoteRegistry/epochs/epochTests.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): remove .onlys and docstring error
  packages/protocol/contracts/ACE/noteRegistry/Manager.sol
  packages/protocol/test/ACE/NoteRegistry/epochs/epochTests.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(protocol): fix lint errors
  packages/protocol/contracts/ACE/noteRegistry/Manager.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/adjustable/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/adjustable/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/convertible/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/convertible/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/mixed/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/mixed/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/adjustable/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/convertible/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/mixed/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/interfaces/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/interfaces/ProxyAdmin.sol
  packages/protocol/contracts/ACE/noteRegistry/proxies/AdminUpgradeabilityProxy.sol
  packages/protocol/contracts/ACE/noteRegistry/proxies/BaseAdminUpgradeabilityProxy.sol
  packages/protocol/contracts/ACE/noteRegistry/proxies/BaseUpgradeabilityProxy.sol
  packages/protocol/contracts/ACE/noteRegistry/proxies/Proxy.sol
  packages/protocol/contracts/ACE/noteRegistry/proxies/UpgradeabilityProxy.sol
  packages/protocol/migrations/10_deploy_mixedFactory.js
  packages/protocol/migrations/8_deploy_convertibleFactory.js
  packages/protocol/migrations/9_deploy_adjustableFactory.js
  packages/protocol/test/ACE/NoteRegistry/NoteRegistryManager.js
  packages/protocol/test/ACE/NoteRegistry/epochs/201907/NoteRegistry.js
  packages/protocol/test/ACE/NoteRegistry/epochs/201907/NoteRegistryFactory.js
  packages/protocol/test/ACE/NoteRegistry/epochs/201907/Proxy.js
  packages/protocol/test/ACE/NoteRegistry/epochs/epochTests.js
  packages/protocol/test/ERC1724/ZkAssetBurnable.js
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
  packages/protocol/test/helpers/note.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(protocol): fix lint errors
  packages/protocol/contracts/ACE/noteRegistry/Manager.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/adjustable/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/adjustable/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/convertible/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/convertible/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/mixed/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/mixed/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/adjustable/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/convertible/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201908/mixed/Factory.sol
  packages/protocol/contracts/ACE/noteRegistry/interfaces/Behaviour.sol
  packages/protocol/contracts/ACE/noteRegistry/interfaces/ProxyAdmin.sol
  packages/protocol/contracts/ACE/noteRegistry/proxies/AdminUpgradeabilityProxy.sol
  packages/protocol/contracts/ACE/noteRegistry/proxies/BaseAdminUpgradeabilityProxy.sol
  packages/protocol/contracts/ACE/noteRegistry/proxies/BaseUpgradeabilityProxy.sol
  packages/protocol/contracts/ACE/noteRegistry/proxies/Proxy.sol
  packages/protocol/contracts/ACE/noteRegistry/proxies/UpgradeabilityProxy.sol
  packages/protocol/migrations/10_deploy_mixedFactory.js
  packages/protocol/migrations/8_deploy_convertibleFactory.js
  packages/protocol/migrations/9_deploy_adjustableFactory.js
  packages/protocol/test/ACE/NoteRegistry/NoteRegistryManager.js
  packages/protocol/test/ACE/NoteRegistry/epochs/201907/NoteRegistry.js
  packages/protocol/test/ACE/NoteRegistry/epochs/201907/NoteRegistryFactory.js
  packages/protocol/test/ACE/NoteRegistry/epochs/201907/Proxy.js
  packages/protocol/test/ACE/NoteRegistry/epochs/epochTests.js
  packages/protocol/test/ERC1724/ZkAssetBurnable.js
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
  packages/protocol/test/helpers/note.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(protocol): fix lint issues + move customMetadata
  packages/aztec.js/src/note/utils.js
  packages/aztec.js/test/metaData/index.js
  packages/aztec.js/test/proof/joinSplit/index.js
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/ERC1724/ZkAssetAdjustable.js
  packages/protocol/test/ERC1724/ZkAssetMintable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(protocol): fix lint issues + move customMetadata
  packages/aztec.js/src/note/utils.js
  packages/aztec.js/test/metaData/index.js
  packages/aztec.js/test/proof/joinSplit/index.js
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/ERC1724/ZkAssetAdjustable.js
  packages/protocol/test/ERC1724/ZkAssetMintable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(protocol): align lint exceptions to prettier
  packages/aztec.js/src/note/utils.js
  packages/aztec.js/test/proof/joinSplit/index.js
  packages/protocol/test/ACE/ACEOwner.js
  packages/protocol/test/ACE/NoteRegistry.js
  packages/protocol/test/ERC1724/ZkAsset.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style(protocol): align lint exceptions to prettier
  packages/aztec.js/src/note/utils.js
  packages/aztec.js/test/proof/joinSplit/index.js
  packages/protocol/test/ACE/ACEOwner.js
  packages/protocol/test/ACE/NoteRegistry.js
  packages/protocol/test/ERC1724/ZkAsset.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(extension): separate tasks from demo files
  packages/extension/src/client/demo/burnable.js
  packages/extension/src/client/demo/mintable.js
  packages/extension/src/client/demo/ownable.js
  packages/extension/src/client/demo/tasks/deposit.js
  packages/extension/src/client/demo/tasks/send.js
  packages/extension/src/client/demo/tasks/withdraw.js
  packages/extension/src/client/services/Web3Service/index.js
Owners: none

refactor(extension): separate tasks from demo files
  packages/extension/src/client/demo/burnable.js
  packages/extension/src/client/demo/mintable.js
  packages/extension/src/client/demo/ownable.js
  packages/extension/src/client/demo/tasks/deposit.js
  packages/extension/src/client/demo/tasks/send.js
  packages/extension/src/client/demo/tasks/withdraw.js
  packages/extension/src/client/services/Web3Service/index.js
Owners: none

style(extension): adjust eslint rule for indent in switch statement
  packages/extension/.eslintrc.js
  packages/extension/src/background/services/GraphQLService/validators/validateDomainAccess.js
  packages/extension/src/background/tasks/acceptConnection.js
  packages/extension/src/background/utils/decorators.js
  packages/extension/src/utils/insertVariablesToGql.js
Owners: none

style(extension): adjust eslint rule for indent in switch statement
  packages/extension/.eslintrc.js
  packages/extension/src/background/services/GraphQLService/validators/validateDomainAccess.js
  packages/extension/src/background/tasks/acceptConnection.js
  packages/extension/src/background/utils/decorators.js
  packages/extension/src/utils/insertVariablesToGql.js
Owners: none

refactor(extension): allow to create new proofFactory by configs
  packages/extension/src/client/apis/Asset.js
  packages/extension/src/client/apis/assetProofFactory.js
  packages/extension/src/client/apis/utils/makeProofFactory.js
Owners: none

refactor(extension): allow to create new proofFactory by configs
  packages/extension/src/client/apis/Asset.js
  packages/extension/src/client/apis/assetProofFactory.js
  packages/extension/src/client/apis/utils/makeProofFactory.js
Owners: none

fix(extension): use transaction to create new notes if it is not empty
  packages/extension/src/client/apis/Asset.js
  packages/extension/src/client/apis/createNoteFromBalance/prove.js
Owners: none

fix(extension): use transaction to create new notes if it is not empty
  packages/extension/src/client/apis/Asset.js
  packages/extension/src/client/apis/createNoteFromBalance/prove.js
Owners: none

feat(extension): add private range proof apis to Note
  packages/extension/src/client/apis/Note.js
  packages/extension/src/client/apis/noteProofFactory.js
  packages/extension/src/client/apis/privateRange/prove.js
  packages/extension/src/client/apis/privateRange/send.js
  packages/extension/src/client/config/error.js
  packages/extension/src/client/demo/note.js
Owners: none

feat(extension): add private range proof apis to Note
  packages/extension/src/client/apis/Note.js
  packages/extension/src/client/apis/noteProofFactory.js
  packages/extension/src/client/apis/privateRange/prove.js
  packages/extension/src/client/apis/privateRange/send.js
  packages/extension/src/client/config/error.js
  packages/extension/src/client/demo/note.js
Owners: none

feat(extension): allow burn to accept either api note or aztec note
  packages/extension/src/client/apis/Asset.js
  packages/extension/src/client/apis/burn/prove.js
  packages/extension/src/client/apis/privateRange/prove.js
  packages/extension/src/client/apis/utils/toAztecNote.js
  packages/extension/src/client/demo/burnable.js
Owners: none

feat(extension): allow burn to accept either api note or aztec note
  packages/extension/src/client/apis/Asset.js
  packages/extension/src/client/apis/burn/prove.js
  packages/extension/src/client/apis/privateRange/prove.js
  packages/extension/src/client/apis/utils/toAztecNote.js
  packages/extension/src/client/demo/burnable.js
Owners: none

fix(extension): use ZkAssetOwnable in ownable demo
  packages/extension/src/client/demo/ownable.js
Owners: none

fix(extension): use ZkAssetOwnable in ownable demo
  packages/extension/src/client/demo/ownable.js
Owners: none

build(monorepo-scripts): update contract deployment names
  packages/monorepo-scripts/addresses/update.js
  packages/monorepo-scripts/artifacts/build.js
Owners: @PaulRBerg

build(monorepo-scripts): update contract deployment names
  packages/monorepo-scripts/addresses/update.js
  packages/monorepo-scripts/artifacts/build.js
Owners: @PaulRBerg

refactor(extension): no need to pass requestId to GraphQLService
  packages/extension/src/background/services/GraphQLService/index.js
  packages/extension/src/background/tasks/acceptConnection.js
Owners: none

refactor(extension): no need to pass requestId to GraphQLService
  packages/extension/src/background/services/GraphQLService/index.js
  packages/extension/src/background/tasks/acceptConnection.js
Owners: none

feat(extension): allow to listen to asset balance changes
  packages/extension/src/client/apis/Asset.js
  packages/extension/src/client/utils/subscribeToContentScript.js
  packages/extension/src/config/event.js
  packages/extension/src/content/tasks/listenMessagesFromClient.js
  packages/extension/src/content/utils/delay.js
  packages/extension/src/content/utils/postToClientScript.js
  packages/extension/src/content/utils/subscribeToBackgroundScript.js
Owners: none

feat(extension): allow to listen to asset balance changes
  packages/extension/src/client/apis/Asset.js
  packages/extension/src/client/utils/subscribeToContentScript.js
  packages/extension/src/config/event.js
  packages/extension/src/content/tasks/listenMessagesFromClient.js
  packages/extension/src/content/utils/delay.js
  packages/extension/src/content/utils/postToClientScript.js
  packages/extension/src/content/utils/subscribeToBackgroundScript.js
Owners: none
