Repository rh0108/ethereum-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PaulRBerg, @zac-williamson, @thomas-waite

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

.circleci                       @PaulRBerg
packages/aztec.js               @zac-williamson @PaulRBerg @thomas-waite
packages/contract-addresses     @PaulRBerg
packages/contract-artifacts     @PaulRBerg
packages/dev-utils              @PaulRBerg @thomas-waite
packages/monorepo-scripts       @PaulRBerg
packages/protocol               @zac-williamson @PaulRBerg @thomas-waite
packages/huff                   @zac-williamson
packages/weierstrudel           @zac-williamson

feat(extension): allow to add multiple access when creating note
  packages/extension/src/client/demo/note.js
  packages/extension/src/utils/__tests__/note.spec.js
  packages/extension/src/utils/note/createNote.js
  packages/extension/tests/helpers/testData.js
Owners: none

feat(extension): allow to add multiple access when creating note
  packages/extension/src/client/demo/note.js
  packages/extension/src/utils/__tests__/note.spec.js
  packages/extension/src/utils/note/createNote.js
  packages/extension/tests/helpers/testData.js
Owners: none

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/Swap.json
Owners: @PaulRBerg

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/Swap.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

build: update yarn.lock
  yarn.lock
Owners: none

build: update yarn.lock
  yarn.lock
Owners: none

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/Swap.json
Owners: @PaulRBerg

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/Swap.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

fix(extension): fixed coping build contracts with networks
  packages/graph/scripts/tasks/copy.js
Owners: none

fix(extension): fixed coping build contracts with networks
  packages/graph/scripts/tasks/copy.js
Owners: none

feat(extension): implemented syncing and decodicg notes
  packages/extension/src/background/config/contracts.js
  packages/extension/src/background/database/models/note/index.js
  packages/extension/src/background/services/GraphQLService/validators/validateAccount.js
  packages/extension/src/background/services/Web3Service/eth/abi/index.js
  packages/extension/src/background/services/Web3Service/eth/index.js
  packages/extension/src/background/services/Web3Service/index.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/fetchCreateNoteRegistries.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/helpers/SyncManager.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/index.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/__tests__/createOrUpdateNote.spec.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/addNote/createNote.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/addNote/index.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/decodeNoteLogs.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/fetchNotes.js
  packages/extension/src/background/services/eventsSyncServices/RegisterExtensionSyncService/utils/fetchRegisterExtensions.js
  packages/extension/src/background/tasks/init.js
  packages/extension/src/config/contracts.js
  packages/extension/src/utils/groupBy.js
  packages/graph/subgraph.yaml
Owners: none

feat(extension): implemented syncing and decodicg notes
  packages/extension/src/background/config/contracts.js
  packages/extension/src/background/database/models/note/index.js
  packages/extension/src/background/services/GraphQLService/validators/validateAccount.js
  packages/extension/src/background/services/Web3Service/eth/abi/index.js
  packages/extension/src/background/services/Web3Service/eth/index.js
  packages/extension/src/background/services/Web3Service/index.js
  packages/extension/src/background/services/eventsSyncServices/NoteRegistrySyncService/utils/fetchCreateNoteRegistries.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/helpers/SyncManager.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/index.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/__tests__/createOrUpdateNote.spec.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/addNote/createNote.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/addNote/index.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/decodeNoteLogs.js
  packages/extension/src/background/services/eventsSyncServices/NoteSyncService/utils/fetchNotes.js
  packages/extension/src/background/services/eventsSyncServices/RegisterExtensionSyncService/utils/fetchRegisterExtensions.js
  packages/extension/src/background/tasks/init.js
  packages/extension/src/config/contracts.js
  packages/extension/src/utils/groupBy.js
  packages/graph/subgraph.yaml
Owners: none

build(deps-dev): bump @semantic-release/npm from 5.1.13 to 5.1.15
  yarn.lock
Owners: none

build(deps-dev): bump @semantic-release/npm from 5.1.13 to 5.1.15
  yarn.lock
Owners: none

build(deps-dev): bump truffle-hdwallet-provider from 1.0.16 to 1.0.17
  packages/protocol/package.json
  yarn.lock
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

build(deps-dev): bump truffle-hdwallet-provider from 1.0.16 to 1.0.17
  packages/protocol/package.json
  yarn.lock
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

build(deps-dev): bump @semantic-release/github from 5.4.2 to 5.4.3
  yarn.lock
Owners: none

build(deps-dev): bump @semantic-release/github from 5.4.2 to 5.4.3
  yarn.lock
Owners: none

build(deps-dev): bump nyc from 13.3.0 to 14.1.1
  packages/aztec.js/package.json
  yarn.lock
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

build(deps-dev): bump nyc from 13.3.0 to 14.1.1
  packages/aztec.js/package.json
  yarn.lock
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

build(deps-dev): bump eslint-loader from 2.2.1 to 3.0.0
  packages/aztec.js/package.json
  yarn.lock
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

build(deps-dev): bump eslint-loader from 2.2.1 to 3.0.0
  packages/aztec.js/package.json
  yarn.lock
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

build(deps-dev): bump ganache-cli from 6.5.1 to 6.6.0
  yarn.lock
Owners: none

build(deps-dev): bump ganache-cli from 6.5.1 to 6.6.0
  yarn.lock
Owners: none
