Repository rh0108/ethereum-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PaulRBerg, @zac-williamson, @thomas-waite

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

.circleci                       @PaulRBerg
packages/aztec.js               @zac-williamson @PaulRBerg @thomas-waite
packages/contract-addresses     @PaulRBerg
packages/contract-artifacts     @PaulRBerg
packages/dev-utils              @PaulRBerg @thomas-waite
packages/monorepo-scripts       @PaulRBerg
packages/protocol               @zac-williamson @PaulRBerg @thomas-waite
packages/huff                   @zac-williamson
packages/weierstrudel           @zac-williamson

fix(aztec.js): hash both proof output and proof outputs
  packages/aztec.js/src/proof/dividend/index.js
  packages/aztec.js/src/proof/joinSplit/index.js
  packages/aztec.js/src/proof/joinSplitFluid/burn/index.js
  packages/aztec.js/src/proof/joinSplitFluid/index.js
  packages/aztec.js/src/proof/proof.js
  packages/aztec.js/src/proof/swap/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): migrate NoteUtils to latest proof construction
  packages/protocol/test/libs/NoteUtils.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): migrate NoteUtils to latest proof construction
  packages/protocol/test/libs/NoteUtils.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(aztec.js): call both encodeProofOutput and encodeProofOutputs
  packages/aztec.js/src/proof/joinSplitFluid/index.js
  packages/aztec.js/src/proof/proof.js
  packages/aztec.js/src/proof/swap/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(aztec.js): call both encodeProofOutput and encodeProofOutputs
  packages/aztec.js/src/proof/joinSplitFluid/index.js
  packages/aztec.js/src/proof/proof.js
  packages/aztec.js/src/proof/swap/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): use eth.outputs instead of eth.output
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/ACEJoinSplitFluid.js
  packages/protocol/test/ACE/NoteRegistry.js
  packages/protocol/test/ACE/validators/dividend/abiEncoder.js
  packages/protocol/test/ACE/validators/dividend/index.js
  packages/protocol/test/ACE/validators/joinSplit/abiEncoder.js
  packages/protocol/test/ACE/validators/joinSplit/index.js
  packages/protocol/test/ACE/validators/joinSplitFluid/abiEncoder.js
  packages/protocol/test/ACE/validators/joinSplitFluid/index.js
  packages/protocol/test/ACE/validators/swap/abiEncoder.js
  packages/protocol/test/ACE/validators/swap/index.js
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/ERC1724/ZkAssetBurnable.js
  packages/protocol/test/ERC1724/ZkAssetMintable.js
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): use eth.outputs instead of eth.output
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/ACEJoinSplitFluid.js
  packages/protocol/test/ACE/NoteRegistry.js
  packages/protocol/test/ACE/validators/dividend/abiEncoder.js
  packages/protocol/test/ACE/validators/dividend/index.js
  packages/protocol/test/ACE/validators/joinSplit/abiEncoder.js
  packages/protocol/test/ACE/validators/joinSplit/index.js
  packages/protocol/test/ACE/validators/joinSplitFluid/abiEncoder.js
  packages/protocol/test/ACE/validators/joinSplitFluid/index.js
  packages/protocol/test/ACE/validators/swap/abiEncoder.js
  packages/protocol/test/ACE/validators/swap/index.js
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/ERC1724/ZkAssetBurnable.js
  packages/protocol/test/ERC1724/ZkAssetMintable.js
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style: fix linting issues
  packages/aztec.js/src/proof/proof.js
  packages/protocol/test/ACE/ACEJoinSplitFluid.js
  packages/protocol/test/ACE/NoteRegistry.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style: fix linting issues
  packages/aztec.js/src/proof/proof.js
  packages/protocol/test/ACE/ACEJoinSplitFluid.js
  packages/protocol/test/ACE/NoteRegistry.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

docs(aztec.js): add more comments
  packages/aztec.js/src/note/index.js
  packages/aztec.js/src/proof/dividend/index.js
  packages/aztec.js/src/proof/dividend/verifier.js
  packages/aztec.js/src/proof/joinSplitFluid/index.js
  packages/aztec.js/src/proof/proof.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

docs(aztec.js): add more comments
  packages/aztec.js/src/note/index.js
  packages/aztec.js/src/proof/dividend/index.js
  packages/aztec.js/src/proof/dividend/verifier.js
  packages/aztec.js/src/proof/joinSplitFluid/index.js
  packages/aztec.js/src/proof/proof.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix: allow unclean git when publishing docs
  packages/aztec.js/package.json
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix: allow unclean git when publishing docs
  packages/aztec.js/package.json
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/AdjustSupply.json
  packages/contract-artifacts/artifacts/AdjustSupplyABIEncoder.json
  packages/contract-artifacts/artifacts/AdjustSupplyInterface.json
  packages/contract-artifacts/artifacts/BilateralSwap.json
  packages/contract-artifacts/artifacts/BilateralSwapABIEncoder.json
  packages/contract-artifacts/artifacts/BilateralSwapInterface.json
  packages/contract-artifacts/artifacts/Dividend.json
  packages/contract-artifacts/artifacts/DividendABIEncoder.json
  packages/contract-artifacts/artifacts/DividendComputation.json
  packages/contract-artifacts/artifacts/DividendComputationABIEncoder.json
  packages/contract-artifacts/artifacts/DividendComputationInterface.json
  packages/contract-artifacts/artifacts/DividendInterface.json
  packages/contract-artifacts/artifacts/JoinSplitFluid.json
  packages/contract-artifacts/artifacts/JoinSplitFluidABIEncoder.json
  packages/contract-artifacts/artifacts/JoinSplitFluidInterface.json
  packages/contract-artifacts/artifacts/PrivateRange.json
  packages/contract-artifacts/artifacts/PrivateRangeABIEncoder.json
  packages/contract-artifacts/artifacts/PrivateRangeInterface.json
  packages/contract-artifacts/artifacts/Swap.json
  packages/contract-artifacts/artifacts/SwapABIEncoder.json
  packages/contract-artifacts/artifacts/SwapInterface.json
Owners: @PaulRBerg

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/AdjustSupply.json
  packages/contract-artifacts/artifacts/AdjustSupplyABIEncoder.json
  packages/contract-artifacts/artifacts/AdjustSupplyInterface.json
  packages/contract-artifacts/artifacts/BilateralSwap.json
  packages/contract-artifacts/artifacts/BilateralSwapABIEncoder.json
  packages/contract-artifacts/artifacts/BilateralSwapInterface.json
  packages/contract-artifacts/artifacts/Dividend.json
  packages/contract-artifacts/artifacts/DividendABIEncoder.json
  packages/contract-artifacts/artifacts/DividendComputation.json
  packages/contract-artifacts/artifacts/DividendComputationABIEncoder.json
  packages/contract-artifacts/artifacts/DividendComputationInterface.json
  packages/contract-artifacts/artifacts/DividendInterface.json
  packages/contract-artifacts/artifacts/JoinSplitFluid.json
  packages/contract-artifacts/artifacts/JoinSplitFluidABIEncoder.json
  packages/contract-artifacts/artifacts/JoinSplitFluidInterface.json
  packages/contract-artifacts/artifacts/PrivateRange.json
  packages/contract-artifacts/artifacts/PrivateRangeABIEncoder.json
  packages/contract-artifacts/artifacts/PrivateRangeInterface.json
  packages/contract-artifacts/artifacts/Swap.json
  packages/contract-artifacts/artifacts/SwapABIEncoder.json
  packages/contract-artifacts/artifacts/SwapInterface.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(extension): working test db script
  packages/extension/client/manifest.json
  packages/extension/client/pages/background.html
  packages/extension/client/scripts/background.js
  packages/extension/client/scripts/contentScript.js
  packages/extension/client/services/SyncService/index.js
  packages/extension/client/services/SyncService/index.spec.js
  packages/extension/client/services/helpers/storage.js
  packages/extension/client/services/helpers/storage.spec.js
  packages/extension/package.json
  packages/extension/webpack.dev.js
Owners: none

feat(extension): working test db script
  packages/extension/client/manifest.json
  packages/extension/client/pages/background.html
  packages/extension/client/scripts/background.js
  packages/extension/client/scripts/contentScript.js
  packages/extension/client/services/SyncService/index.js
  packages/extension/client/services/SyncService/index.spec.js
  packages/extension/client/services/helpers/storage.js
  packages/extension/client/services/helpers/storage.spec.js
  packages/extension/package.json
  packages/extension/webpack.dev.js
Owners: none

feat(bn128): initial commit
  packages/bn128/README.md
  packages/bn128/package.json
  packages/bn128/src/decodePoint.js
  packages/bn128/src/index.js
  packages/bn128/src/mcl/mcl.js
  packages/bn128/src/mcl/mcl_c.js
  packages/bn128/src/mcl/mcl_c.wasm
  packages/bn128/src/mcl/mcl_c512.js
  packages/bn128/src/mcl/mcl_c512.wasm
  packages/bn128/test/bn128/index.js
  packages/bn128/webpack.common.js
  packages/bn128/webpack.dev.js
  packages/bn128/webpack.prod.js
  yarn.lock
Owners: none

refactor(dev-utils): move bn128 constants to the new eponymous package
  packages/dev-utils/src/constants.js
Owners: @PaulRBerg, @thomas-waite

refactor(protocol): use new bn128 package
  packages/protocol/migrations/2_deploy_ace.js
  packages/protocol/package.json
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/ACEJoinSplitFluid.js
  packages/protocol/test/ACE/NoteRegistry.js
  packages/protocol/test/ACE/validators/dividend/abiEncoder.js
  packages/protocol/test/ACE/validators/dividend/index.js
  packages/protocol/test/ACE/validators/joinSplit/abiEncoder.js
  packages/protocol/test/ACE/validators/joinSplit/index.js
  packages/protocol/test/ACE/validators/joinSplitFluid/abiEncoder.js
  packages/protocol/test/ACE/validators/joinSplitFluid/index.js
  packages/protocol/test/ACE/validators/swap/abiEncoder.js
  packages/protocol/test/ACE/validators/swap/index.js
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/ERC1724/ZkAssetBurnable.js
  packages/protocol/test/ERC1724/ZkAssetMintable.js
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
  packages/protocol/test/helpers/proof.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

chore: update yarn.lock
  yarn.lock
Owners: none

fix(bn128): add missing copy plugin to webpack config
  packages/bn128/webpack.common.js
Owners: none

docs(bn128): update README
  packages/bn128/README.md
Owners: none

refactor(dev-utils): move bn128 constants to the new eponymous package
  packages/dev-utils/src/constants.js
Owners: @PaulRBerg, @thomas-waite

feat(bn128): initial commit
  packages/bn128/README.md
  packages/bn128/package.json
  packages/bn128/src/decodePoint.js
  packages/bn128/src/index.js
  packages/bn128/src/mcl/mcl.js
  packages/bn128/src/mcl/mcl_c.js
  packages/bn128/src/mcl/mcl_c.wasm
  packages/bn128/src/mcl/mcl_c512.js
  packages/bn128/src/mcl/mcl_c512.wasm
  packages/bn128/test/bn128/index.js
  packages/bn128/webpack.common.js
  packages/bn128/webpack.dev.js
  packages/bn128/webpack.prod.js
  yarn.lock
Owners: none

feat(bn128): initial commit
  packages/bn128/README.md
  packages/bn128/package.json
  packages/bn128/src/decodePoint.js
  packages/bn128/src/index.js
  packages/bn128/src/mcl/mcl.js
  packages/bn128/src/mcl/mcl_c.js
  packages/bn128/src/mcl/mcl_c.wasm
  packages/bn128/src/mcl/mcl_c512.js
  packages/bn128/src/mcl/mcl_c512.wasm
  packages/bn128/test/bn128/index.js
  packages/bn128/webpack.common.js
  packages/bn128/webpack.dev.js
  packages/bn128/webpack.prod.js
  yarn.lock
Owners: none

refactor(dev-utils): move bn128 constants to the new eponymous package
  packages/dev-utils/src/constants.js
Owners: @PaulRBerg, @thomas-waite

refactor(protocol): use new bn128 package
  packages/protocol/migrations/2_deploy_ace.js
  packages/protocol/package.json
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/ACEJoinSplitFluid.js
  packages/protocol/test/ACE/NoteRegistry.js
  packages/protocol/test/ACE/validators/dividend/abiEncoder.js
  packages/protocol/test/ACE/validators/dividend/index.js
  packages/protocol/test/ACE/validators/joinSplit/abiEncoder.js
  packages/protocol/test/ACE/validators/joinSplit/index.js
  packages/protocol/test/ACE/validators/joinSplitFluid/abiEncoder.js
  packages/protocol/test/ACE/validators/joinSplitFluid/index.js
  packages/protocol/test/ACE/validators/swap/abiEncoder.js
  packages/protocol/test/ACE/validators/swap/index.js
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/ERC1724/ZkAssetBurnable.js
  packages/protocol/test/ERC1724/ZkAssetMintable.js
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
  packages/protocol/test/helpers/proof.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(protocol): use new bn128 package
  packages/protocol/migrations/2_deploy_ace.js
  packages/protocol/package.json
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/ACEJoinSplitFluid.js
  packages/protocol/test/ACE/NoteRegistry.js
  packages/protocol/test/ACE/validators/dividend/abiEncoder.js
  packages/protocol/test/ACE/validators/dividend/index.js
  packages/protocol/test/ACE/validators/joinSplit/abiEncoder.js
  packages/protocol/test/ACE/validators/joinSplit/index.js
  packages/protocol/test/ACE/validators/joinSplitFluid/abiEncoder.js
  packages/protocol/test/ACE/validators/joinSplitFluid/index.js
  packages/protocol/test/ACE/validators/swap/abiEncoder.js
  packages/protocol/test/ACE/validators/swap/index.js
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/ERC1724/ZkAssetBurnable.js
  packages/protocol/test/ERC1724/ZkAssetMintable.js
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
  packages/protocol/test/helpers/proof.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

chore: update yarn.lock
  yarn.lock
Owners: none

fix(bn128): add missing copy plugin to webpack config
  packages/bn128/webpack.common.js
Owners: none

fix(bn128): add missing copy plugin to webpack config
  packages/bn128/webpack.common.js
Owners: none

chore: update yarn.lock
  yarn.lock
Owners: none

docs(bn128): update README
  packages/bn128/README.md
Owners: none

docs(bn128): update README
  packages/bn128/README.md
Owners: none

chore: remove unused variables
  packages/aztec.js/test/proof/joinSplit/verifier.js
  packages/protocol/test/ACE/ACEJoinSplitFluid.js
  packages/protocol/test/ACE/validators/joinSplit/index.js
  packages/protocol/test/ACE/validators/joinSplitFluid/index.js
  packages/protocol/test/ACE/validators/swap/index.js
  packages/protocol/test/ERC1724/ZkAssetBurnable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

chore: remove unused variables
  packages/aztec.js/test/proof/joinSplit/verifier.js
  packages/protocol/test/ACE/ACEJoinSplitFluid.js
  packages/protocol/test/ACE/validators/joinSplit/index.js
  packages/protocol/test/ACE/validators/joinSplitFluid/index.js
  packages/protocol/test/ACE/validators/swap/index.js
  packages/protocol/test/ERC1724/ZkAssetBurnable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(extension): wip keyvault curve25519 encryption
  packages/extension/.babelrc
  packages/extension/bable.config.js
  packages/extension/client/images/icons/icon-128.png
  packages/extension/client/images/icons/icon-16.png
  packages/extension/client/images/icons/icon-32.png
  packages/extension/client/manifest.json
  packages/extension/client/pages/background.html
  packages/extension/client/scripts/background.js
  packages/extension/client/scripts/contentScript.js
  packages/extension/client/scripts/injected.js
  packages/extension/client/services/GraphQl/index.js
  packages/extension/client/services/GraphQl/resolvers.js
  packages/extension/client/services/GraphQl/resolversMessages.js
  packages/extension/client/services/GraphQl/schema.graphql
  packages/extension/client/services/GraphQl/schema.js
  packages/extension/client/services/KeyVault/addrprivkey100.json
  packages/extension/client/services/KeyVault/index.js
  packages/extension/client/services/KeyVault/index.spec.js
  packages/extension/client/services/KeyVault/keystore.json
  packages/extension/client/services/SyncService/index.js
  packages/extension/client/services/SyncService/index.spec.js
  packages/extension/client/services/helpers/utils.js
  packages/extension/package.json
  packages/extension/webpack.dev.js
Owners: none
