Repository rh0108/ethereum-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PaulRBerg, @zac-williamson, @thomas-waite

build(deps-dev): bump @0x/subproviders from 4.0.5 to 4.0.6
  yarn.lock
Owners: none

build(deps-dev): bump babel-loader from 8.0.5 to 8.0.6
  yarn.lock
Owners: none

build(deps-dev): bump babel-loader from 8.0.5 to 8.0.6
  yarn.lock
Owners: none

build(deps-dev): bump webpack from 4.30.0 to 4.31.0
  yarn.lock
Owners: none

build(deps-dev): bump webpack from 4.30.0 to 4.31.0
  yarn.lock
Owners: none

refactor(aztec.js): move signNote() function into signer module
  packages/aztec.js/src/signer/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): move signNote() function into signer module
  packages/aztec.js/src/signer/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): update tests to use signNote() from signer module
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
  packages/protocol/test/libs/LibEIP712.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): update tests to use signNote() from signer module
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
  packages/protocol/test/libs/LibEIP712.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): split signNote() into two domain dependent functions
  packages/aztec.js/src/signer/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style: apply eslint and prettier changes
  packages/aztec.js/src/signer/index.js
  packages/protocol/test/libs/LibEIP712.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style: apply eslint and prettier changes
  packages/aztec.js/src/signer/index.js
  packages/protocol/test/libs/LibEIP712.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): split signNote() into two domain dependent functions
  packages/aztec.js/src/signer/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor: generateAZTECDomainParams() -> generateACEDomainParams()
  packages/aztec.js/src/signer/index.js
  packages/aztec.js/test/signer/signer.js
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
  packages/protocol/test/libs/LibEIP712.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor: generateAZTECDomainParams() -> generateACEDomainParams()
  packages/aztec.js/src/signer/index.js
  packages/aztec.js/test/signer/signer.js
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
  packages/protocol/test/libs/LibEIP712.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): rename signNoteZkAssetDomain() to signNote()
  packages/aztec.js/src/signer/index.js
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
  packages/protocol/test/libs/LibEIP712.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): rename signNoteZkAssetDomain() to signNote()
  packages/aztec.js/src/signer/index.js
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
  packages/protocol/test/libs/LibEIP712.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): add small local trusted setup database
  packages/aztec.js/test/localSetupDatabase/config.json
  packages/aztec.js/test/localSetupDatabase/data1000447.dat
  packages/aztec.js/test/localSetupDatabase/data1001471.dat
  packages/aztec.js/test/localSetupDatabase/data1002495.dat
  packages/aztec.js/test/localSetupDatabase/data1003519.dat
  packages/aztec.js/test/localSetupDatabase/data1004543.dat
  packages/aztec.js/test/localSetupDatabase/data1005567.dat
  packages/aztec.js/test/localSetupDatabase/data1006591.dat
  packages/aztec.js/test/localSetupDatabase/data1007615.dat
  packages/aztec.js/test/localSetupDatabase/data1008639.dat
  packages/aztec.js/test/localSetupDatabase/data1009663.dat
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): add small local trusted setup database
  packages/aztec.js/test/localSetupDatabase/config.json
  packages/aztec.js/test/localSetupDatabase/data1000447.dat
  packages/aztec.js/test/localSetupDatabase/data1001471.dat
  packages/aztec.js/test/localSetupDatabase/data1002495.dat
  packages/aztec.js/test/localSetupDatabase/data1003519.dat
  packages/aztec.js/test/localSetupDatabase/data1004543.dat
  packages/aztec.js/test/localSetupDatabase/data1005567.dat
  packages/aztec.js/test/localSetupDatabase/data1006591.dat
  packages/aztec.js/test/localSetupDatabase/data1007615.dat
  packages/aztec.js/test/localSetupDatabase/data1008639.dat
  packages/aztec.js/test/localSetupDatabase/data1009663.dat
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(aztec.js): add local test base initialiser
  packages/aztec.js/test/initDatabase.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(aztec.js): add local test base initialiser
  packages/aztec.js/test/initDatabase.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): add NODE_ENV=TEST variable to package.json
  packages/aztec.js/package.json
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): add NODE_ENV=TEST variable to package.json
  packages/aztec.js/package.json
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): further data, required for viewing key test
  packages/aztec.js/test/localSetupDatabase/data11263.dat
  packages/aztec.js/test/localSetupDatabase/data12287.dat
  packages/aztec.js/test/localSetupDatabase/data13311.dat
  packages/aztec.js/test/localSetupDatabase/data14335.dat
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): add database files in range 0 -> 10240
  packages/aztec.js/test/localSetupDatabase/data1000447.dat
  packages/aztec.js/test/localSetupDatabase/data1001471.dat
  packages/aztec.js/test/localSetupDatabase/data1002495.dat
  packages/aztec.js/test/localSetupDatabase/data1003519.dat
  packages/aztec.js/test/localSetupDatabase/data1004543.dat
  packages/aztec.js/test/localSetupDatabase/data1005567.dat
  packages/aztec.js/test/localSetupDatabase/data1006591.dat
  packages/aztec.js/test/localSetupDatabase/data1007615.dat
  packages/aztec.js/test/localSetupDatabase/data1008639.dat
  packages/aztec.js/test/localSetupDatabase/data1009663.dat
  packages/aztec.js/test/localSetupDatabase/data1023.dat
  packages/aztec.js/test/localSetupDatabase/data10239.dat
  packages/aztec.js/test/localSetupDatabase/data2047.dat
  packages/aztec.js/test/localSetupDatabase/data3071.dat
  packages/aztec.js/test/localSetupDatabase/data4095.dat
  packages/aztec.js/test/localSetupDatabase/data5119.dat
  packages/aztec.js/test/localSetupDatabase/data6143.dat
  packages/aztec.js/test/localSetupDatabase/data7167.dat
  packages/aztec.js/test/localSetupDatabase/data8191.dat
  packages/aztec.js/test/localSetupDatabase/data9215.dat
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): add database files in range 0 -> 10240
  packages/aztec.js/test/localSetupDatabase/data1000447.dat
  packages/aztec.js/test/localSetupDatabase/data1001471.dat
  packages/aztec.js/test/localSetupDatabase/data1002495.dat
  packages/aztec.js/test/localSetupDatabase/data1003519.dat
  packages/aztec.js/test/localSetupDatabase/data1004543.dat
  packages/aztec.js/test/localSetupDatabase/data1005567.dat
  packages/aztec.js/test/localSetupDatabase/data1006591.dat
  packages/aztec.js/test/localSetupDatabase/data1007615.dat
  packages/aztec.js/test/localSetupDatabase/data1008639.dat
  packages/aztec.js/test/localSetupDatabase/data1009663.dat
  packages/aztec.js/test/localSetupDatabase/data1023.dat
  packages/aztec.js/test/localSetupDatabase/data10239.dat
  packages/aztec.js/test/localSetupDatabase/data2047.dat
  packages/aztec.js/test/localSetupDatabase/data3071.dat
  packages/aztec.js/test/localSetupDatabase/data4095.dat
  packages/aztec.js/test/localSetupDatabase/data5119.dat
  packages/aztec.js/test/localSetupDatabase/data6143.dat
  packages/aztec.js/test/localSetupDatabase/data7167.dat
  packages/aztec.js/test/localSetupDatabase/data8191.dat
  packages/aztec.js/test/localSetupDatabase/data9215.dat
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): further data, required for viewing key test
  packages/aztec.js/test/localSetupDatabase/data11263.dat
  packages/aztec.js/test/localSetupDatabase/data12287.dat
  packages/aztec.js/test/localSetupDatabase/data13311.dat
  packages/aztec.js/test/localSetupDatabase/data14335.dat
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): override K_MAX dependent functions for local test
  packages/aztec.js/test/initDatabase.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): override K_MAX dependent functions for local test
  packages/aztec.js/test/initDatabase.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): move K_MAX dependent helpers into proofUtils
  packages/aztec.js/src/proof/proofUtils.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): move K_MAX dependent helpers into proofUtils
  packages/aztec.js/src/proof/proofUtils.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(aztec.js): update majority of aztec.js tests
  packages/aztec.js/test/abiEncoder/encoderFactory.js
  packages/aztec.js/test/abiEncoder/outputCoder.js
  packages/aztec.js/test/proof/bilateralSwap/verifier.js
  packages/aztec.js/test/proof/dividendComputation/proof.js
  packages/aztec.js/test/proof/joinSplit/extractor.js
  packages/aztec.js/test/proof/joinSplit/proof.js
  packages/aztec.js/test/proof/joinSplit/verifier.js
  packages/aztec.js/test/setup/setup.js
  packages/dev-utils/src/constants.js
  packages/protocol/test/ACE/validators/bilateralSwap/index.js
  packages/protocol/test/ACE/validators/joinSplit/abiEncoder.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(aztec.js): update majority of aztec.js tests
  packages/aztec.js/test/abiEncoder/encoderFactory.js
  packages/aztec.js/test/abiEncoder/outputCoder.js
  packages/aztec.js/test/proof/bilateralSwap/verifier.js
  packages/aztec.js/test/proof/dividendComputation/proof.js
  packages/aztec.js/test/proof/joinSplit/extractor.js
  packages/aztec.js/test/proof/joinSplit/proof.js
  packages/aztec.js/test/proof/joinSplit/verifier.js
  packages/aztec.js/test/setup/setup.js
  packages/dev-utils/src/constants.js
  packages/protocol/test/ACE/validators/bilateralSwap/index.js
  packages/protocol/test/ACE/validators/joinSplit/abiEncoder.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(aztec.js): update TrustedSetup based tests to use test kMax andkMin
  packages/aztec.js/test/initDatabase.js
  packages/aztec.js/test/setup/setup.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(aztec.js): update TrustedSetup based tests to use test kMax andkMin
  packages/aztec.js/test/initDatabase.js
  packages/aztec.js/test/setup/setup.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(dev-utils): add TEST_K_MAX and TEST_K_MIN constants
  packages/dev-utils/src/constants.js
Owners: @PaulRBerg, @thomas-waite

refactor(dev-utils): add TEST_K_MAX and TEST_K_MIN constants
  packages/dev-utils/src/constants.js
Owners: @PaulRBerg, @thomas-waite

style: eslint fixes and prettier
  packages/aztec.js/test/abiEncoder/outputCoder.js
  packages/aztec.js/test/initDatabase.js
  packages/aztec.js/test/proof/joinSplit/extractor.js
  packages/aztec.js/test/proof/joinSplit/proof.js
  packages/aztec.js/test/proof/joinSplit/verifier.js
  packages/protocol/test/ACE/validators/joinSplit/abiEncoder.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

style: eslint fixes and prettier
  packages/aztec.js/test/abiEncoder/outputCoder.js
  packages/aztec.js/test/initDatabase.js
  packages/aztec.js/test/proof/joinSplit/extractor.js
  packages/aztec.js/test/proof/joinSplit/proof.js
  packages/aztec.js/test/proof/joinSplit/verifier.js
  packages/protocol/test/ACE/validators/joinSplit/abiEncoder.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix: minor import path fixes
  packages/aztec.js/test/proof/joinSplit/proof.js
  packages/protocol/test/initDatabase.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

.circleci                       @PaulRBerg
packages/aztec.js               @zac-williamson @PaulRBerg @thomas-waite
packages/contract-addresses     @PaulRBerg
packages/contract-artifacts     @PaulRBerg
packages/dev-utils              @PaulRBerg @thomas-waite
packages/monorepo-scripts       @PaulRBerg
packages/protocol               @zac-williamson @PaulRBerg @thomas-waite
packages/huff                   @zac-williamson
packages/weierstrudel           @zac-williamson
