Repository rh0108/ethereum-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PaulRBerg, @zac-williamson, @thomas-waite

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

.circleci                       @PaulRBerg
packages/aztec.js               @zac-williamson @PaulRBerg @thomas-waite
packages/contract-addresses     @PaulRBerg
packages/contract-artifacts     @PaulRBerg
packages/dev-utils              @PaulRBerg @thomas-waite
packages/monorepo-scripts       @PaulRBerg
packages/protocol               @zac-williamson @PaulRBerg @thomas-waite
packages/huff                   @zac-williamson
packages/weierstrudel           @zac-williamson

docs(protocol): add docs to ZkAssetBurnable contract
  packages/protocol/contracts/ERC1724/ZkAssetBurnable.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

docs(protocol): add docs to ZkAssetMintable contract
  packages/protocol/contracts/ERC1724/ZkAssetMintable.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

docs(protocol): document functions of contracts
  packages/protocol/contracts/ERC1724/ZkAssetBurnable.sol
  packages/protocol/contracts/ERC1724/ZkAssetMintable.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/ZkAssetBurnable.json
  packages/contract-artifacts/artifacts/ZkAssetMintable.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/kovan.json
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

fix(monorepo-scripts): add checks for non-CI envs
  packages/monorepo-scripts/addresses/update.js
  packages/monorepo-scripts/artifacts/build.js
Owners: @PaulRBerg

feat(aztec.js): allow owner parameter in note.create function
  packages/aztec.js/src/note/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): use the latest webpackified aztec.js
  packages/protocol/.jsdoc.json
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/ACEAdjustSupply.js
  packages/protocol/test/ACE/NoteRegistry.js
  packages/protocol/test/ACE/validators/bilateralSwap/abiEncoder.js
  packages/protocol/test/ACE/validators/bilateralSwap/index.js
  packages/protocol/test/ACE/validators/burn/abiEncoder.js
  packages/protocol/test/ACE/validators/burn/index.js
  packages/protocol/test/ACE/validators/dividendComputation/abiEncoder.js
  packages/protocol/test/ACE/validators/dividendComputation/index.js
  packages/protocol/test/ACE/validators/joinSplit/abiEncoder.js
  packages/protocol/test/ACE/validators/joinSplit/index.js
  packages/protocol/test/ACE/validators/mint/abiEncoder.js
  packages/protocol/test/ACE/validators/mint/index.js
  packages/protocol/test/ERC1724/ZkAsset.js
  packages/protocol/test/ERC1724/ZkAssetBurnable.js
  packages/protocol/test/ERC1724/ZkAssetMintable.js
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
  packages/protocol/test/libs/NoteUtils.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

chore: add dist to ignore files
  .eslintignore
  .gitignore
  .prettierignore
Owners: none

chore: remove "setupDatabase" from .jsdoc.json config files
  packages/contract-addresses/.jsdoc.json
  packages/dev-utils/.jsdoc.json
Owners: @PaulRBerg, @thomas-waite

build: update babel
  babel.config.js
  yarn.lock
Owners: none

style(protocol): apply prettier
  packages/protocol/test/ACE/validators/burn/abiEncoder.js
  packages/protocol/test/ACE/validators/mint/abiEncoder.js
  packages/protocol/test/ACE/validators/mint/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(aztec.js): build different webpack targets for node and web
  packages/aztec.js/package.json
  packages/aztec.js/src/bn128/mcl/mcl.js
  packages/aztec.js/src/bn128/mcl/mcl_c.js
  packages/aztec.js/src/bn128/mcl/mcl_c512.js
  packages/aztec.js/src/note/index.js
  packages/aztec.js/test/note/note.spec.js
  packages/aztec.js/webpack.common.js
  packages/aztec.js/webpack.dev.js
  packages/aztec.js/webpack.prod.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

chore: update yarn.lock for new webpack dependencies
  yarn.lock
Owners: none

refactor(protocol): remove .nyc-output from clean script
  packages/protocol/package.json
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

ci: add new build:prod script and step in circleci release job
  .circleci/config.yml
  package.json
  packages/aztec.js/src/note/index.js
  packages/contract-addresses/package.json
  packages/contract-artifacts/package.json
  packages/dev-utils/package.json
  packages/monorepo-scripts/package.json
Owners: @PaulRBerg, @zac-williamson, @thomas-waite

build(deps-dev): bump sinon from 7.3.1 to 7.3.2
  yarn.lock
Owners: none

fix(monorepo-scripts): branch name was wrong in artifact orchestration
  packages/monorepo-scripts/addresses/update.js
  packages/monorepo-scripts/artifacts/build.js
Owners: @PaulRBerg

build(deps-dev): bump eslint-plugin-import from 2.16.0 to 2.17.2
  yarn.lock
Owners: none

build(aztec.js): update wrong path to template in .jsdoc.json
  packages/aztec.js/.jsdoc.json
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

chore: remove unnecessary .jsdoc.json files
  packages/contract-addresses/.jsdoc.json
  packages/dev-utils/.jsdoc.json
  packages/protocol/.jsdoc.json
Owners: @PaulRBerg, @thomas-waite, @zac-williamson

feat(contract-artifacts): make repo isomorphic
  packages/contract-artifacts/src/index.js
Owners: @PaulRBerg

chore(contract-artifacts): remove the require-dir package
  packages/contract-artifacts/package.json
Owners: @PaulRBerg

build(deps-dev): bump @0x/sol-trace from 2.0.10 to 2.0.11
  yarn.lock
Owners: none

build(deps-dev): bump lerna from 3.13.1 to 3.13.4
  yarn.lock
Owners: none

build(deps-dev): bump webpack-cli from 3.3.0 to 3.3.1
  yarn.lock
Owners: none

build(deps-dev): bump mocha from 6.1.1 to 6.1.4
  yarn.lock
Owners: none

build(deps-dev): bump web3 from 1.0.0-beta.50 to 1.0.0-beta.52
  packages/protocol/package.json
  yarn.lock
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

build(deps-dev): bump truffle from 5.0.10 to 5.0.14
  packages/protocol/package.json
  yarn.lock
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

build(deps): bump web3-utils from 1.0.0-beta.50 to 1.0.0-beta.52
  packages/aztec.js/package.json
  packages/protocol/package.json
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

build(deps-dev): bump truffle-hdwallet-provider from 1.0.6 to 1.0.8
  yarn.lock
Owners: none

ci: refactor job order in circleci file
  .circleci/config.yml
Owners: @PaulRBerg

chore(protocol): remove kovan from truffle-config
  packages/protocol/package.json
  packages/protocol/truffle-config.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

build(monorepo-scripts): remove kovan from artifact orchestration
  packages/monorepo-scripts/addresses/update.js
  packages/monorepo-scripts/artifacts/orchestrate.sh
Owners: @PaulRBerg

feat(contract-addresses): remove kovan
  packages/contract-addresses/addresses/kovan.json
  packages/contract-addresses/src/index.js
  packages/protocol/truffle-config.js
Owners: @PaulRBerg, @zac-williamson, @thomas-waite

build(deps-dev): bump ganache-cli from 6.4.2 to 6.4.3
  yarn.lock
Owners: none

build(deps-dev): bump @0x/sol-coverage from 3.0.2 to 3.0.3
  yarn.lock
Owners: none

build(deps-dev): bump husky from 1.3.1 to 2.1.0
  package.json
  yarn.lock
Owners: none

ci(protocol): don't run the optimizer in coverage job
  packages/protocol/truffle-config.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

chore(monorepo-scripts): remove isomorphic-git dependency
  packages/monorepo-scripts/package.json
  yarn.lock
Owners: @PaulRBerg
