Repository rh0108/ethereum-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PaulRBerg, @zac-williamson, @thomas-waite

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

.circleci                       @PaulRBerg
packages/aztec.js               @zac-williamson @PaulRBerg @thomas-waite
packages/contract-addresses     @PaulRBerg
packages/contract-artifacts     @PaulRBerg
packages/dev-utils              @PaulRBerg @thomas-waite
packages/monorepo-scripts       @PaulRBerg
packages/protocol               @zac-williamson @PaulRBerg @thomas-waite
packages/huff                   @zac-williamson
packages/weierstrudel           @zac-williamson

feat(extension): allow to get nested model data by id
  packages/extension/src/database/helpers/Model/get.js
  packages/extension/src/database/helpers/__tests__/Model.spec.js
Owners: none

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/ACE.json
  packages/contract-artifacts/artifacts/Dividend.json
  packages/contract-artifacts/artifacts/JoinSplit.json
  packages/contract-artifacts/artifacts/JoinSplitFluid.json
  packages/contract-artifacts/artifacts/JoinSplitFluidInterface.json
  packages/contract-artifacts/artifacts/LibEIP712.json
  packages/contract-artifacts/artifacts/ProofUtils.json
  packages/contract-artifacts/artifacts/SafeMath8.json
  packages/contract-artifacts/artifacts/Swap.json
  packages/contract-artifacts/artifacts/ZkAsset.json
  packages/contract-artifacts/artifacts/ZkAssetBase.json
  packages/contract-artifacts/artifacts/ZkAssetBurnable.json
  packages/contract-artifacts/artifacts/ZkAssetDetailed.json
  packages/contract-artifacts/artifacts/ZkAssetMintable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnableBase.json
Owners: @PaulRBerg

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/ACE.json
  packages/contract-artifacts/artifacts/Dividend.json
  packages/contract-artifacts/artifacts/JoinSplit.json
  packages/contract-artifacts/artifacts/JoinSplitFluid.json
  packages/contract-artifacts/artifacts/JoinSplitFluidInterface.json
  packages/contract-artifacts/artifacts/LibEIP712.json
  packages/contract-artifacts/artifacts/ProofUtils.json
  packages/contract-artifacts/artifacts/SafeMath8.json
  packages/contract-artifacts/artifacts/Swap.json
  packages/contract-artifacts/artifacts/ZkAsset.json
  packages/contract-artifacts/artifacts/ZkAssetBase.json
  packages/contract-artifacts/artifacts/ZkAssetBurnable.json
  packages/contract-artifacts/artifacts/ZkAssetDetailed.json
  packages/contract-artifacts/artifacts/ZkAssetMintable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnableBase.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(graph): copy contracts to extension package
  packages/graph/scripts/tasks/copy.js
Owners: none

feat(graph): copy contracts to extension package
  packages/graph/scripts/tasks/copy.js
Owners: none

refactor: metacommit - work in progress
  packages/aztec.js/src/index.js
  packages/aztec.js/src/oldPrivateRange/index.js
  packages/aztec.js/src/oldPrivateRange/proofUtils.js
  packages/aztec.js/src/oldPrivateRange/verifier.js
  packages/aztec.js/src/proof/dividend/verifier.js
  packages/aztec.js/src/proof/index.js
  packages/aztec.js/src/proof/privateRange/index.js
  packages/aztec.js/src/proof/privateRange/verifier.js
  packages/aztec.js/src/proof/proof.js
  packages/aztec.js/src/proof/types.js
  packages/aztec.js/test/proof/privateRange/index.js
  packages/aztec.js/test/proof/privateRange/verifier.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor: metacommit - work in progress
  packages/aztec.js/src/index.js
  packages/aztec.js/src/oldPrivateRange/index.js
  packages/aztec.js/src/oldPrivateRange/proofUtils.js
  packages/aztec.js/src/oldPrivateRange/verifier.js
  packages/aztec.js/src/proof/dividend/verifier.js
  packages/aztec.js/src/proof/index.js
  packages/aztec.js/src/proof/privateRange/index.js
  packages/aztec.js/src/proof/privateRange/verifier.js
  packages/aztec.js/src/proof/proof.js
  packages/aztec.js/src/proof/types.js
  packages/aztec.js/test/proof/privateRange/index.js
  packages/aztec.js/test/proof/privateRange/verifier.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(dev-utils): add PRIVATE_RANGE_PROOF ID
  packages/dev-utils/src/proofs.js
Owners: @PaulRBerg, @thomas-waite

feat(dev-utils): add PRIVATE_RANGE_PROOF ID
  packages/dev-utils/src/proofs.js
Owners: @PaulRBerg, @thomas-waite

feat(aztec.js): implement privateRange proof JS code JS code for proof construction and verification
  packages/aztec.js/src/proof/privateRange/index.js
  packages/aztec.js/src/proof/privateRange/verifier.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(aztec.js): implement privateRange proof JS code JS code for proof construction and verification
  packages/aztec.js/src/proof/privateRange/index.js
  packages/aztec.js/src/proof/privateRange/verifier.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(aztec.js): implement tests for JS private range verifier
  packages/aztec.js/test/proof/privateRange/verifier.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(aztec.js): implement tests for JS private range verifier
  packages/aztec.js/test/proof/privateRange/verifier.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): implement privateRange proof smart contract verifier implement verifier and ABI encoder add interface
  packages/protocol/contracts/ACE/validators/privateRange/PrivateRange.sol
  packages/protocol/contracts/ACE/validators/privateRange/PrivateRangeABIEncoder.sol
  packages/protocol/contracts/interfaces/PrivateRangeInterface.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): implement privateRange proof smart contract verifier implement verifier and ABI encoder add interface
  packages/protocol/contracts/ACE/validators/privateRange/PrivateRange.sol
  packages/protocol/contracts/ACE/validators/privateRange/PrivateRangeABIEncoder.sol
  packages/protocol/contracts/interfaces/PrivateRangeInterface.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): tests for privateRange verifier contracts
  packages/protocol/contracts/test/ACE/validators/privateRange/PrivateRangeABIEncoderTest.sol
  packages/protocol/test/ACE/validators/privateRange/abiEncoder.js
  packages/protocol/test/ACE/validators/privateRange/index.js
  packages/protocol/test/helpers/proof.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): tests for privateRange verifier contracts
  packages/protocol/contracts/test/ACE/validators/privateRange/PrivateRangeABIEncoderTest.sol
  packages/protocol/test/ACE/validators/privateRange/abiEncoder.js
  packages/protocol/test/ACE/validators/privateRange/index.js
  packages/protocol/test/helpers/proof.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor: eslint fixes, remove unnecessary comments
  packages/aztec.js/src/proof/dividend/verifier.js
  packages/aztec.js/src/proof/privateRange/verifier.js
  packages/aztec.js/src/proof/proof.js
  packages/aztec.js/src/proof/types.js
  packages/protocol/contracts/ACE/validators/privateRange/PrivateRange.sol
  packages/protocol/contracts/ACE/validators/privateRange/PrivateRangeABIEncoder.sol
  packages/protocol/test/ACE/validators/dividend/abiEncoder.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor: eslint fixes, remove unnecessary comments
  packages/aztec.js/src/proof/dividend/verifier.js
  packages/aztec.js/src/proof/privateRange/verifier.js
  packages/aztec.js/src/proof/proof.js
  packages/aztec.js/src/proof/types.js
  packages/protocol/contracts/ACE/validators/privateRange/PrivateRange.sol
  packages/protocol/contracts/ACE/validators/privateRange/PrivateRangeABIEncoder.sol
  packages/protocol/test/ACE/validators/dividend/abiEncoder.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): remmove oldPrivateRange debugging files
  packages/aztec.js/src/index.js
  packages/aztec.js/src/oldPrivateRange/index.js
  packages/aztec.js/src/oldPrivateRange/proofUtils.js
  packages/aztec.js/src/oldPrivateRange/verifier.js
  packages/aztec.js/src/proof/privateRange/index.js
  packages/aztec.js/test/proof/privateRange/verifier.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

docs(aztec.js): add JSDoc for proof construction method
  packages/aztec.js/src/proof/privateRange/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): remmove oldPrivateRange debugging files
  packages/aztec.js/src/index.js
  packages/aztec.js/src/oldPrivateRange/index.js
  packages/aztec.js/src/oldPrivateRange/proofUtils.js
  packages/aztec.js/src/oldPrivateRange/verifier.js
  packages/aztec.js/src/proof/privateRange/index.js
  packages/aztec.js/test/proof/privateRange/verifier.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

docs(aztec.js): add JSDoc for proof construction method
  packages/aztec.js/src/proof/privateRange/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(dev-utils): add BALANCING_RELATIONSHIP_NOT_SATISFIED error code
  packages/aztec.js/src/proof/privateRange/index.js
  packages/dev-utils/src/errors.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(dev-utils): add BALANCING_RELATIONSHIP_NOT_SATISFIED error code
  packages/aztec.js/src/proof/privateRange/index.js
  packages/dev-utils/src/errors.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/PrivateRange.json
  packages/contract-artifacts/artifacts/PrivateRangeABIEncoder.json
  packages/contract-artifacts/artifacts/PrivateRangeInterface.json
Owners: @PaulRBerg

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/PrivateRange.json
  packages/contract-artifacts/artifacts/PrivateRangeABIEncoder.json
  packages/contract-artifacts/artifacts/PrivateRangeInterface.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(extension): use address model to keep shortened address key
  packages/extension/src/background/services/GraphQLService/resolvers/createNoteFromBalance.js
  packages/extension/src/background/services/SyncService/utils/addNote/createOrUpdateAccount.js
  packages/extension/src/background/services/SyncService/utils/addNote/getShortAddressKey.js
  packages/extension/src/background/services/SyncService/utils/addNote/index.js
  packages/extension/src/config/dataKey.js
  packages/extension/src/database/models/address/index.js
Owners: none

feat(extension): use address model to keep shortened address key
  packages/extension/src/background/services/GraphQLService/resolvers/createNoteFromBalance.js
  packages/extension/src/background/services/SyncService/utils/addNote/createOrUpdateAccount.js
  packages/extension/src/background/services/SyncService/utils/addNote/getShortAddressKey.js
  packages/extension/src/background/services/SyncService/utils/addNote/index.js
  packages/extension/src/config/dataKey.js
  packages/extension/src/database/models/address/index.js
Owners: none

feat(extension): don't save note access user doesn't own
  packages/extension/src/background/services/SyncService/helpers/SyncManager.js
  packages/extension/src/background/services/SyncService/index.js
Owners: none

feat(extension): don't save note access user doesn't own
  packages/extension/src/background/services/SyncService/helpers/SyncManager.js
  packages/extension/src/background/services/SyncService/index.js
Owners: none

fix(extension): cast lastSynced to number before incrementing
  packages/extension/src/background/services/SyncService/index.js
Owners: none

fix(extension): cast lastSynced to number before incrementing
  packages/extension/src/background/services/SyncService/index.js
Owners: none

feat(extension): add utils to generate random values
  packages/extension/jest.config.js
  packages/extension/src/background/services/AuthService/index.js
  packages/extension/src/client/utils/postToContentScript.js
  packages/extension/src/utils/__tests__/generateRandomId.spec.js
  packages/extension/src/utils/__tests__/random.spec.js
  packages/extension/src/utils/random/index.js
  packages/extension/src/utils/random/randomId.js
  packages/extension/src/utils/random/randomInt.js
  packages/extension/src/utils/random/randomSumArray.js
  packages/extension/test/setupGlobals.js
Owners: none

feat(extension): add utils to generate random values
  packages/extension/jest.config.js
  packages/extension/src/background/services/AuthService/index.js
  packages/extension/src/client/utils/postToContentScript.js
  packages/extension/src/utils/__tests__/generateRandomId.spec.js
  packages/extension/src/utils/__tests__/random.spec.js
  packages/extension/src/utils/random/index.js
  packages/extension/src/utils/random/randomId.js
  packages/extension/src/utils/random/randomInt.js
  packages/extension/src/utils/random/randomSumArray.js
  packages/extension/test/setupGlobals.js
Owners: none

feat(extension): add create note utils
  packages/extension/src/background/services/GraphQLService/resolvers/createNoteFromBalance.js
  packages/extension/src/utils/asyncMap.js
  packages/extension/src/utils/note/createNote.js
  packages/extension/src/utils/note/createNotes.js
  packages/extension/src/utils/note/index.js
Owners: none
