Repository rh0108/ethereum-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PaulRBerg, @zac-williamson, @thomas-waite

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

.circleci                       @PaulRBerg
packages/aztec.js               @zac-williamson @PaulRBerg @thomas-waite
packages/contract-addresses     @PaulRBerg
packages/contract-artifacts     @PaulRBerg
packages/dev-utils              @PaulRBerg @thomas-waite
packages/monorepo-scripts       @PaulRBerg
packages/protocol               @zac-williamson @PaulRBerg @thomas-waite
packages/huff                   @zac-williamson
packages/weierstrudel           @zac-williamson

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

fix: add dev tag to module docs to stop build fail
  packages/aztec.js/test/initDatabase.js
  packages/protocol/test/initDatabase.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix: add dev tag to module docs to stop build fail
  packages/aztec.js/test/initDatabase.js
  packages/protocol/test/initDatabase.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg

fix(aztec.js): push-dir script
  packages/aztec.js/package.json
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(aztec.js): push-dir script
  packages/aztec.js/package.json
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

build: remove yarn version spec from package.json
  package.json
  packages/aztec.js/package.json
  packages/contract-addresses/package.json
  packages/contract-artifacts/package.json
  packages/dev-utils/package.json
  packages/huff/package.json
  packages/monorepo-scripts/package.json
  packages/protocol/package.json
  packages/secp256k1/package.json
  packages/typed-data/package.json
  packages/weierstrudel/package.json
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

build: remove yarn version spec from package.json
  package.json
  packages/aztec.js/package.json
  packages/contract-addresses/package.json
  packages/contract-artifacts/package.json
  packages/dev-utils/package.json
  packages/huff/package.json
  packages/monorepo-scripts/package.json
  packages/protocol/package.json
  packages/secp256k1/package.json
  packages/typed-data/package.json
  packages/weierstrudel/package.json
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

chore(aztec.js): sync web3-utils version
  packages/aztec.js/package.json
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

chore(aztec.js): sync web3-utils version
  packages/aztec.js/package.json
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

chore: update yarn.lock
  yarn.lock
Owners: none

chore: update yarn.lock
  yarn.lock
Owners: none

feat(contract-artifacts): import PrivateRange contracts
  packages/contract-artifacts/src/index.js
Owners: @PaulRBerg

feat(contract-artifacts): import PrivateRange contracts
  packages/contract-artifacts/src/index.js
Owners: @PaulRBerg

revert(aztec.js): bring --remote=docs back to docs publish script
  packages/aztec.js/package.json
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

revert(aztec.js): bring --remote=docs back to docs publish script
  packages/aztec.js/package.json
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor: remove UTILITY_PROOF ID, add DIVIDEND ID
  packages/dev-utils/src/proofs.js
  packages/protocol/contracts/interfaces/IAZTEC.sol
Owners: @PaulRBerg, @thomas-waite, @zac-williamson

refactor: remove UTILITY_PROOF ID, add DIVIDEND ID
  packages/dev-utils/src/proofs.js
  packages/protocol/contracts/interfaces/IAZTEC.sol
Owners: @PaulRBerg, @thomas-waite, @zac-williamson

test(protocol): update tests with proofIDs
  packages/protocol/test/ACE/ACEAdjustSupply.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): update tests with proofIDs
  packages/protocol/test/ACE/ACEAdjustSupply.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): make POINTS_DB_URL editable
  packages/aztec.js/src/setup/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

refactor(aztec.js): make POINTS_DB_URL editable
  packages/aztec.js/src/setup/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

build(protocol): write privateRange migration script
  packages/protocol/migrations/8_deploy_private_range.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

build(protocol): write privateRange migration script
  packages/protocol/migrations/8_deploy_private_range.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(contract-artifacts): export new artifacts
  packages/contract-artifacts/src/index.js
Owners: @PaulRBerg

feat(contract-artifacts): export new artifacts
  packages/contract-artifacts/src/index.js
Owners: @PaulRBerg

build(monorepo-scripts): add PrivateRange to addresses and artifacts
  packages/monorepo-scripts/addresses/update.js
  packages/monorepo-scripts/artifacts/build.js
  packages/protocol/test/ACE/ACEAdjustSupply.js
Owners: @PaulRBerg, @zac-williamson, @thomas-waite

build(monorepo-scripts): add PrivateRange to addresses and artifacts
  packages/monorepo-scripts/addresses/update.js
  packages/monorepo-scripts/artifacts/build.js
  packages/protocol/test/ACE/ACEAdjustSupply.js
Owners: @PaulRBerg, @zac-williamson, @thomas-waite

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/ACE.json
  packages/contract-artifacts/artifacts/IAZTEC.json
  packages/contract-artifacts/artifacts/NoteRegistry.json
  packages/contract-artifacts/artifacts/PrivateRange.json
  packages/contract-artifacts/artifacts/ZkAsset.json
  packages/contract-artifacts/artifacts/ZkAssetBurnable.json
  packages/contract-artifacts/artifacts/ZkAssetDetailed.json
  packages/contract-artifacts/artifacts/ZkAssetMintable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnable.json
Owners: @PaulRBerg

feat(contract-artifacts): sync 🤖
  packages/contract-artifacts/artifacts/ACE.json
  packages/contract-artifacts/artifacts/IAZTEC.json
  packages/contract-artifacts/artifacts/NoteRegistry.json
  packages/contract-artifacts/artifacts/PrivateRange.json
  packages/contract-artifacts/artifacts/ZkAsset.json
  packages/contract-artifacts/artifacts/ZkAssetBurnable.json
  packages/contract-artifacts/artifacts/ZkAssetDetailed.json
  packages/contract-artifacts/artifacts/ZkAssetMintable.json
  packages/contract-artifacts/artifacts/ZkAssetOwnable.json
Owners: @PaulRBerg

feat(contract-addresses): sync 🤖
  packages/contract-addresses/addresses/rinkeby.json
  packages/contract-addresses/addresses/ropsten.json
Owners: @PaulRBerg
