Repository rh0108/ethereum-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PaulRBerg, @zac-williamson, @thomas-waite

feat(protocol): bring public token vars into manager
  packages/protocol/contracts/ACE/ACE.sol
  packages/protocol/contracts/ACE/noteRegistry/NoteRegistryManager.sol
  packages/protocol/test/ACE/NoteRegistry/NoteRegistryManager.js
  packages/protocol/test/ACE/NoteRegistry/epochs/201907/NoteRegistry.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): bring public token vars into manager
  packages/protocol/contracts/ACE/ACE.sol
  packages/protocol/contracts/ACE/noteRegistry/NoteRegistryManager.sol
  packages/protocol/test/ACE/NoteRegistry/NoteRegistryManager.js
  packages/protocol/test/ACE/NoteRegistry/epochs/201907/NoteRegistry.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): change location of logic and data for public tokens
  packages/protocol/contracts/ACE/noteRegistry/NoteRegistryManager.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/Behaviour201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/adjustable/BehaviourAdjustable201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/convertible/BehaviourConvertible201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/mixed/BehaviourMixed201907.sol
  packages/protocol/contracts/ACE/noteRegistry/interfaces/NoteRegistryBehaviour.sol
  packages/protocol/contracts/ERC1724/base/ZkAssetMintableBase.sol
  packages/protocol/test/ACE/NoteRegistry/epochs/201907/NoteRegistry.js
  packages/protocol/test/ACE/NoteRegistry/epochs/epochTests.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): change location of logic and data for public tokens
  packages/protocol/contracts/ACE/noteRegistry/NoteRegistryManager.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/Behaviour201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/adjustable/BehaviourAdjustable201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/convertible/BehaviourConvertible201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/mixed/BehaviourMixed201907.sol
  packages/protocol/contracts/ACE/noteRegistry/interfaces/NoteRegistryBehaviour.sol
  packages/protocol/contracts/ERC1724/base/ZkAssetMintableBase.sol
  packages/protocol/test/ACE/NoteRegistry/epochs/201907/NoteRegistry.js
  packages/protocol/test/ACE/NoteRegistry/epochs/epochTests.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): remove extraneous variable
  packages/protocol/contracts/ACE/noteRegistry/NoteRegistryManager.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): remove extraneous variable
  packages/protocol/contracts/ACE/noteRegistry/NoteRegistryManager.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(aztec.js): change exported artifacts
  packages/contract-artifacts/src/index.js
  packages/monorepo-scripts/addresses/update.js
Owners: @PaulRBerg

feat(protocol): simplify behaviours given new public token logic
  packages/protocol/contracts/ACE/noteRegistry/NoteRegistryManager.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/base/BehaviourBase201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/base/FactoryBase201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/convertible/FactoryConvertible201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/mixed/BehaviourMixed201907.sol
  packages/protocol/contracts/test/ACE/TestFactory.sol
  packages/protocol/migrations/10_deploy_mixedFactory.js
  packages/protocol/migrations/8_deploy_baseFactory.js
  packages/protocol/test/ACE/NoteRegistry/epochs/201907/NoteRegistry.js
  packages/protocol/test/ACE/NoteRegistry/epochs/201907/NoteRegistryFactory.js
  packages/protocol/test/ACE/NoteRegistry/epochs/epochTests.js
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(aztec.js): change exported artifacts
  packages/contract-artifacts/src/index.js
  packages/monorepo-scripts/addresses/update.js
Owners: @PaulRBerg

feat(protocol): simplify behaviours given new public token logic
  packages/protocol/contracts/ACE/noteRegistry/NoteRegistryManager.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/base/BehaviourBase201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/base/FactoryBase201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/convertible/FactoryConvertible201907.sol
  packages/protocol/contracts/ACE/noteRegistry/epochs/201907/mixed/BehaviourMixed201907.sol
  packages/protocol/contracts/test/ACE/TestFactory.sol
  packages/protocol/migrations/10_deploy_mixedFactory.js
  packages/protocol/migrations/8_deploy_baseFactory.js
  packages/protocol/test/ACE/NoteRegistry/epochs/201907/NoteRegistry.js
  packages/protocol/test/ACE/NoteRegistry/epochs/201907/NoteRegistryFactory.js
  packages/protocol/test/ACE/NoteRegistry/epochs/epochTests.js
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(aztec.js): add metaData field to note schema refactor setMetaData() function add exportMetaData() function
  packages/aztec.js/src/note/index.js
  packages/aztec.js/test/note/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(aztec.js): add metaData field to note schema refactor setMetaData() function add exportMetaData() function
  packages/aztec.js/src/note/index.js
  packages/aztec.js/test/note/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(aztec.js): fix metaData length calc in exportMetaData()
  packages/aztec.js/src/index.js
  packages/aztec.js/src/note/index.js
  packages/aztec.js/test/encoder/inputCoder.js
  packages/aztec.js/test/note/index.js
  packages/protocol/test/ACE/validators/joinSplit/abiEncoder.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(aztec.js): fix metaData length calc in exportMetaData()
  packages/aztec.js/src/index.js
  packages/aztec.js/src/note/index.js
  packages/aztec.js/test/encoder/inputCoder.js
  packages/aztec.js/test/note/index.js
  packages/protocol/test/ACE/validators/joinSplit/abiEncoder.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(aztec.js): migrate zkAsset tests to refactored metaData management
  packages/aztec.js/src/encoder/inputCoder.js
  packages/aztec.js/src/encoder/outputCoder.js
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/validators/swap/abiEncoder.js
  packages/protocol/test/ACE/validators/swap/index.js
  packages/protocol/test/ERC1724/ZkAsset.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(dev-utils): add META_DATA_TEST constant to dev-utils package
  packages/dev-utils/src/constants.js
Owners: @PaulRBerg, @thomas-waite

test(aztec.js): migrate zkAsset tests to refactored metaData management
  packages/aztec.js/src/encoder/inputCoder.js
  packages/aztec.js/src/encoder/outputCoder.js
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/validators/swap/abiEncoder.js
  packages/protocol/test/ACE/validators/swap/index.js
  packages/protocol/test/ERC1724/ZkAsset.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(dev-utils): add META_DATA_TEST constant to dev-utils package
  packages/dev-utils/src/constants.js
Owners: @PaulRBerg, @thomas-waite

feat(protocol): permissioning and noteAccess for updateNoteMetaData()
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
  packages/protocol/contracts/interfaces/IZkAsset.sol
  packages/protocol/contracts/test/ERC1724/ZkAssetTest.sol
  packages/protocol/test/ERC1724/ZkAsset.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): permissioning and noteAccess for updateNoteMetaData()
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
  packages/protocol/contracts/interfaces/IZkAsset.sol
  packages/protocol/contracts/test/ERC1724/ZkAssetTest.sol
  packages/protocol/test/ERC1724/ZkAsset.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): proof of concept MetaDataUtils library eslint and prettier fixes
  packages/aztec.js/src/encoder/inputCoder.js
  packages/aztec.js/src/encoder/outputCoder.js
  packages/aztec.js/src/note/index.js
  packages/aztec.js/src/proof/joinSplitFluid/index.js
  packages/aztec.js/test/encoder/inputCoder.js
  packages/aztec.js/test/note/index.js
  packages/aztec.js/test/proof/joinSplit/index.js
  packages/dev-utils/src/constants.js
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
  packages/protocol/contracts/libs/MetaDataUtils.sol
  packages/protocol/test/ACE/ACE.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(protocol): proof of concept MetaDataUtils library eslint and prettier fixes
  packages/aztec.js/src/encoder/inputCoder.js
  packages/aztec.js/src/encoder/outputCoder.js
  packages/aztec.js/src/note/index.js
  packages/aztec.js/src/proof/joinSplitFluid/index.js
  packages/aztec.js/test/encoder/inputCoder.js
  packages/aztec.js/test/note/index.js
  packages/aztec.js/test/proof/joinSplit/index.js
  packages/dev-utils/src/constants.js
  packages/protocol/contracts/ERC1724/base/ZkAssetBase.sol
  packages/protocol/contracts/libs/MetaDataUtils.sol
  packages/protocol/test/ACE/ACE.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix: fix rebase problems
  packages/aztec.js/src/note/utils.js
  packages/dev-utils/src/constants.js
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ERC1724/ZkAsset.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix: fix rebase problems
  packages/aztec.js/src/note/utils.js
  packages/dev-utils/src/constants.js
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ERC1724/ZkAsset.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(aztec.js): remove ephemeral from note schema add ephemeralFromMetaData() method to extract ephemeralKey when needed from the note metaData
  packages/aztec.js/src/note/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

feat(aztec.js): remove ephemeral from note schema add ephemeralFromMetaData() method to extract ephemeralKey when needed from the note metaData
  packages/aztec.js/src/note/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(aztec.js): update tests from updated note schema
  packages/aztec.js/src/proof/joinSplitFluid/index.js
  packages/aztec.js/src/proof/publicRange/index.js
  packages/aztec.js/test/encoder/inputCoder.js
  packages/aztec.js/test/encoder/outputCoder.js
  packages/aztec.js/test/note/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(aztec.js): update tests from updated note schema
  packages/aztec.js/src/proof/joinSplitFluid/index.js
  packages/aztec.js/src/proof/publicRange/index.js
  packages/aztec.js/test/encoder/inputCoder.js
  packages/aztec.js/test/encoder/outputCoder.js
  packages/aztec.js/test/note/index.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): fix JoinSplitFluidABIEncoder.sol metaData encoding ABI encoder was assigning the metaData of the newTotal note to the currentTotal note adjusted the encoding to fix this
  packages/protocol/contracts/ACE/validators/joinSplitFluid/JoinSplitFluidABIEncoder.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): fix JoinSplitFluidABIEncoder.sol metaData encoding ABI encoder was assigning the metaData of the newTotal note to the currentTotal note adjusted the encoding to fix this
  packages/protocol/contracts/ACE/validators/joinSplitFluid/JoinSplitFluidABIEncoder.sol
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test: add test case for newTotal metaData rename metaData parameter in UpdateTotalMinted() event from metadata to metaData
  packages/aztec.js/src/proof/joinSplitFluid/index.js
  packages/protocol/contracts/ERC1724/base/ZkAssetMintableBase.sol
  packages/protocol/test/ERC1724/ZkAssetMintable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test: add test case for newTotal metaData rename metaData parameter in UpdateTotalMinted() event from metadata to metaData
  packages/aztec.js/src/proof/joinSplitFluid/index.js
  packages/protocol/contracts/ERC1724/base/ZkAssetMintableBase.sol
  packages/protocol/test/ERC1724/ZkAssetMintable.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): migrate ACEJoinSplitFluid tests
  packages/protocol/test/ACE/ACEJoinSplitFluid.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): migrate ACEJoinSplitFluid tests
  packages/protocol/test/ACE/ACEJoinSplitFluid.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): add ACE tests for utility proofs
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/ACEJoinSplitFluid.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): add ACE tests for utility proofs
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/ACEJoinSplitFluid.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): refactor helper test methods move generateFactoryID() to a Factory.js helper test file remove redundant note.js test helper method test file
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/ACEJoinSplitFluid.js
  packages/protocol/test/ACE/NoteRegistry/NoteRegistryManager.js
  packages/protocol/test/ACE/NoteRegistry/epochs/201907/NoteRegistry.js
  packages/protocol/test/ERC1724/ZkAssetBurnable.js
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
  packages/protocol/test/helpers/Factory.js
  packages/protocol/test/helpers/note.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

test(protocol): refactor helper test methods move generateFactoryID() to a Factory.js helper test file remove redundant note.js test helper method test file
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/ACEJoinSplitFluid.js
  packages/protocol/test/ACE/NoteRegistry/NoteRegistryManager.js
  packages/protocol/test/ACE/NoteRegistry/epochs/201907/NoteRegistry.js
  packages/protocol/test/ERC1724/ZkAssetBurnable.js
  packages/protocol/test/ERC1724/ZkAssetOwnable.js
  packages/protocol/test/helpers/Factory.js
  packages/protocol/test/helpers/note.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): rebase off of develop
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/ACEJoinSplitFluid.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

fix(protocol): rebase off of develop
  packages/protocol/test/ACE/ACE.js
  packages/protocol/test/ACE/ACEJoinSplitFluid.js
Owners: @zac-williamson, @PaulRBerg, @thomas-waite

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

.circleci                       @PaulRBerg
packages/aztec.js               @zac-williamson @PaulRBerg @thomas-waite
packages/contract-addresses     @PaulRBerg
packages/contract-artifacts     @PaulRBerg
packages/dev-utils              @PaulRBerg @thomas-waite
packages/monorepo-scripts       @PaulRBerg
packages/protocol               @zac-williamson @PaulRBerg @thomas-waite
packages/huff                   @zac-williamson
packages/weierstrudel           @zac-williamson
